<section>

    <div id="prueba">
        
        <h1><strong>Tickets {{etapa.nombre}} de</strong></h1>
        <h1><strong> {{evento?.nombre}}</strong></h1> 
        <small class="float-right "><strong>Pulep:</strong> {{evento?.id}}</small>
        
        
    </div>
</section>




<section>
	<div class="mt-5  container ">
		<div class="row">
			
			<div style="text-align: center;" class="col-12  rounded  "><h1><strong> Localidades</strong></h1> <hr class="aaaa"> </div>
			
		</div>
	</div>

</section>

<section class="container-fluid mt-5" >
    <div class="row " >
  
    
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3  divisionLocalidad "  *ngFor ="let localidad of etapa?.localidades" style="text-align: center;">
	
        <div class="localidades border rounded">
        
          <div routerLink="pago/{{localidad.id}}" class="tituloLocalidad" *ngIf="localidad.boletas.length>0 &&!evento.mapa" >
            <h3><strong> {{localidad.nombre}} </strong></h3>
          </div>
          <div routerLink="pago/palco/{{localidad.id}}" class="tituloLocalidad" *ngIf="localidad.palcos.length>0 &&!evento.mapa" >
            <h3><strong> {{localidad.nombre}} </strong></h3>
          </div>
      
          <div routerLink="pago/mapa/{{localidad.id}}" class="tituloLocalidad" *ngIf="evento.mapa" >
            <h3><strong> {{localidad.nombre}} </strong></h3>
          </div>
          <div class="pt-2 " *ngIf="localidad.palcos.length>0">
            <h5><strong>Personas Por Palco</strong></h5>
            
            <p class="precioLocalidades"> <strong> {{ localidad.palcos[0].personasMaximas}}</strong></p>
          </div>
      
          <div class="pt-2 " *ngIf="localidad.boletas.length>0">
            <h5><strong>Personas Por Ticket</strong></h5>
            
            <p class="precioLocalidades"> <strong> 1</strong></p>
          </div>
          <hr>
          <div class="pt-2 ">
            <h5><strong>Quedan Disponibles</strong></h5>
            
            <p class="precioLocalidades" *ngIf="localidad.boletas.length>0"> <strong> {{ numeroBoletasPorVenderYNoReservadas(localidad)}}</strong></p>
            <p class="precioLocalidades" *ngIf="localidad.palcos.length>0"> <strong> {{ darCantidadDePalcos(localidad)}}</strong></p>
          </div>
      
      
      
          <hr>
          
          <div class="pt-2 ">
            
            <h5><strong>Precio + Servicio +IVA</strong></h5>
            <p class="precioLocalidades"> <strong> {{localidad.precio | currency: 'COP'}}</strong> + <strong>{{localidad.servicio|currency:'COP'}} </strong>+ <strong>{{localidad.servicio*IVA |currency:'COP'}}</strong></p>
          
          </div>
          <hr>
          <div class="p-3 " *ngIf="localidad.boletas.length>0 &&!evento.mapa">
            
            
            <button class="botonLogin rounded pt-2 pb-2" routerLink="pago/{{localidad.id}}">Comprar</button>
          </div>
      
          <div class="p-3 " *ngIf="localidad.palcos.length>0 &&!evento.mapa">
            
            
            <button class="botonLogin rounded pt-2 pb-2" routerLink="pago/palco/{{localidad.id}}">Comprar</button>
          </div>
        
        </div>	
      </div>

      <div class="col-12 mt-5" style="text-align: center;">
        <button *ngIf="evento.mapaImagen" class="action_button p-3" style="font-size: 15px;" (click)= "openDialog()">Mapa del evento</button>
      </div>


    </div>
  </section>



