<section class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>Mapa 1:</h1>
            <div *ngFor="let item of lista1">
                <div class="cuadros">
                    {{item}}
                </div>
            </div>
            <div class="tarima">
                Tarima
            </div>
            <div *ngFor="let item of lista2">
                <div class="cuadros">
                    {{item}}
                </div>
            </div>
            <div class="clearFix"></div>
            <div *ngFor="let item of lista3">
                <div class="cuadros">
                    {{item}}
                </div>
            </div>
            <div class="tarimaLarga"></div>
            <div *ngFor="let item of lista4">
                <div class="cuadros">
                    {{item}}
                </div>
            </div>

            <div class="clearFix"></div>
            <div *ngFor="let item of lista5">
                <div class="cuadros">
                    {{item}}
                </div>
            </div>
            <div class="tarimaLarga"></div>
            <div *ngFor="let item of lista6">
                <div class="cuadros">
                    {{item}}
                </div>
            </div>
            <div class="clearFix"></div>
            <div class="parte7">
                <div *ngFor="let item of lista7">
                    <div class="cuadros">
                        {{item}}
                    </div>
                </div>
                <div class="tarimaLarga"></div>
                <div *ngFor="let item of lista8">
                    <div class="cuadros">
                        {{item}}
                    </div>
                </div>
            </div>

            <div class="clearFix"></div>
            <div class="parte8">
                <div *ngFor="let item of lista9">
                    <div class="cuadros">
                        {{item}}
                    </div>
                </div>
                <div class="tarimaLarga"></div>
                <div *ngFor="let item of lista10">
                    <div class="cuadros">
                        {{item}}
                    </div>
                </div>
            </div>

            <div class="clearFix"></div>
            <div class="parte8">
                <div *ngFor="let item of lista11">
                    <div class="cuadros">
                        {{item}}
                    </div>
                </div>
                <div class="tarimaLarga"></div>
                <div *ngFor="let item of lista12">
                    <div class="cuadros">
                        {{item}}
                    </div>
                </div>
            </div>

            
            <div class="clearFix"></div>
            <div class="parte9">
                <div *ngFor="let item of lista13">
                    <div class="cuadros">
                        {{item}}
                    </div>
                </div>
                <div class="tarimaLarga"></div>
                <div *ngFor="let item of lista14">
                    <div class="cuadros">
                        {{item}}
                    </div>
                </div>
            </div> 

            <div class="clearFix"></div>
            <div class="parte9">
                <div *ngFor="let item of lista15">
                    <div class="cuadros">
                        {{item}}
                    </div>
                </div>
                <div class="tarimaLarga"></div>
                <div *ngFor="let item of lista16">
                    <div class="cuadros">
                        {{item}}
                    </div>
                </div>
            </div> 
            <div class="clearFix"></div>
            <div class="tarimaAncha"></div>
            
            <div class="parte10">
                <div *ngFor="let item of lista17">
                    <div class="cuadros">
                        {{item}}
                    </div>
                </div>
            </div> 
            <div class="clearFix"></div>
            <div class="parte11">
                <div *ngFor="let item of lista18">
                    <div class="cuadros">
                        {{item}}
                    </div>
                </div>
            </div> 

            <div class="clearFix"></div>
            <div class="parte12">
                <div *ngFor="let item of lista19">
                    <div class="cuadros">
                        {{item}}
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>