.arriba{
    background: linear-gradient(#666, #333);
    width: 100%; 
    color: white;
   
}
.botonesCerrar{
    color: #ecaebd;
}
.colorLetras{
    color:#ecaebd;
}
.centrarTexto{
    text-align: center;
}

.botonLogin{
    background: linear-gradient(#ecaebd, #aa5a6e); 
    width: 100%;
    color:white;
}