.terminos{
    color: #ed701c;
}
.clearfix{
    clear: both;
    float: none;
}
/*FOOTER*/
#footer{
    
    width: 100%;
    padding: 30px;
    background: rgba(16,36,56,1);
    color: white;
    overflow: hidden;
    font-family: sans-serif;
}




#footer img{
    width: 40%;
 
    margin-top: 10px;
    border-radius: 5px;

}

#info{
    text-align: center;

}
#info p{
    font-weight: bolder;
    padding: 20px;
    font-size: 25px;
    padding-top: 30px;
}

#footer #info img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
}
 #logo img{
    width:28%;

    padding-top: 0px;
    height: auto;
}
.izquierda{


    width: 25%;
    position:absolute;
}

