
<footer id="footer">
  
  <div class="wrap">

    <div class="izquierda">
      <p id="logo">
        <img src="../../assets/images/img/logo.png" alt="">
      </p>
    </div>
      <div id="info">

       
            <a href="https://wa.link/naamvz"><img src="./../../assets/images/img/logow.png" alt=""></a>
            <a href="https://www.instagram.com/all_tickets/"> <img  src="./../../assets/images/img/logoig.png" alt=""></a>
            <a href="https://www.facebook.com/allticketscol"> <img  src="./../../assets/images/img/logofb.png"  alt=""></a>
     

          <p >All Rights Reserved &copy; 2021</p>
          <a class="terminos" routerLink="terminosYcondiciones">Terminos y Condiciones</a>
          <br>
          <a class="terminos" routerLink="tratamientoDatos">Tratamiento de datos</a>
      </div>

  </div>
</footer>