<div class="container mt-5">
    <h1>Puntos Fisicos</h1>
<form (ngSubmit)="!todoForm.invalid && savePunto()" #todoForm="ngForm">
        
    <fieldset class="form-group">
        <label for="nombre">Id</label>
        <input type="text" class= "form-control"name ="id" required="required"  [(ngModel)]="punto.numeroDocumento">
    </fieldset>

    <fieldset class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class= "form-control"name ="nombre" required="required"  [(ngModel)]="punto.nombre">
    </fieldset>


    <fieldset class="form-group">
        <label for="nombre">Usuario</label>
        <input type="text" class= "form-control"name ="usuario" required="required"  [(ngModel)]="punto.usuario">
    </fieldset>

    <fieldset class="form-group">
        <label for="nombre">Contraseña</label>
        <input type="text" class= "form-control"name ="contrasena" required="required"  [(ngModel)]="punto.contrasena">
    </fieldset>

    <button class="btn btn-success" type="submit">Guardar</button>
</form>
</div>
