<section>
    <div id="prueba">
        <h1 class="centrado4 rounded"><strong>¿Comó comprar?</strong></h1>
    </div>
</section>

<div class="container centrarTexto">
    
    <div class="row">

        <section class="col-12  metodos">
            <p>Métodos de pago</p>
            <img src="../../assets/images/img/AM.png" alt="">
            <img src="../../assets/images/img/CR.png" alt="">
            <img src="../../assets/images/img/VS.png" alt="">
            <img src="../../assets/images/img/MC.png" alt="">
            <img src="../../assets/images/img/DC.png" alt="">            
            <p>Tarjetas de crédito</p>
    
        </section>


    </div>
    <div class="row">
              
        <section class="col-12  metodos" >
            <img src="../../assets/images/img/VS.png" alt="">
            <img src="../../assets/images/img/MC.png" alt="">
            <img src="../../assets/images/img/PSE.png" alt="">             
            <p>Tarjetas débito</p>
        </section>
            
        <section class="col-12  metodos" >
            <img src="../../assets/images/img/EF.png" alt=""> 
            <img src="../../assets/images/img/PR.png" alt="">       
            <img src="../../assets/images/img/BA.png" alt="">       
            <img src="../../assets/images/img/GA.png" alt="">       
            <img src="../../assets/images/img/RS.png" alt="">       
            <p>Efectivo (Depende del monto)</p>
        </section>

        
      
    </div>
</div>