.tituloLocalidad{
    background: linear-gradient(#666, #333); 
    color:#FFF;
    padding: 3%;
    width: 100%;
    
}
.eventoFondo{
    background-color: white;
    text-align: center;
}
.eventoFondo, fondoLogo{
    height: 280px;
}
img{
    width: 100%;
    padding: 20px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#prueba .pequeño{
    font-size: 17px;
}
.terminos{
    color:white;
}