<div id="prueba">
            
            
    <h1><strong>All Tickets</strong></h1>

    
</div>
<section class="container mt-5">
    <div class="row">

        <div class="col-4 contenedor8">
            
            <div class="tituloLocalidad rounded border">
                <div class="p-3">
                     <h1 style="font-size: 28px;"><strong>¿Quiénes somos?</strong></h1>
                </div>
            </div>
            
            <div class="eventoFondo border">
                <p class="text-justify p-4">
                    Somos All Tickets, una empresa colombiana dedicada a la venta de tickets electrónicos. 
                    ¡Mejoramos tu experiencia porque queremos que sólo te preocupes de disfrutar el evento al máximo! 
                    Por eso con nosotros puedes comprar tus tickets desde cualquier lugar, a cualquier momento y tenerlas al instante.
                </p>
            </div>
   
        
        
        </div>
      
        
        <div class="col-4 contenedor8" >
            <div class="tituloLocalidad rounded border">
                <div class="p-3">
                     <h1 style="font-size: 28px;"><strong>Misión</strong></h1>
                </div>
            </div>
            
            <div class="eventoFondo border">
                <p class="text-justify p-4">
                    Ser una tiquetera amigable para los usuarios y clientes, construyendo confianza por medio de la tecnología que implementamos.
                     Brindamos un excelente servicio al cliente para la comodidad del mismo.
                </p>
            </div>

        </div>
       


        <div class="col-4 contenedor8" >
            <div class="tituloLocalidad rounded border">
                <div class="p-3">
                     <h1 style="font-size: 28px;"><strong>Visión</strong></h1>
                </div>
            </div>
            
            <div class="eventoFondo border">
                <p class="text-justify p-4">
                    Mantenernos como una tiquetera tecnológica y ágil, que brinde propuestas innovadoras revolucionando la boletería,
                     aprovechando nuestras herramientas tecnológicas y adecuándonos a los cambios del mercado. 
Continuar posicionándonos en el mercado por nuestro enfoque en el servicio al cliente y transparencia en nuestra gestión.
                </p>
            </div>
        </div>
       
            
    </div>
</section>