<div id="prueba">
            
            
    <h1><strong>All Tickets</strong></h1>

    
</div>
<section class="container mt-5">
    <div class="row">

        <div class="col-4 contenedor8">
            
            <div class="tituloLocalidad rounded border">
                <div class="p-3">
                     <h1 style="font-size: 28px;"><strong>¿Quiénes somos?</strong></h1>
                </div>
            </div>
            
            <div class="eventoFondo border">
                <p class="text-justify p-4">
                    All Tickets revoluciona la boletería, manejamos boletas virtuales. Queremos que sólo te
                    preocupes de disfrutar al máximo el evento al que quieres ir, por eso con nosotros puede
                    comprar tus boletas desde cualquier lugar, a cualquier momento y tener al instante.
                </p>
            </div>
   
        
        
        </div>
      
        
        <div class="col-4 contenedor8" >
            <div class="tituloLocalidad rounded border">
                <div class="p-3">
                     <h1 style="font-size: 28px;"><strong>Misión</strong></h1>
                </div>
            </div>
            
            <div class="eventoFondo border">
                <p class="text-justify p-4">
                    Ser una tiquetera amigable para los usuarios y clientes, construyendo confianza por medio
                    de la tecnología que implementamos.
                </p>
            </div>

        </div>
       


        <div class="col-4 contenedor8" >
            <div class="tituloLocalidad rounded border">
                <div class="p-3">
                     <h1 style="font-size: 28px;"><strong>Visión</strong></h1>
                </div>
            </div>
            
            <div class="eventoFondo border">
                <p class="text-justify p-4">
                    Seremos una tiquetera tecnológica y ágil, que brinda propuestas innovadoras para
                    revolucionar la boletería. Esto lo lograremos aprovechando nuestras herramientas
                    tecnológicas y adecuándonos a los cambios del mercado.
                </p>
            </div>
        </div>
       
            
    </div>
</section>