.tituloLocalidad{
    background: linear-gradient(#666, #333); 
    color:#FFF;
    padding: 3%;
    width: 100%;
    
}
.eventoFondo{
    background-color: white;
    text-align: center;
}

.contenedor8:hover .tituloLocalidad{
    background: linear-gradient(#F9B84A, #ed701c); 
    
    
}