<div id="prueba">	
    <h1><strong>Reservas del evento {{evento?.nombre}}</strong></h1> 
</div>



<div id="desplazate">
    <p>
      <--- Desplázate para ver toda la información --->
    </p>
</div>



<section class="container-fluid mt-5">
    <div class="row">
      <div class="col-12 esconder">
        <table
          class="tabla table mt-3 border rounded tabla"
          style="text-align: center"
        >
          <thead>
            <tr class="border">
                <th class="border">Nombre del promotor</th>
              <th class="border">Link de la reserva</th>
              <th class="border">Documento del comprador</th>
              <th>Numero Del palco</th>
              <th>Eliminar Reserva</th>
          
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reserva of reservas; let i =index">
                <td class="border">
                    <strong>
                        {{promotores[i]?.nombre}}
                    </strong>
                  </td>
              <td class="border">
                <strong>
                  <a href="https://allticketscol.com/reservas/{{reserva?.id}}">
                  https://allticketscol.com/reservas/{{reserva?.id}}
                </a>               
                
                </strong>
              </td>
              <td class="border">
                <strong>{{ reserva?.documentoReserva }}</strong>
              </td>
        
              <td class="border">
                <strong>{{ palcos[i].numeroDentroDeEvento }}</strong>
              </td>
              <td class="border">
                <button class="btn action_button ml-2 mt-2" (click)="elminarReserva(reserva.id)">Eliminar Reserva</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  