
<section class="container mt-5">
    <h2>Todos los organizadores</h2>
    <div *ngIf ='message' class="alert alert-success ">{{message}}</div>
    <div class="container">
    <table class="table mt-3">

        <thead>
            <tr>
                <th>Numero de identificacion</th>
                <th>Nombre</th>
                <th>Modificar</th>
                <th>Borrar</th>
                
            </tr>
    
    
    
        </thead>
        <tbody>
          
            <tr *ngFor = "let orga of organizadores">
                <td>{{orga?.numeroDocumento}}</td>
                <td>{{orga?.nombre }}</td>
                <td><button routerLink= '/administradores/admin/organizadores/lista/update/{{orga.numeroDocumento}}' class="btn btn-warning"> Modificar</button></td>
                <td><button (click)="deleteOrganizador(orga?.numeroDocumento)" class="btn btn-danger"> Borrar</button></td>
    
            </tr>
    
    
        </tbody>
    
    </table>
</div>

<div class="row">
    <div class="col-12 mt-5" style="text-align: center;">
<button  routerLink="/administradores/admin/organizadores/lista/agregar" class="btn btn-success">Agregar Organizador</button>

</div>
</div>
</section>