table{
    text-align: center;
}
.container h2{
    text-align: center;
}
.contenedorLista{
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0,0.3);
    border-radius: 20px;
    text-align: center;
}
.contenedorLista>thead>tr>th:first-child{
    border-top-left-radius: 20px;
}
.contenedorLista>thead>tr>th:last-child{
    border-top-right-radius: 20px;
}
.contenedorLista>thead{
    color: white;
}
.contenedorLista>thead>tr{
    background-color: rgba(16,36,56,1);
}
.filasEventos:hover{
    background: rgb(177, 177, 177);
}
.filasEventos>td:nth-child(1){
    width: 80px;
}
.filasEventos>td:nth-child(2){
    text-align: start;
}
.filasEventos>td:nth-child(3),.filasEventos>td:nth-child(4),.filasEventos>td:nth-child(5){
    width: 110px;
}
@media(max-width:770px){
    .row{
        margin-left: 0 !important;
        width: 100%;
    }
    .contenedorLista{
        width: 100%;
        display: block;
        overflow-x: auto;
    }
    .container{
        width: 100%;
        padding: 0 !important;
        margin: 0;
        margin-left: 0 !important;
    }
    .container, .container-sm {
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media(max-width:500px){
    .container{
        width: 100%;
        padding: 0 !important;
    }
    
    .filasEventos>tr{
        width: 100%;
    }
    .contenedorLista th{
        width: 20px;
        padding: 0 !important;
    }
}