

 <!--BANNER-->
 <section class="Banner"  content="width=device-width m-xs-5" >
  <div class="row">
    <div class="col-12">
      <section id="banner" class="carousel slide"  data-ride="carousel">
      <!--Indicadores-->
        <ul class = "carousel-indicators" *ngFor= "let imagen of evento?.imagenes">
          <li data-target="banner" data-slide-to="imagen" class="active"> </li>
      
        </ul>		
        



          <!--Imagenes-->	
      <div class="carousel-inner outerLink">

        <div class="carousel-item active h-25"  *ngIf="evento?.imagenes[0]" >
          <img src="{{evento?.imagenes[0]}}" class="img-fluid align-items-center darkableImageBanner">
          <div class="carousel-caption">
            <h1><strong>Artistas: {{evento?.artistas}}</strong></h1>
          </div>
        </div>

        <div class="carousel-item"  *ngIf="evento?.imagenes[1]" >
          <img src="{{evento?.imagenes[1]}}" class="img-fluid align-items-center darkableImageBanner">
          <div class="carousel-caption">
            <h1><strong>En {{evento?.lugar}}</strong></h1>
          </div>
        </div>

        <div class="carousel-item"  *ngIf="evento?.imagenes[2]">
          <img src="{{evento?.imagenes[2]}}" class="img-fluid align-items-center darkableImageBanner">
          <div class="carousel-caption">
            <h1><strong>Empieza el día {{evento?.fecha}}</strong></h1>
          </div>
        </div>


      </div>


      <!--Controles-->	

        <a *ngIf="evento?.imagenes[1]" href="#banner" class="carousel-control-prev" data-slide= "prev"> <span class="carousel-control-prev-icon"></span></a>
        <a  *ngIf="evento?.imagenes[1]" href="#banner" class="carousel-control-next" data-slide= "next"><span class="carousel-control-next-icon"></span></a>


      </section>
    </div>
  </div>
</section>

<div id="prueba">
  <h1><strong>{{etapa?.nombre}} de</strong></h1>
  <h1><strong> {{evento?.nombre}}</strong></h1> 
  <h1 style="font-size: 25px;"><strong>Hola {{usuarioEntidad?.nombre}}</strong></h1>
  <small class="float-right pt-4"><strong>Pulep:</strong> {{evento?.id}}</small>
</div>
<section class="container">
  <div class="row">
    <div class="col-12">
      
    </div>
  </div>
</section>

<section class="container-fluid mt-5" >
  <div class="row " >

  <div class="col-12 col-xl-9 pl-5 pr-5" *ngIf="!evento?.mapa">
    <div class="row border rounded shadow" style="background-color: white;">
      <h4 class="p-3"><strong>Selección de Tickets por cada Localidad</strong></h4>
      <p class="pl-3 pr-3 pb-4">Por favor, indica el número de Tickets que deseas añadir a tu pedido. El numero de Tickets se limita a 6 por cada persona en cada evento.</p>
    
      <div class="col-12">
        <table class="table mt-2 tabla border shadow-xs p-3" style="text-align: center;" >
          <thead>
              <tr >
                  <th >Nombre</th>
                  <th>Cantidad</th>
                  <th>Aforo</th>
                  <th >Precio + Servicio +IVA</th>

                  
              </tr>
          </thead>
          <tbody>
              <tr  *ngFor ="let localidad of localidadesBoletas" >
                  <td><strong>{{localidad?.nombre }}</strong></td> 
                  <td >
                   <button class="pr-2 pl-2 rounded-circle" (click)= "quitaBoletaLocalidad(localidad)">-</button>
                   {{boletasLocalidadCantidadSeleccionada(localidad)}}
                   <button class=" rounded-circle" (click)= "reservarBoletasPorLocalidad(localidad)">+</button>
                  </td>
                  <td>{{numeroBoletasPorVenderYNoReservadas(localidad)}}</td>
                  <td><strong>{{localidad.precio | currency: 'COP'}}</strong> + <strong>{{localidad.servicio| currency:'COP'}} </strong> + <strong>{{localidad.servicio*IVA|currency:'COP'}}</strong></td> 
                  
                
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12  justify-content-end">
       <div>
         <h5> <strong>Total: </strong> {{valorLocalidadAgregada | currency:'COP'}} </h5>
         <h5><strong>Entradas: </strong> {{localidadesCompradas.length}}</h5>
       </div>
        <button style="font-size: 12px;" class="action_button float-right mr-1 mt-2 mb-3 p-3" (click) ="reservarBoletasLocalidad()"> Agregar al carrito</button>
      </div>
    </div>
  </div>


  

  <div class="col-12 col-xl-3 mt-5 mt-xl-0 rounded pl-4 pr-4" >
      <div class="row ">
          <div class="divisionLocalidad col-12 " >
            <div class="tituloLocalidad shadow ">
              <h3><strong> Carrito de compras </strong></h3>
            </div>
            <div class="border" >
              <div  class="border fondoBlanco" *ngFor="let boleta of boletas" >
                
                  <h6 class="pt-4 pl-4 pr-4"  >
                  <h6><strong>Boleta: </strong>{{boleta.id}} <strong>Precio: </strong>{{boleta.precio + boleta.servicio + boleta.servicio*IVA|currency:'COP'}}</h6>
                </h6>
              </div>
              <div  class="border fondoBlanco"  >
                <h6 class="pt-4 pl-4 pr-4" *ngIf="boletas.length==0" >
                  <strong> Agrega Tickets Al Carrito</strong>
                </h6>
              </div>
              <div class="fondoBlanco" *ngIf="boletas.length >0">
                <h6 class="p-4"  >
                  <strong>Valor Total:</strong> {{valorTotal |currency:'COP'}}
                </h6>
              </div>
            </div>
            <div class="p-4" >
                <form method="post" action="https://checkout.payulatam.com/ppp-web-gateway-payu/">
                  <input name="merchantId" type="hidden" value="{{merchantId}}">
                  <input name="accountId" type="hidden" value="{{accountId}}">
                  <input name="description" type="hidden" value="{{evento?.nombre}}">
                  <input name="referenceCode" type="hidden" value="{{referenceCode}}">
                  <input name="amount" type="hidden" value="{{valorTotal}}">
                  <input name="tax" type="hidden" value="0">
                  <input name="taxReturnBase" type="hidden" value="0">
                  <input name="currency" type="hidden" value="COP">
                  <input name="lng" type="hidden" value="es">
                  <input name="signature" type="hidden" value="{{signature}}">
                  <input name="test" type="hidden" value="0">
                  <input name="buyerEmail" type="hidden" value="{{usuarioEntidad?.correo}}">
                  <input name="buyerFullName" type="hidden" value="{{usuarioEntidad?.nombre}}">
                  <input name="responseUrl" type="hidden" value="http://www.test.com/response">
                  <input name="confirmationUrl" type="hidden" value="http://www.test.com/confirmation">
                  <input name="zipCode" type="hidden" value="12345">
                  <button name="Submit" class="action_button" type="submit" (click)="comprarBoletas()"  value="Enviar" style="font-size:16px ;">Pagar</button>
                </form>
          
            </div>
         
          </div>

          <div class="col-12" style="margin-top: 40%;">
          <button class="action_button float-right  mr-1 mt-2 mb-3 p-3" style="font-size: 16px;" routerLink="regalar">Regala un Ticket</button>
        </div>
      </div>
  </div>
  </div>








  
  <br>
  
</section>

<hr>



<section *ngIf="!evento?.mapa">
	<div class="mt-5  container ">
		<div class="row">
			
			<div style="text-align: center;" class="col-12  rounded  "><h1><strong> Palcos</strong></h1> <hr class="aaaa"> </div>
			
		</div>
	</div>

</section>



<section class="container-fluid rounded mt-3  ">
	<div class="row">
<div class="col-12 mt-3 ubicaciones" >


</div>

<div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3  divisionLocalidad "  *ngFor ="let localidad of localidadesPalcos" style="text-align: center;">
	
	<div class="localidades border rounded" >
		<div class="pt-2 ">
			<h5><strong>Aforo</strong></h5>
			
			<p class="precioLocalidades"> <strong> {{ darCantidadDePalcos(localidad)}}</strong></p>
		</div>
		<hr>

		<div class="pt-2 ">
			<h5><strong>Personas Por Palco</strong></h5>
			
			<p class="precioLocalidades"> <strong> {{ localidad.palcos[0].personasMaximas}}</strong></p>
		</div>
		<hr>
		<div class="p-3 ">
			
			<h5><strong>Precio + Servicio</strong></h5>
			<p class="precioLocalidades"> <strong> {{localidad.precio | currency: 'COP'}}</strong> + <strong>{{localidad.servicio|currency:'COP'}} </strong>+ <strong>{{localidad.servicio*IVA |currency:'COP'}}</strong></p>
		</div>
		<div class="tituloLocalidad">
			<h3><strong> {{localidad.nombre}} </strong></h3>
		</div>
	</div>	
</div>

<div class="col-12  mt-5" style="text-align: center;">
	<a class="action_button rounded mt-5 shadow  mr-1 mt-2 mb-3 p-3 " style="font-size:16px;" routerLink="palcos">Comprar Palco</a>

</div>



</div>

	
</section>
