<div id="prueba">
  <h1 *ngFor="let etapaa of etapa"><strong>{{etapaa?.nombre}} de </strong></h1>
  <h1><strong> {{evento?.nombre}}</strong></h1>
  <h1 style="font-size: 25px;"><strong>Hola {{usuarioEntidad?.nombre}}</strong></h1>
  <h1 *ngIf="codigoVenta"><strong>Link {{codigoVenta}}</strong></h1>
  <small class="float-right pt-4"><strong>Pulep:</strong> {{evento?.id}}</small>
</div>
<section class="container">
  <div class="row">
    <div class="col-12">

    </div>
  </div>
</section>

<section class="container-fluid mt-5 palconomapa">
  <div class="row ">

    <div class="col-12  pl-5 pr-5" *ngIf="!evento?.mapa">
      <div class="row  rounded shadow-lg" style="background-color: white;">
        <div class="col-12">
          <h4 class="p-3"><strong>Selección de Tickets por cada Localidad</strong></h4>
          <div>
          <h4 class="pl-3 pb-1" *ngIf="this.evento.id=='PHC195'"><strong>Descuento del 10% con:</strong></h4>
          <p class="pl-3 pb-1 "*ngIf="this.evento.id=='PHC195'">
            Descuento exclusivo Bancos Aval 10% dto en boletería pagando con tus tarjetas de crédito y débito de los Bancos Aval y de Dale!
          </p>
          
          <img src="../../../../assets/images/img/Aval 1.png" class="w50 pl-3 pb-1" alt="" *ngIf="this.evento.id=='PHC195'">	
        </div>
          <p class="pl-3 pr-3">Por favor, indica el número de Tickets que deseas añadir a tu compra. El numero de
            Tickets se limita a 6 para cada persona en cada evento.</p>
            <p *ngIf="evento?.visibleAP"><strong>Recuerda que desde YA puedes comprar los productos del evento con descuento en: <a class="colorMorado" href="https://allproductscol.com/eventos/evento/{{evento?.id}}">https://allproductscol.com/eventos/evento/{{evento?.id}}</a> </strong></p>
        </div>
        <div class="col-12 esconder">
          <div class="ver" >
            <p>
              <--Desplázate en la tabla-->
            </p>
          </div>
          <table class="table mt-2 tabla border shadow-xs p-3" style="text-align: center;">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
               
                <th>Precio + Servicio + IVA</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>{{localidad?.nombre }}</strong></td>
                <td>
                  <button class="pr-2 pl-2 rounded-circle  addPalco" (click)="quitaBoletaLocalidad(localidad)">-</button>
                  {{boletasLocalidadCantidadSeleccionada(localidad)}}
                  <button class=" rounded-circle  addPalco" (click)="reservarBoletasPorLocalidad(localidad)">+</button>
                </td>
 
                <td *ngIf="evento.id!='AT2022-37'&& evento.id!='AT2022-36'"><strong>{{localidad.precio | currency: 'COP'}}</strong> + <strong>{{localidad.servicio|
                    currency:'COP'}} </strong> + <strong>{{localidad.servicioPorcentaje|currency:'COP'}}</strong></td>

                    <td *ngIf="evento.id=='AT2022-37'||evento.id=='AT2022-36'"><strong>{{localidad.precio | currency: 'USD'}}</strong> + <strong>{{localidad.servicio|
                      currency:'USD'}} </strong> + <strong>{{localidad.servicioPorcentaje|currency:'USD'}}</strong></td>


              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12  justify-content-end">
          <div>
            <h5 *ngIf="evento.id!='AT2022-37'&&evento.id!='AT2022-36'"> <strong>Total: </strong> {{valorLocalidadAgregada | currency:'COP'}} </h5>
            <h5 *ngIf="evento.id=='AT2022-37'||evento.id=='AT2022-36'"> <strong>Total: </strong> {{valorLocalidadAgregada | currency:'USD'}} </h5>
            <h5><strong>Entradas: </strong> {{localidadesCompradas.length}}</h5>
            <div>

            </div>
          </div>
          <button style="font-size: 12px;" class="action_button float-right mr-1 mt-5 mb-3 p-3"
            (click)="reservarBoletasLocalidad()">Comprar</button>
        </div>
      </div>
    </div>

  </div>



</section>

<app-redes-sociales></app-redes-sociales>