.aaaa{
            
    border: 2px solid #ed701c;

    height: 0px;
    width: 180px;
   
      }
      .parrafosInstrucciones{
          font-size: 20px;
      }
      .fondoBlanco{
        background-color: white;
    }
    p{
        font-size: 20px;
    }
    
    label{
        font-size: 20px;
    }
    .divisionLocalidad
    {
     
        
        text-align: right;
        width: 600px;
        text-align: center;
        transition: all 1s; 
        position: relative; 
        width: 100%;
    }
    
    
        .tituloLocalidad{
            background: linear-gradient(rgba(236, 158, 40), rgba(255, 80, 28)); 
            color:#FFF;
            padding: 3%;
            width: 100%;
            
        }
    
        .action_button:hover{
            background: linear-gradient(rgba(236, 158, 40, 0.87), rgba(255, 80, 28, 0.87)); 
        }
    
        
        .action_button {
            text-decoration: none; 
            color: #fff; 
            font-weight: bold; 
            border-radius: 5px; 
            background: linear-gradient(#666, #333); 
            font-size: 11px; 
            text-transform: uppercase;
        }
    
    
    
        
    
    .fondoArriba
    {
        
      background-color:linear-gradient(#666, #333);
      background: linear-gradient(rgba(236, 158, 40), rgba(255, 80, 28)); 
      color:#FFF;
      padding: 1%;
      width: 100%;
        
    }
    
        th{
            background:linear-gradient(#666, #333);
            color: white;
        }
        td{
            background-color: white;
        }




        
    .cuadros {
        background-color: #ccc;
        padding: 1%;
        width: 3%;
      
        margin: 1px;
        float: left;
        font-size: 1em;
        cursor: pointer;
      }
      .cuadros:hover{
          background-color: #aaa;
      }
      .tarima {
        float: left;
        background-color: #333;
        padding: 1%;
        color: white;
        margin: 1px;
        width: 15%;
        text-align: center;
      
      }
      
      .clearFix {
        clear: both;
        float: none;
      }
      .tarimaLarga {
        background-color: #333;
        padding: 1%;
        float: left;
        margin-top: -1px;
        height: 8%;
        width: 2.5%;
      }
      .tarimaAncha {
        width: 25%;
        background-color: #333;
        margin-left: 33.5%;
        padding: 1%;
      }
      .parte7 {
        padding-left: 19.4%;
      }
      .parte7 .cuadros {
        padding: 1%;
        width: 4%;
        
      }
      .parte7 .tarimaLarga{
          height: 60px;
          width: 3.1%;
          margin-right: 1%;
        margin-left: 1%;
      }
      
      .parte8 {
        padding-left: 20.7%;
      }
      .parte8 .cuadros {
        padding: 1%;
        width: 4.5%;
      }
      
      .parte8 .tarimaLarga{
          height: 60px;
          width: 3.1%;
          margin-right: 1%;
        margin-left: 1%;
      }
      
      .parte9 {
        padding-left: 8.85%;
      }
      .parte9 .cuadros {
        padding: 1%;
        width: 4%;
      }
      
      .parte9 .tarimaLarga{
          height: 60px;
          width: 2.7%;
          margin-right: 1%;
        margin-left: 1%;
      }
      
      
      .parte10 {
        margin-left: 5%;
        margin-right: 10%;
      }
      .parte10 .cuadros {
        padding: 0.8%;
        width: 4%;
        margin: 1%;
      }
      
      .parte11 {
        margin-left: 12%;
        margin-right: 12%;
      }
      .parte11 .cuadros {
        padding: 0.8%;
        width: 4%;
        margin: 1%;
      }
      
      .parte12 {
        margin-left: 40%;
       
      }
      .parte12 .cuadros {
        padding: 1%;
        width: 6%;
        margin: 1%;
      }
      