

  <div id="prueba">
    <h1><strong>{{etapa?.nombre}} de Palcos</strong></h1>
    <h1><strong> {{evento?.nombre}}</strong></h1> 
    <h1 style="font-size: 25px;"><strong>Hola {{usuarioEntidad?.nombre}}</strong></h1>
    <small class="float-right pt-4"><strong>Pulep:</strong> {{evento?.id}}</small>
  </div>

  <section class="container-fluid mt-5 ">
      <div class="row  pr-5 pl-5 " >
          <div class="col-12 fondoArriba border rounded" style=" text-align: center;">
            <h1><strong>Instrucciones</strong></h1>
           
            <br>
            
          </div>
          <div class="col-12 pt-4 pb-4 border rounded" style="background-color: white;">
            <p class="parrafosInstrucciones"><strong>1.</strong> Selecciona el Palco que deseas comprar.</p>
            <p class="parrafosInstrucciones"><strong>2.</strong> Reservalo minimo con el 10% del valor total.</p>
            <p class="parrafosInstrucciones"><strong>3.</strong> Entra a tu perfil y busca el palco que reservaste.</p>
            <p class="parrafosInstrucciones"><strong>4.</strong> Agrega todos los usuarios All Tickets que van a aportar a la vaca.</p>
            <p class="parrafosInstrucciones"><strong>5.</strong> Listo, cada uno puede aportar desde su perfil.</p>
            <div style="text-align: center;">
                <h4><strong><ins>Recuerda que tienes un plazo de 24 horas para completar el 50% del pago y un plazo de 72 horas para completar el 100% del pago, en caso de no hacer no se podra hacer un reembolso completo</ins></strong></h4>
            </div>
          </div>
   
      </div>
  </section>
<section class="container-fluid " >
    <div class="row " >
    
      <div class="col-12 "  *ngIf="!evento?.mapa">
        <div class="row border ml-4 mt-4 mr-4 rounded shadow" style="background-color: white;">
          <h4 class="p-3"><strong>Selección de Palcos</strong></h4>
          <p class="pl-3 pr-3 pb-4">Por favor, indica el palco que deseas añadir a tu pedido. El numero de Palcos por compra se limita a 1 y puedes comprar máximo 2 por cada evento, para reservar el palco es necesario el 10% del precio completo y cuentas con un plazo de 24 horas para pagar el 50% y 72 horas para pagar el 100%.</p>
        
          <div class="col-12">
            <table class="table mt-2 tabla border shadow-xs p-3" style="text-align: center;" >
              <thead>
                  <tr >
                      <th >Nombre</th>
                      <th>Agregar</th>
                      <th>Disponibles</th>
                      <th >Precio + Servicio + IVA</th>
    
                      
                  </tr>
              </thead>
              <tbody>
                  <tr  >
                      <td><strong>{{localidadCargada?.nombre }}</strong></td> 
                      <td >
                       
                       <button class="rounded-circle" (click)="agregarALaLista(localidadCargada)">+</button>
                       
                      </td>
                      <td>{{darCantidadDePalcos(localidadCargada)}}</td>
                      <td><strong>{{localidadCargada.precio | currency: 'COP'}}</strong> + <strong>{{localidadCargada.servicio| currency:'COP'}}</strong> + <strong>{{localidadCargada.servicio*IVA|currency:'COP'}}</strong></td> 
                      
                    
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 mt-3">
            <fieldset class="form-group">
                <label for="tipo"><strong>Selecciona el porcentaje con el que vas a reservar</strong></label>
                <select (change)="cambiarTotal()" type="text" class= "form-control "name ="tipo" required="required" style="width: 100px;" [(ngModel)]="porcentaje">
                    <option value=10>10%</option>
                    <option value=20>20%</option>
                    <option value=30>30%</option>
                    <option value=40>40%</option>
                    <option value=50>50%</option>
                    <option value=60>60%</option>
                    <option value=70>70%</option>
                    <option value=80>80%</option>
                    <option value=90>90%</option>
                    <option value=100>100%</option>
                </select>    
            </fieldset>
            
          </div>
          <div class="col-12 justify-content-end">
           <div>
             <h5> <strong>Total: </strong> {{valorLocalidadAgregada | currency:'COP'}} </h5>
             <h5 ><strong>Entradas: </strong>  {{valorBoletas}} </h5>
             
           </div>
            <button style="font-size: 12px;" class="action_button float-right mr-1 mt-2 mb-3 p-3" (click) ="agregarAlCarrito()" > Agregar al carrito</button>
          </div>
        </div>
      </div>


      <div class="col-12  pl-5 pr-5 mt-3" *ngIf="evento?.mapa=='mapa1'" style="margin: 0px auto;">
        <h2><strong>Selecciona el palco que deseas comprar</strong> </h2>
        <div *ngFor="let item of lista1">
          <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
            {{item}}
          </div>
        </div>
        <div class="tarima">
          Tarima
        </div>
        <div *ngFor="let item of lista2">
          <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
            {{item}}
          </div>
        </div>
        <div class="clearFix"></div>
        <div *ngFor="let item of lista3">
          <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
            {{item}}
          </div>
        </div>
        <div class="tarimaLarga"></div>
        <div *ngFor="let item of lista4">
          <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
            {{item}}
          </div>
        </div>
  
        <div class="clearFix"></div>
        <div *ngFor="let item of lista5">
          <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
            {{item}}
          </div>
        </div>
        <div class="tarimaLarga"></div>
        <div *ngFor="let item of lista6">
          <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
            {{item}}
          </div>
        </div>
        <div class="clearFix"></div>
        <div class="parte7">
          <div *ngFor="let item of lista7">
            <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
              {{item}}
            </div>
          </div>
          <div class="tarimaLarga"></div>
          <div *ngFor="let item of lista8">
            <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
              {{item}}
            </div>
          </div>
        </div>
  
        <div class="clearFix"></div>
        <div class="parte8">
          <div *ngFor="let item of lista9">
            <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
              {{item}}
            </div>
          </div>
          <div class="tarimaLarga"></div>
          <div *ngFor="let item of lista10">
            <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
              {{item}}
            </div>
          </div>
        </div>
  
        <div class="clearFix"></div>
        <div class="parte8">
          <div *ngFor="let item of lista11">
            <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
              {{item}}
            </div>
          </div>
          <div class="tarimaLarga"></div>
          <div *ngFor="let item of lista12">
            <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
              {{item}}
            </div>
          </div>
        </div>
  
  
        <div class="clearFix"></div>
        <div class="parte9">
          <div *ngFor="let item of lista13">
            <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
              {{item}}
            </div>
          </div>
          <div class="tarimaLarga"></div>
          <div *ngFor="let item of lista14">
            <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
              {{item}}
            </div>
          </div>
        </div>
  
        <div class="clearFix"></div>
        <div class="parte9">
          <div *ngFor="let item of lista15">
            <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
              {{item}}
            </div>
          </div>
          <div class="tarimaLarga"></div>
          <div *ngFor="let item of lista16">
            <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
              {{item}}
            </div>
          </div>
        </div>
        <div class="clearFix"></div>
        <div class="tarimaAncha"></div>
  
        <div class="parte10">
          <div *ngFor="let item of lista17">
            <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
              {{item}}
            </div>
          </div>
        </div>
        <div class="clearFix"></div>
        <div class="parte11">
          <div *ngFor="let item of lista18">
            <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
              {{item}}
            </div>
          </div>
        </div>
  
        <div class="clearFix"></div>
        <div class="parte12">
          <div *ngFor="let item of lista19">
            <div class="cuadros" (click)="getPalcoIndividualParaMapa(item)">
              {{item}}
            </div>
          </div>
        </div>
  
      </div>
  
   <div class="fondoBlanco row border ml-5">
      <div class="col-12 mt-3">
        <fieldset class="form-group">
            <label for="tipo"><strong>Selecciona el porcentaje con el que vas a reservar</strong></label>
            <select (change)="cambiarTotalIndividual()" type="text" class= "form-control "name ="tipo" required="required" style="width: 100px;" [(ngModel)]="porcentaje">
                <option value=10>10%</option>
                <option value=20>20%</option>
                <option value=30>30%</option>
                <option value=40>40%</option>
                <option value=50>50%</option>
                <option value=60>60%</option>
                <option value=70>70%</option>
                <option value=80>80%</option>
                <option value=90>90%</option>
                <option value=100>100%</option>
            </select>    
        </fieldset>
        
      </div>
      <div class="col-12 justify-content-end">
       <div>
        <h5><strong>Palco seleccionado: </strong>{{palco?.numeroDentroDeEvento}}</h5>
         <h5> <strong>Total: </strong> {{valorLocalidadAgregada | currency:'COP'}} </h5>
         <h5 ><strong>Entradas: </strong>  {{valorBoletas}} </h5>
         
       </div>
        <button style="font-size: 12px;" class="action_button float-right mr-1 mt-2 mb-3 p-3" (click) ="agregarPalcoIndividual()" > Agregar al carrito</button>
      </div>
    </div>
    </div>

  </section>