<section class="container mt-5">

    <div class="row">
        <div class="col-12">
    <h2>Todos los adicionales del {{evento?.nombre}}</h2>
    <button class="btn btn-success" routerLink="/administradores/admin/eventos/lista">Atras</button>
    <div *ngIf ='message' class="alert alert-success ">{{message}}</div>
    <div class="container">
    <table class="table mt-3">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Servicio</th>
                <th>ServicioIva</th>
                <th>Total</th>
                                
            </tr>
    
    
    
        </thead>
        <tbody>
          
            <tr *ngFor = "let adicional of evento.adicionales">
                <td>{{adicional?.id }}</td>
                <td>{{adicional?.nombre }}</td>
                <td>{{adicional?.precio| currency: 'COP'}}</td>
                <td>{{adicional?.servicio| currency: 'COP'}}</td>
                <td>{{adicional?.servicioIva| currency: 'COP'}}</td>
                <td>{{adicional?.servicio +adicional?.precio + adicional?.servicioIva| currency: 'COP'}}</td>

                <td><button  class="btn btn-danger" (click)="borrarAdicional(adicional.id)"> Delete</button></td>
    
            </tr>
    
    
        </tbody>
    
    </table>
</div>
<div class="row">
    <div class="col-12 mt-5" style="text-align: center;">
<button  routerLink="agregar" class="btn btn-success">Agregar Adicional</button>

</div>
</div>
</div>
</div>
</section>