
<div id="prueba">
  <h1><strong>{{etapa?.nombre}} de</strong></h1>
  <h1><strong> {{evento?.nombre}}</strong></h1> 
  <small class="float-right pt-4"><strong>Pulep:</strong> {{evento?.id}}</small>
</div>

<section class="container-fluid mt-5" >
    <div class="row " >
  
    <div class="col-12  pl-5 pr-5" *ngIf="!evento?.mapa">
      <div class="row border rounded shadow" style="background-color: white;">
        
      
        <div class="col-12">
            <h4 class="pt-3 pl-3 pr-3"><strong>Selección de Ticket</strong></h4>
            <p class="pl-3 pr-3 pt-3">Por favor llena los datos de la persona que va a asistir al evento y selecciona el Ticket que vas a comprar</p>
            <p class="pl-3 pr-3 pb-3"><strong>Recuerda que un asistente solo puede tener 1 boleta para cada evento</strong></p>
          <table class="table mt-2 tabla border shadow-xs p-3" style="text-align: center;" >
            <thead>
                <tr >
                    <th >Nombre</th>
                    <th>Cantidad</th>
                    <th>Disponibles</th>
                    <th >Precio + Servicio +IVA</th>
  
                    
                </tr>
            </thead>
            <tbody>
                <tr   >
                    <td><strong>{{localidad?.nombre }}</strong></td> 
                    <td >
     
                     <button class=" rounded-circle" (click)= "reservarBoletasPorLocalidad(localidad)">+</button>
                    </td>
                    <td>{{numeroBoletasPorVenderYNoReservadas(localidad)}}</td>
                    <td><strong>{{localidad.precio | currency: 'COP'}}</strong> + <strong>{{localidad.servicio| currency:'COP'}} </strong> + <strong>{{localidad.servicio*IVA|currency:'COP'}}</strong></td> 
                    
                  
                </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 mt-3 justify-content-end">
            <div>
              <h5> <strong>Total: </strong> {{valorLocalidadAgregada | currency:'COP'}} </h5>
              <h5><strong>Entradas: </strong> {{boletaN}} </h5>
            </div>
             
           </div>

        <div class="col-12 mt-3">
            <h4><strong>Datos del Asistente</strong></h4>
        <form (ngSubmit)="!todoForm.invalid && reservarBoletasLocalidad()" #todoForm="ngForm">
                
                <fieldset class="form-group">
                    <label for="id">Numero Documento</label>
                    <input type="number" class= "form-control"name ="id" required="required"  [(ngModel)]="asistente.numeroDocumento">
                </fieldset>    
            <fieldset class="form-group">
                <label for="nombre">Nombre Completo</label>
                <input type="text" class= "form-control"name ="nombre" required="required"  [(ngModel)]="asistente.nombre">
            </fieldset>
        
            <fieldset class="form-group">
              <label for="nombre">Correo</label>
              <input type="text" class= "form-control"name ="nombre" required="required"  [(ngModel)]="asistente.correo">
          </fieldset>
      
        
            <fieldset class="form-group">
                <label for="nombre">Celular</label>
                <input type="number" class= "form-control"name ="usuario" required="required"  [(ngModel)]="asistente.celular">
            </fieldset>

            <button style="font-size: 12px;"  type="submit" class="action_button float-right mr-1 mt-5 mb-3 p-3" > Agregar al carrito</button>
        </form>
        </div>

      </div>
    </div>
  
  
  
  
    <div class="col-12 col-xl-9 pl-5 pr-5" *ngIf="evento?.mapa=='mapa1'">
      <div class="row border rounded shadow" style="background-color: white;">
        <h1>MAPA 1</h1>
      </div>
    </div>

    </div>

    
  </section>
