
		<div id="prueba">	
            <h1><strong>Bienvenido a All Tickets </strong></h1> 
		</div>


<section class="container mt-5">

    <div class="container">
        <table class="table mt-3 border rounded tabla" >
            <thead>
                <tr class="border ">
                    
                    <th class="border ">Nombre</th>
                    <th class="border ">Fecha</th>
                    <th class="border ">Lugar</th>               
                           
                    <th class="border ">Ver Perfil</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr class="border"*ngFor = "let evento of eventos" >
                    
                    <td class="border" *ngIf="evento.id!='AT2022-32' && evento.id!='AT2022-35'"> <strong>{{evento?.nombre }}</strong></td> 
                    <td class="border" *ngIf="evento.id!='AT2022-32' && evento.id!='AT2022-35'"> <strong>{{evento?.fecha }} Hora: {{evento?.horaInicio}}</strong></td> 
                    <td class="border" *ngIf="evento.id!='AT2022-32' && evento.id!='AT2022-35'"> <strong>{{evento?.lugar }}</strong></td> 
                    
                    <td class="border" *ngIf="evento.id!='AT2022-32' && evento.id!='AT2022-35'"> <button class="btn action_button" routerLink="evento/{{evento?.id}}">Ver Perfil</button></td> 
                </tr>
            </tbody>
        </table>
    </div>
</section>