
            .aaaa{
            
                border: 2px solid #ed701c;
        
                height: 0px;
                width: 70px;
               
                  }
                  .fondoBlanco{
                    background-color: white;
                }

                .tituloLocalidad{
                  background: linear-gradient(rgba(236, 158, 40), rgba(255, 80, 28)); 
                  color:#FFF;
                  padding: 3%;
                  width: 100%;
                  
              }
              .divisionLocalidad
              {
               
                  
                  text-align: right;
                  width: 600px;
                  text-align: center;
                  transition: all 1s; 
                  position: relative; 
                  width: 100%;
              }