.aaaa{        
    border: 2px solid #ed701c;
    height: 0px;
    width: 70px;
}
.eventoFondo{
    background-color: white;
    
}
h3{
    color: white;
}
.arriba{
    background: linear-gradient(#666, #333); 
   
}