.botonLogin {
  background: linear-gradient(#ecaebd, #aa5a6e); 
  width: 50%;
  color: white;
  border: white;
  font-size: 21px;
}
.precios{
  font-size: 8px;
  font-weight: bolder;
}
.largo{
  border-radius: 0;
}
.botonComprar {
  background: linear-gradient(#ecaebd, #aa5a6e); 
  width: 150px;
  color: white;
  border: white;
  font-size: 14px;
  font-weight: bolder;
  
}
.orange{
  background: linear-gradient(#ecaebd, #aa5a6e); 
  color: white;
  border: white;
  font-weight: bolder;
}

.localidades div h5,.localidades div p{
  padding: 0px 10px;
}

#prueba9 {
  padding: 10px;
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.addP>p{
  font-size: 16px !important;
}
#contador .contenedor {
  margin: 0px auto;

  text-align: center;
  width: 60%;
  padding: 10px;
  background: linear-gradient(#333, #666);
  box-shadow: 1px 1px 1px #333, 2px 2px 2px #333, 3px 3px 3px #333,
    4px 4px 4px #333, 5px 5px 5px #333;
  border: 4px solid black;
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
}
@media (max-width: 1557px) {
  #contador .contenedor {
    width: 80%;
  }
}
@media (max-width: 887px) {
  #contador .contenedor {
    width: 90%;
  }
}

@media (max-width: 641px) {
  #contador .contenedor {
    width: 95%;
  }
}
@media (max-width: 503px) {
  #contador .contenedor {
    width: 100%;
  }
  .nombreEvento{
    height: 100%;
  }
  .eventoVideo, .eventoVideo>div{
    padding: 0;
  }
  .eventoVideo iframe{
    height: 100%;
  }
  .contenederoBlanco{
    margin-top: 20px !important;
    padding: 5px !important;
  }
  .ubicaciones{
    font-size: 19px !important;
  }
  .botonCompra{
    font-size: 12px !important;
    padding: 10px 10px !important;
  }
  .orange{
    background: linear-gradient(#ecaebd, #aa5a6e); 
    color: white;
    border: white;
    font-weight: bolder;
    padding: 13px 13px !important;
  }
  .divBoton{
    margin-bottom: 10px !important;
  }
  #prueba9{
    padding: 5px 5px !important;
    margin-top: 4px !important;
  }
  #prueba9>h1{
    margin-bottom: 0.2rem;
    margin-top: 0.2rem; 
    font-size: 15px !important;
  }
  .btnLog{
    width: 30% !important;
  }
  .hrTicket{
    margin-bottom: 0 !important;
  }
  .divisionLocalidad2{
    padding: 4px !important;
  }
  .tituloLocalidad2, .tituloLocalidad{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 3% !important;
  }
  .tituloLocalidad2>h3, .tituloLocalidad>h3{
    font-size: 17px;
    margin-bottom: 0 !important;
  }
  .ticketTitulo{
    font-size: 16px !important;
  }
  .ticketNumero{
    font-size: 19px !important;
  }
  .sinVideo{
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .sinPadding{
    padding: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .mapaEvento{
    width: 100%;
  }
  #prueba{
    padding: 13px 5px !important;
  }
  #prueba>h1{
    margin-bottom: 0 !important;
    font-size: 17px;
  }
  #prueba small {
    font-size: 11px;
  }
  .addP>p{
    font-size: 14px !important;
  }
}
#contador .contenedor p {
  font-weight: bold;
  font-size: 19px;
  display: grid;
  float: left;
}
#contador .contenedor p span {
  font-size: 21px;
  color: #ecaebd;  
}

@media (max-width: 767px) {
  #contador .contenedor p {
    font-size: 17px;
  }
  #contador .contenedor p span {
    font-size: 17px;
  }
}

@media (max-width: 571px) {
  #contador .contenedor p {
    font-size: 12px;
  }
  #contador .contenedor p span {
    font-size: 14px;
  }
  .vid{
    padding: 0;
  }
}

@media (max-width: 465px) {
  .ticketTitulo{
    font-size: 14px !important;
  }
  #contador .contenedor p {
    font-size: 9px;
  }
  #contador .contenedor p span {
    font-size: 11px;
  }
  .divBoton{
    margin-top: 0px !important;
  }
}

@media (max-width: 381px) {
  #contador .contenedor p {
    font-size: 7px;
  }
  #contador .contenedor p span {
    font-size: 9px;
  }
}
#prueba9:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#ecaebd, #aa5a6e); 
}

#prueba9 h1 {
  font-size: 29px;
  color: white;
  position: relative;
}

.ubicaciones {
  text-align: center;
}
.contenederoBlanco {
  background-color: white;
}
h3 {
  font-size: 24px;
}
.tituloLocalidad2>h3{
  font-size: 20px !important;
  margin-bottom: 0px !important;
}
#prueba9>h1{
  margin-bottom: 0px !important;
}
.Ahr {
  width: 100%;
}

.localidades {
  background-color: white;
}
.divisionLocalidad {
  text-align: right;

  text-align: center;
  transition: all 1s;
  position: relative;
  width: 100%;
}

.tituloLocalidad {
  background: linear-gradient(#666, #333);
  color: #fff;
  padding: 3%;
  width: 100%;
  cursor: pointer;
}

.divisionLocalidad:hover .tituloLocalidad {
  background: linear-gradient(#ecaebd, #aa5a6e); 
}

.divisionLocalidad:hover {
  transform: scale(1.01);
}

.tituloLocalidad2 {
  background: linear-gradient(#666, #333);
  color: #fff;
  padding: 5%;
  width: 100%;
}

.precioLocalidades {
  font-size: 21px;
  color: #ecaebd;
}
p {
  font-size: 16px;
}
.aaaa {
  border: 2px solid #ecaebd;

  height: 0px;
  width: 70px;
}

.action_button:hover {
  background: linear-gradient(#ecaebd, #aa5a6e); 
}

.action_button {
  text-decoration: none;
  color: #fff;
  font-weight: bold;

  background: linear-gradient(#666, #333);
  padding: 15px 20px;
  font-size: 20px;
  text-transform: uppercase;
}

@media (max-width: 767px) and (min-width: 576px) {
  h1 {
    font-size: 25px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .largo {
    width: 103%;
  }
}

@media (max-width: 575px) and (min-width: 0px) {
  h1 {
    font-size: 21px;
  }
  #prueba9 {
    padding: 15px;
    padding-bottom: 10px;
  }
  #prueba9 h1{
    font-size: 18px;
  }
  h3 {
    font-size: 19px;
  }
  .ubicaciones {
    font-size: 24px;
  }
  .contenederoBlanco p{
    font-size: 12px !important;
  }
  .contenederoBlanco>div>p{
    font-size: 12px !important;
  }
  iframe{
    height: 100px !important;
  }
  .addP>p{
    font-size: 12px !important;
  }
  .tituloLocalidad2>h3{
    font-size: 15px !important;
  }
  
}

th {
  background: linear-gradient(#666, #333);
  color: white;
}
td {
  background-color: white;
}

.tabla {
  text-align: center;
  width: 100%;
  
}
@media(max-width:766px){
    .tabla{
        width: 766px;
        
    }
    .esconder{
      overflow-x: scroll;
  }
  
}

.margen-menor{
  margin-top: -12px;
}

.letraPequenia{
  font-size: 14px !important;
}
@media(max-width:964px){
  .letraPequenia{
    font-size: 10px !important;
  }
}

.metodosPago{
  margin-top: 10px;
  
  width: 100%;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.metodosP{
  width: 80px;
  height: 40px;
}
.metodosPSE{
  width: 80px;
  height: 40px;
}
.metodosPP{
  margin-bottom: 0;
  font-weight: bold;
}

@media(max-width:770px){
  .metodosPago{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    width: 100%;
}
.metodosP{
    width: 40px;
    height: 20px;
}
.metodosPSE{
    width: 45px;
    height: 25px;
}
.nequi{
    width: 40px !important;
}
.metodosPP{
    font-size: 13px;
}
}
@media(max-width:576px){
  .metodosPago{
    margin-bottom: 0px;
}
}

@media(max-width:520px){
  .metodosP{
      width: 32px;
      height: 15px;
  }
  .metodosPSE{
      width: 38px;
      height: 25px;
  }
  .nequi{
      width: 38px !important;
  }
  .metodosPP{
      font-size: 10px;
  }
}
@media(max-width:415px){
  .metodosP{
      width: 30px;
      height: 15px;
  }
  .metodosPSE{
      width: 35px;
      height: 25px;
  }
  .nequi{
      width: 35px !important;
  }
  .metodosPP{
      font-size: 8px;
  }
}
@media(max-width:370px){
  .metodosP{
      width: 30px;
      height: 15px;
  }
  .metodosPSE{
      width: 35px;
      height: 25px;
  }
  .nequi{
      width: 35px !important;
  }
  .metodosPP{
      font-size: 7px;
  }
}

.w50{
  width: 500px;
  margin-bottom: 20px;
}
@media(max-width: 700px){
  .w50{
    width: 80%;
  }
}