 <div *ngIf="evento.id=='DZP138'">
  <!-- Meta Pixel Code -->
  <script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '384815453142987');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=384815453142987&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Meta Pixel Code -->
</div> 


<!--BANNER-->
<section class="Banner" content="width=device-width m-xs-5" *ngIf="evento?.imagenes != 'undefined'">
	<div class="row">
		<div class="col-12">
			<section id="banner" class="carousel slide" data-ride="carousel">
				<!--Indicadores-->
				<ul class="carousel-indicators" *ngFor="let imagen of evento?.imagenes">
					<li data-target="banner" data-slide-to="imagen" class="active"> </li>

				</ul>




				<!--Imagenes-->
				<div class="carousel-inner outerLink">

					<div class="carousel-item active h-25" *ngIf="evento?.imagenes[0]">
						<img src="{{evento?.imagenes[0].url}}" class="img-fluid align-items-center ">

					</div>

					<div class="carousel-item" *ngIf="evento?.imagenes[1]">
						<img src="{{evento?.imagenes[1].url}}" class="img-fluid align-items-center ">

					</div>

					<div class="carousel-item" *ngIf="evento?.imagenes[2]">
						<img src="{{evento?.imagenes[2].url}}" class="img-fluid align-items-center ">

					</div>


				</div>


				<!--Controles-->

				<a *ngIf="evento?.imagenes[1]" href="#banner" class="carousel-control-prev" data-slide="prev"> <span
						class="carousel-control-prev-icon"></span></a>
				<a *ngIf="evento?.imagenes[1]" href="#banner" class="carousel-control-next" data-slide="next"><span
						class="carousel-control-next-icon"></span></a>


			</section>
		</div>
	</div>
</section>


<section class="nombreEvento">

	<div id="prueba">


		<h1><strong> {{evento?.nombre}}</strong></h1>
		<small *ngIf="pulep" class="float-right"><strong>Pulep: </strong> {{evento?.id}}</small>


	</div>
</section>



<section class="container-fluid  mt-1  eventoVideo">
	<div class="pl-1 pr-1 sinPadding">
		<div class="row largo sinVideo">
			<div class="col-12 col-lg-7 mt-5 vid" *ngIf="evento?.video" style="text-align: center;">


				<iframe class="rounded" width="100%" height="650px" [src]='safeSrc' *ngIf="safeSrc!=null "
					frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>


			</div>


			<div *ngIf="evento?.video" class="col-12 col-lg-5 pl-2 mt-5 contenederoBlanco border rounded mt-5">

				<h2 class="ubicaciones mt-3"><strong>Información General</strong></h2>
				<hr class="aaaa mb-3">



				<p ><strong>Fecha de Inicio:</strong> {{evento?.fecha |date}} <strong>Hora:
				</strong>{{evento?.horaInicio| horas}}</p>
			<p ><strong>Fecha de Fin:</strong> {{evento?.fechaFin|date}} <strong>Hora Finalización:
				</strong>{{evento?.horaFin | horas}}</p>


				<p><strong>Artistas:</strong> {{evento?.artistas}}</p>
				<p><strong>Ciudad:</strong> {{evento?.ciudadNombre}}</p>
				<p><strong>Lugar:</strong> {{evento?.lugar}}</p>
				<div *ngIf="mapaV" class="mapaEvento">
					<p ><strong>Ubicación del evento:</strong></p>
					<iframe   Set-Cookie: flavor=choco; SameSite=None; Secure  [src]='mapaUrl' width="100%" height="30%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>

				<div style="text-align: center;" class="mt-4 mb-5 divBoton">
					<button *ngIf="etapas.length > 0" style="font-size: 15px;" class="botonCompra action_button rounded shadow "
						(click)="scroll()">Ver precios</button>
				</div>
			</div>


			<div *ngIf="!evento?.video" class="col-12  pl-2 mt-5 contenederoBlanco border rounded mt-5">

				<h2 class="ubicaciones mt-3"><strong>Información General</strong></h2>
				<hr class="aaaa mb-3">



				<p ><strong>Fecha de Inicio:</strong> {{evento?.fecha |date}} <strong>Hora:
				</strong>{{evento?.horaInicio| horas}}</p>
			<p ><strong>Fecha de Fin:</strong> {{evento?.fechaFin|date}} <strong>Hora Finalización:
				</strong>{{evento?.horaFin | horas}}</p>




				<p><strong>Artistas:</strong> {{evento?.artistas}}</p>
				<p><strong>Ciudad:</strong> {{evento?.ciudadNombre}}</p>
				<p><strong>Lugar:</strong> {{evento?.lugar}}</p>
				
				
				<div *ngIf="mapaV"  class="mapaEvento">
				<p><strong>Ubicación del evento:</strong></p>



				<iframe Set-Cookie: flavor=choco; SameSite=None; Secure *ngIf='mapaUrl!=null' [src]='mapaUrl'
					width="100%" height="30%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>

				<div style="text-align: center;" class="mt-4 mb-5 divBoton">
					<button *ngIf="etapas.length > 0" style="font-size: 15px;" class="botonCompra action_button rounded shadow "
						(click)="scroll()">Ver precios</button>
				</div>

			</div>
		</div>
		<div class="row sinVideo">
			<div class="col-12 contenederoBlanco  border rounded mt-3">

				<!-- <p class="mt-3 text-justify " *ngFor="let d of descripcion">{{d}}</p> -->
				<div class="mt-3 addP" [innerHTML]="this.evento?.descripcion">
				
				</div>
				

				<p> <strong>{{evento?.terminosYCondiciones}}</strong></p>
				<p style="font-size:14px"> {{evento?.recomendaciones}}</p>
				<p><strong>ADVERTENCIA DE COMPRA:</strong> RECIBIRÁS UN CÓDIGO QR, REVISA SPAM! ESE CÓDIGO QR ES TU
					ENTRADA!</p>
					<p style="font-size:14px; text-align:right;"><strong>NIT de los responsables del evento:</strong> {{organizadorId}}</p>
				<div class="col-12 mt-4 mb-4 divBoton" style="text-align: center;">
					<p *ngIf="evento?.visibleAP"><strong>Recuerda que desde YA puedes comprar los productos del evento con descuento en: <a class="colorMorado" href="https://allproductscol.com/eventos/evento/{{evento?.id}}">https://allproductscol.com/eventos/evento/{{evento?.id}}</a> </strong></p>


					<button *ngIf="evento?.mapaImagen?.url !=null" class="action_button botonCompra" style="font-size: 15px;"
						(click)="openDialog()">Zonas del evento</button>
					<button *ngIf="(evento.mapa )&& etapas.length >0"
						class="botonCompra orange rounded p-3 mt-3" routerLink="pago/palco/mapa">COMPRAR</button>

				</div>

			</div>

		</div>

	</div>
</section>


<div id="prueba9" class="mt-3">

	<h1><strong>Ubicaciones y Precios</strong></h1>
	<!-- <h1 *ngFor="let etapa of etapas"><strong>{{etapa?.nombre}}</strong></h1> -->
</div>

<div class="container-fluid" *ngIf="fecha>fechaActual && etapas.length == 0">
	<div class="row">
		<div class="col-12 centrarTexto mt-5 mb-5" id="contador">
			<h4 class="mb-3"><strong>Tiempo para abrir ventas</strong></h4>
			<div class="contenedor  ">

				<p> {{time.months}} <span>Meses</span></p>
				<p> {{time.weeks}} <span>Semanas</span></p>
				<p>{{time.days}} <span>Días</span></p>
				<p> {{time.hours}} <span>Horas</span> </p>
				<p> {{time.minutes}} <span>Minutos</span></p>
				<p> {{time.seconds}} <span>Segundos</span> </p>
			</div>
		</div>
	</div>
</div>


<section class="container-fluid  mt-1  "
	*ngIf="etapas.length > 0 && localidades.length >= 0 && (evento.mapa)">
	<div class="row">
		<div class="col-6 col-md-6 col-lg-4 col-xl-3 mt-3  divisionLocalidad2 " *ngFor="let localidad of localidades"
			style="text-align: center;">

			<div class="localidades border rounded">

				<div class="tituloLocalidad" *ngIf="localidad.palcos.length==0 &&!evento.mapa">
					<h3><strong> {{localidad.nombre}} </strong></h3>
				</div>


				<div class="tituloLocalidad2" *ngIf="evento.mapa">
					<h3><strong> {{localidad.nombre}}</strong></h3>
					
				</div>
				<div class="pt-2 " *ngIf="localidad.palcos.length>0">
					<h5 class="ticketTitulo"><strong>Personas Por Palco</strong></h5>

					<p class="ticketNumero precioLocalidades" *ngIf="localidad.palcos[0].adiciones>0"> <strong> {{ localidad.palcos[0].maximoAdiciones-localidad.palcos[0].adiciones}}</strong></p>
					<p class="ticketNumero precioLocalidades" *ngIf="localidad.palcos[0].adiciones==0"> <strong> {{ localidad.palcos[0].personasMaximas}}</strong></p>
					<p  class="ticketNumero precioLocalidades letraPequenia" *ngIf="localidad.id==16905"> <strong> (Incluye botella de tequila Olmeca)</strong></p>
					
					<p  class="ticketNumero precioLocalidades letraPequenia" *ngIf="localidad.id==16119 || localidad.id==16271"> <strong> (Incluye una botella de Aguardiente Antioqueño 750ml + 5 Redbull + 10 botellas de agua)</strong></p>
				</div>

				<div class="pt-2 " *ngIf="localidad.palcos.length==0">
					<h5 class="ticketTitulo"><strong>Personas Por Ticket</strong></h5>

					<p class="ticketNumero precioLocalidades"> <strong> 1</strong></p>
				</div>


				<hr class="hrTicket">
				
				<div class="pt-2 "  *ngIf="localidad.id!=16909 &&localidad.id!=19777">
					<h5 class="ticketTitulo" *ngIf="localidad.palcos.length>0 "><strong>Quedan Disponibles En esta etapa</strong></h5>

					<p class="ticketNumero precioLocalidades" *ngIf="localidad.palcos.length>0"> <strong>
							{{ darCantidadDePalcosDisponiblesEtapas(localidad)}}</strong></p>

					
							
				</div>


				<div class="pt-2 " *ngIf="evento.adicionales.length == 0">

					<h5 class="ticketTitulo"><strong>Precio Total <br *ngIf="localidad.id==16909 ||localidad.id==19777 ">  <span class="colorNaranja" *ngIf="localidad.id==16909 ||localidad.id==19777"> (Precio por persona)</span></strong></h5>
					<p class="ticketNumero precioLocalidades"> <strong> {{localidad.precio +localidad.servicio + localidad.servicioPorcentaje  | number: '1.0-0'}} COP</strong></p>
					<p class="precios pr-3 pl-3 ">Precio + Servicio + IVA</p>
					<p class="precios pr-3 pl-3 pb-3 margen-menor">{{localidad.precio| number: '1.0-0'}} COP + {{+localidad.servicio | number: '1.0-0'}} COP + {{localidad.servicioPorcentaje | number: '1.0-0'}} COP</p>
					
				</div>



			</div>
		</div>

	</div>
</section>


<section class="container-fluid  mt-1  " *ngIf="etapas.length > 0 && (!evento.mapa)">
	<div class="row">



		<div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3  divisionLocalidad " *ngFor="let localidad of localidades"
			style="text-align: center;">

			<div class="localidades border rounded">

				<div routerLink="pago/{{localidad.id}}" class="tituloLocalidad"
					*ngIf="localidad.palcos.length==0 &&!evento.mapa">
					<h3><strong> {{localidad.nombre}} </strong></h3>
				</div>
				<div routerLink="pago/palco/{{localidad.id}}" class="tituloLocalidad"
					*ngIf="localidad.palcos.length>0 &&!evento.mapa">
					<h3><strong> {{localidad.nombre}} </strong></h3>
				</div>

				<div class="pt-2 " *ngIf="localidad.palcos.length>0">
					<h5 class="ticketTitulo"><strong>Personas Por Palco</strong></h5>

					<p class="ticketNumero precioLocalidades" *ngIf="localidad.palcos[0].adiciones>0"> <strong> {{ localidad.palcos[0].maximoAdiciones-localidad.palcos[0].adiciones}}</strong></p>
					<p class="ticketNumero precioLocalidades" *ngIf="localidad.palcos[0].adiciones==0"> <strong> {{ localidad.palcos[0].personasMaximas}}</strong></p>
				</div>

				<div class="pt-2 " *ngIf="localidad.palcos.length==0">
					<h5 class="ticketTitulo"><strong>Personas Por Ticket</strong></h5>

					<p class="ticketNumero precioLocalidades"> <strong> 1</strong></p>
				</div>
				<hr class="hrTicket">




				<hr class="hrTicket" *ngIf="evento.adicionales.length < 0">

				<div class="pt-2 " *ngIf="evento.adicionales.length == 0">

					<h5 class="ticketTitulo"><strong>Precio Total</strong></h5>
					<p class="ticketNumero precioLocalidades" *ngIf="evento.id!='AT2022-37'&& evento.id!='AT2022-36'"> <strong> {{localidad.precio +localidad.servicio + localidad.servicioPorcentaje| number: '1.0-0'}} COP</strong>
						<p class="ticketNumero precioLocalidades" *ngIf="evento.id=='AT2022-37'||evento.id=='AT2022-36'"> <strong> {{localidad.precio +localidad.servicio + localidad.servicioPorcentaje| number: '1.0-0'}} USD</strong>
					</p>
					<p class="precios pr-3 pl-3 ">Precio + Servicio + IVA</p>
					<p class="precios pr-3 pl-3 pb-3 margen-menor"  *ngIf="evento.id!='AT2022-37'&& evento.id!='AT2022-36'">{{localidad.precio | number: '1.0-0'}} COP + {{+localidad.servicio | number: '1.0-0'}} COP + {{localidad.servicioPorcentaje| number: '1.0-0'}} COP</p>
					<p class="precios pr-3 pl-3 pb-3 margen-menor" *ngIf="evento.id=='AT2022-37'||evento.id=='AT2022-36'">{{localidad.precio | number: '1.0-0'}} USD + {{+localidad.servicio | number: '1.0-0'}} USD + {{localidad.servicioPorcentaje| number: '1.0-0'}} USD</p>

				</div>
				<hr class="hrTicket">
				<div class="p-3 " *ngIf="localidad.palcos.length==0 &&!evento.mapa">


					<button class="botonLogin botonCompra rounded pt-2 pb-2" routerLink="pago/{{localidad.id}}">Comprar</button>
				</div>

				<div class="p-3 " *ngIf="localidad.palcos.length>0" >


					<button class="botonLogin btnLog botonCompra rounded pt-2 pb-2" routerLink="pago/palco/{{localidad.id}}" >
						Comprar</button>
				</div>

			</div>
		</div>



	</div>


</section>



<section class="container-fluid" *ngIf="evento.adicionales != undefined">
	<div class="row"  *ngIf="evento.adicionales.length > 0">
		<div class="col-12 esconder">
			<table class="table mt-3 border rounded tabla" style="text-align: center;">
				<thead>
					<tr class="border ">

						<th class="border">Variación</th>
						<th class="border ">Precio</th>
						<th class="border ">Servicio</th>
						<th class="border ">IVA</th>
						<th class="border ">Total</th>

						<!-- <th class="border">Tickets Patrocinios</th>   -->

					</tr>



				</thead>
				<tbody>
					<tr *ngFor="let adicion of evento.adicionales">

						<td class="border"><strong>{{adicion?.nombre}}</strong></td>
						<td class="border"> <strong>{{adicion?.precio | number: '1.0-0'}} COP</strong></td>
						<td class="border"> <strong>{{adicion?.servicio | number: '1.0-0'}} COP</strong></td>
						<td class="border"> <strong>{{adicion.servicioIva | number: '1.0-0'}} COP</strong></td>
						<td class="border"> <strong>{{adicion.servicioIva + adicion?.servicio + adicion?.precio | number: '1.0-0'}} COP</strong></td>

					</tr>



				</tbody>

			</table>
		</div>

	</div>
</section>

<section class="container-fluid" 	*ngIf="etapas.length > 0 && localidades.length >= 0 && (evento.mapa)">
	<div class="row">
		<div class="col-12 centrarTexto mt-3">
			<button class="botonLogin btnLog botonCompra rounded pt-2 pb-2" routerLink="pago/palco/mapa">Comprar</button>
		</div>
	</div>
</section>