



    <!--BANNER-->
	<section class="Banner"  content="width=device-width m-xs-5" >
		<div class="row">
			<div class="col-12">
				<section id="banner" class="carousel slide"  data-ride="carousel">
				<!--Indicadores-->
					<ul class = "carousel-indicators" *ngFor= "let imagen of evento?.imagenes">
						<li data-target="banner" data-slide-to="imagen" class="active"> </li>
				
					</ul>		
					
	
	

						<!--Imagenes-->	
				<div class="carousel-inner outerLink">

					<div class="carousel-item active h-25"  *ngIf="evento?.imagenes[0]" >
						<img src="{{evento?.imagenes[0]}}" class="img-fluid align-items-center darkableImageBanner">
					
					</div>

					<div class="carousel-item"  *ngIf="evento?.imagenes[1]" >
						<img src="{{evento?.imagenes[1]}}" class="img-fluid align-items-center darkableImageBanner">
					
					</div>

					<div class="carousel-item"  *ngIf="evento?.imagenes[2]">
						<img src="{{evento?.imagenes[2]}}" class="img-fluid align-items-center darkableImageBanner">
					
					</div>


				</div>
	
	
				<!--Controles-->	
	
					<a *ngIf="evento?.imagenes[1]" href="#banner" class="carousel-control-prev" data-slide= "prev"> <span class="carousel-control-prev-icon"></span></a>
					<a  *ngIf="evento?.imagenes[1]" href="#banner" class="carousel-control-next" data-slide= "next"><span class="carousel-control-next-icon"></span></a>
	
	
				</section>
			</div>
		</div>
	</section>


	<section>

		<div id="prueba" >
			
			
			<h1><strong> {{evento?.nombre}}</strong></h1> 
			<small class="float-right"><strong>Pulep:</strong> {{evento?.id}}</small>
			
			
		</div>
	</section>



<section class="container-fluid  mt-1  ">
<div class="pl-1 pr-1  ">
<div class="row largo" >
	<div class="col-12 col-lg-6 mt-5 " *ngIf="evento?.video" style="text-align: center;">
		<iframe class="rounded" width="100%" height="650px" [src]="getVideoIframe(evento.video)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div class="col-12 col-lg-6 mt-5  " *ngIf="!evento?.video">
		<img  class="rounded" src="{{evento?.imagen}}" style=" width: 100%; height: 650px;" alt="">
		
	</div>

	<div class="col-12 col-lg-6 pl-2 mt-5 contenederoBlanco border rounded mt-5">
		
			<h2 class="ubicaciones mt-3" ><strong>Información General</strong></h2>
			<hr class="aaaa mb-3">
		
			
		
			<p><strong>Fecha de Inicio:</strong> {{evento?.fecha|date}} <strong>Hora: </strong>{{evento?.horaInicio| horas}}</p>
			<p><strong>Fecha de Fin:</strong> {{evento?.fechaFin|date}} <strong>Hora Finalización: </strong>{{evento?.horaFin | horas}}</p>
			<p><strong>Artistas:</strong> {{evento?.artistas}}</p>
			<p><strong>Recomendaciones:</strong> {{evento?.recomendaciones}}</p>
			<p><strong>Lugar:</strong> {{evento?.lugar}}</p>
			<p><strong>Mapa:</strong></p>
			<iframe class="rounded border" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.5955534654577!2d-74.03310298523712!3d4.8392962964859745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f878f6c305675%3A0xc7088d8f70002c47!2sCentro%20de%20Eventos%20Autopista%20Norte!5e0!3m2!1ses!2sco!4v1597485543875!5m2!1ses!2sco" width="100%" height="30%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			<div style="text-align: center;" class="mt-4 mb-5">
				<button *ngIf="etapa.id!=null " style="font-size: 15px;" class="action_button rounded shadow " (click)="scroll()">Comprar Tickets</button>
			</div>

	</div>
</div>
<div class="row">
	<div class="col-12 contenederoBlanco  border rounded mt-3">

			<p class="mt-3 text-justify"   >{{evento?.descripcion}}</p>
			<p > <strong>{{evento?.terminosYCondiciones}}</strong></p>
			<p><strong>ADVERTENCIA DE COMPRA:</strong> RECIBIRÁS UN CÓDIGO QR, REVISA SPAM! ESE CÓDIGO QR ES TU ENTRADA!</p>
		
	</div>
</div>

</div>
</section> 


<div id="prueba9" class="mt-3" *ngIf="etapa?.id!=null" >
			
			
	<h1><strong>Ubicaciones y Precios</strong></h1> 
	<h1 style="font-size: 25px;"><strong>{{etapa?.nombre}}</strong></h1>
		
		
	
	
</div>


<section class="container-fluid  mt-3  "  *ngIf="etapa?.id!=null">
	<div class="row">



<div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3  divisionLocalidad "  *ngFor ="let localidad of etapa?.localidades" style="text-align: center;">
	
	<div class="localidades border rounded">
	
		<div routerLink="pago/{{localidad.id}}" class="tituloLocalidad" *ngIf="localidad.boletas.length>0 &&!evento.mapa" >
			<h3><strong> {{localidad.nombre}} </strong></h3>
		</div>
		<div routerLink="pago/palco/{{localidad.id}}" class="tituloLocalidad" *ngIf="localidad.palcos.length>0 &&!evento.mapa" >
			<h3><strong> {{localidad.nombre}} </strong></h3>
		</div>

		<div routerLink="pago/mapa/{{localidad.id}}" class="tituloLocalidad" *ngIf="evento.mapa" >
			<h3><strong> {{localidad.nombre}} </strong></h3>
		</div>
		<div class="pt-2 " *ngIf="localidad.palcos.length>0">
			<h5><strong>Personas Por Palco</strong></h5>
			
			<p class="precioLocalidades"> <strong> {{ localidad.palcos[0].personasMaximas}}</strong></p>
		</div>

		<div class="pt-2 " *ngIf="localidad.boletas.length>0">
			<h5><strong>Personas Por Ticket</strong></h5>
			
			<p class="precioLocalidades"> <strong> 1</strong></p>
		</div>
		<hr>
		<div class="pt-2 ">
			<h5><strong>Quedan Disponibles</strong></h5>
			
			<p class="precioLocalidades" *ngIf="localidad.boletas.length>0"> <strong> {{ numeroBoletasPorVenderYNoReservadas(localidad)}}</strong></p>
			<p class="precioLocalidades" *ngIf="localidad.palcos.length>0"> <strong> {{ darCantidadDePalcos(localidad)}}</strong></p>
		</div>



		<hr>
		
		<div class="pt-2 ">
			
			<h5><strong>Precio + Servicio +IVA</strong></h5>
			<p class="precioLocalidades"> <strong> {{localidad.precio | currency: 'COP'}}</strong> + <strong>{{localidad.servicio|currency:'COP'}} </strong>+ <strong>{{localidad.servicio*IVA |currency:'COP'}}</strong></p>
		
		</div>
		<hr>
		<div class="p-3 " *ngIf="localidad.boletas.length>0 &&!evento.mapa">
			
			
			<button class="botonLogin rounded pt-2 pb-2" routerLink="pago/{{localidad.id}}">Comprar</button>
		</div>

		<div class="p-3 " *ngIf="localidad.palcos.length>0 &&!evento.mapa">
			
			
			<button class="botonLogin rounded pt-2 pb-2" routerLink="pago/palco/{{localidad.id}}">Comprar</button>
		</div>
	
	</div>	
</div>


<div class="col-12 mt-5" style="text-align: center;">
	<button *ngIf="evento.mapaImagen" class="action_button p-3" style="font-size: 15px;" (click)= "openDialog()">Mapa del evento</button>
</div>
</div>

	
</section>





