<div id="prueba">
			
			
    <h1><strong>Promotores Evento {{evento.nombre}}</strong></h1> 
    

    
    
</div>



<div id="desplazate">
    <p>
      <--- Desplázate para ver toda la información --->
    </p>
  </div>
<section class="container-fluid mt-5">
  
    

    <div class="row">
        <div class="col-12 esconder">
            <table class="tabla table mt-3 border rounded tabla"  style="text-align: center;">
                <thead>
                    <tr class="border ">
                        
                        <th class="border">Numero de documento</th>
                        <th class="border ">Usuario</th>
                        <th class="border ">Nombre</th>
                        <th class="border ">Ver ventas</th>
                        <th class="border ">Ver Reservas Activas</th>               
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let promotor of promotores"  >
                       
                        <td class="border"><strong>{{promotor?.numeroDocumento }}</strong></td>
                        <td class="border"> <strong>{{promotor?.usuario }}</strong></td> 
                        <td class="border"> <strong>{{promotor?.nombre}}</strong></td> 
                        <td class="border"><button class="btn action_button"routerLink="{{promotor.numeroDocumento}}"[disabled]="!darPalcosPromotorEvento(promotor)" >Ver Ventas</button></td>  
                        <td class="border"><button class="btn action_button"routerLink="{{promotor.numeroDocumento}}/reservas" >Ver Reservas Activas</button></td>  
                    </tr>

                </tbody>
            
            </table>
        </div>    
</div>    


</section>
