.centrarTexto{
    text-align: center;
}
.colorLetras{
    color:#ecaebd;
}

.botonLogin{
    background: linear-gradient(#ecaebd, #aa5a6e); 
    width: 100%;
    color:white;
}
small{
    color:gray;
}

.botonesCerrar{
	background-color:white; 
	color:#ed701c  ;

}

.colorGris{
    color:gray;
}
.terminos{
    color: #ecaebd;
    cursor: pointer;
}
.terminos:hover{
    color: #ecaebd;
}
h4{
    font-weight: bolder;
    font-size: 20px;
}