<section class="container redes">
    <div class="row">
        <div class="col-12">
            <a href="https://wa.link/naamvz"> <img class="imagenesRedes ml-3 mr-3 d-none d-sm-inline" src="./../../assets/images/img/logow.png" alt=""></a>
            <a href="https://www.instagram.com/all_tickets/"> <img class="imagenesRedes ml-3 mr-3 d-none  d-xl-inline" src="./../../assets/images/img/logoig.png" alt=""></a>
            <a href="https://www.facebook.com/allticketscol"> <img class="imagenesRedes ml-3 mr-3 d-none d-xl-inline" src="./../../assets/images/img/logofb.png"  alt=""></a>
        </div>
    </div>
</section>