

<header class="barra">
	<section    >
		<!-- Header desktop -->							
					<!-- Menu -->
			
			<div class="row m-0">
			
			<div class="col">
					<nav class="navbar navbar-expand-xl navbar-dark barra" >
						
						<a routerLink='/home'>
							<img class="navbar-brand" src="../assets/images/img/logo.png" style="width:100px" >
						</a>


							<div >
								<button class="navbar-toggler " type= "button" data-toggle="collapse" data-target="#uno"  >
									<span class="navbar-toggler-icon "></span>
								</button>
							</div>	
							


							<div class="collapse navbar-collapse justify-content-md-end" id="uno">
								<ul class="navbar-nav">
	
		
									<li routerLinkActive="active " class=" m-lg-3">
										<a routerLink='/eventos' class="nav-link">Eventos</a>
									</li>

									<li routerLinkActive="active" class=" m-lg-3">
										<a routerLink='/nosotros' class="nav-link">Nosotros</a>
									</li>


									<li routerLinkActive="active" class=" m-lg-3">
										<a *ngIf="!autenticacion.getPromotor()&&!autenticacion.usuarioLoggin() && !autenticacion.adminLoggin() && !autenticacion.organizadorLoggin() && !autenticacion.puntoFisicoLoggin() && !autenticacion.ministerioLoggin()&& !autenticacion.contadorLoggin()" (click)="openDialog2()" class="nav-link " >Login</a>										<a  *ngIf="autenticacion.usuarioLoggin()" routerLink='/usuarios/usuario/{{usuario}}' class="nav-link " (click)="cargarUsuario()" style="color:#ed701c;"><mat-icon>person</mat-icon></a>
										<a  *ngIf="autenticacion.adminLoggin()" routerLink='/administradores/admin/{{usuario}}' class="nav-link " (click)="cargarAdmin()"><mat-icon>person</mat-icon></a>
										<a  *ngIf="autenticacion.organizadorLoggin()" routerLink='organizadores/organizador/{{usuario}}' class="nav-link " (click)="cargarOrganizador()" ><mat-icon>person</mat-icon></a>
										<a  *ngIf="autenticacion.ministerioLoggin()" routerLink='perfilMinisterio/{{usuario}}' class="nav-link " (click)="cargarMinisterio()"><mat-icon>person</mat-icon></a>
										<a  *ngIf="autenticacion.puntoFisicoLoggin()" routerLink='puntoFisico/{{usuario}}' class="nav-link " (click)="cargarPuntoFisico()" ><mat-icon>person</mat-icon></a>
										<a  *ngIf="autenticacion.promotorLoggin()" routerLink='promotor/{{usuario}}' class="nav-link " (click)="cargarPromotor()"><mat-icon>person</mat-icon></a>
										<a  *ngIf="autenticacion.contadorLoggin()" routerLink='organizadores/contador' class="nav-link " ><mat-icon>person</mat-icon></a>
									</li>
									<li routerLinkActive="active" class=" m-lg-3" *ngIf="!autenticacion.getPromotor()&&!autenticacion.usuarioLoggin() && !autenticacion.adminLoggin() && !autenticacion.organizadorLoggin() && !autenticacion.puntoFisicoLoggin() && !autenticacion.ministerioLoggin()&& !autenticacion.contadorLoggin()">
										<a   (click)="openDialog()" class="nav-link ">Regístrate</a>
										
									</li>
									
									<li routerLinkActive="active" class=" m-lg-3">
										<a *ngIf="autenticacion.usuarioLoggin()" routerLink='/logout' class="nav-link"><mat-icon>exit_to_app</mat-icon></a>
										<a *ngIf="autenticacion.adminLoggin()" routerLink='/logoutA' class="nav-link" ><mat-icon>exit_to_app</mat-icon></a>
										<a *ngIf="autenticacion.organizadorLoggin()" routerLink='/logoutO' class="nav-link" > <mat-icon>exit_to_app</mat-icon></a>
										<a *ngIf="autenticacion.ministerioLoggin()" routerLink='/logoutM' class="nav-link"> <mat-icon>exit_to_app</mat-icon></a>
										<a *ngIf="autenticacion.puntoFisicoLoggin()" routerLink='/logoutP' class="nav-link" > <mat-icon>exit_to_app</mat-icon></a>
										<a *ngIf="autenticacion.promotorLoggin()" routerLink='/logoutPromotor' class="nav-link" > <mat-icon>exit_to_app</mat-icon></a>
										<a *ngIf="autenticacion.coordinadorLoggin()" routerLink='/logoutCoordinador' class="nav-link" > <mat-icon>exit_to_app</mat-icon></a>
										<a *ngIf="autenticacion.contadorLoggin()" routerLink='/logoutCoordinador' class="nav-link" > <mat-icon>exit_to_app</mat-icon></a>
									</li>

							</ul>			
						</div>				
					</nav>			
				</div>
			</div>
		</section>
</header>
