<div id="prueba">
			
			
    <h1><strong>{{evento.nombre}}</strong></h1> 
    

    
    
</div>


<section class="container p-3">

    
</section>






<section class="container-fluid mt-5">
  
    

        <div class="row">
            <div class="col-12">
                <table class="table mt-3 border rounded tabla"  style="text-align: center;">
                    <thead>
                        <tr class="border ">
                            
                            <th class="border">Etapa de Venta</th>
                            <th class="border ">Nombre</th>
                            <th class="border ">Precio</th>
                            <th class="border ">Tickets vendidas</th>               
                            <th class="border ">Tickets por vender</th>
                            <th class="border"> Personas que han entrado</th>
                            <th class="border ">Tickets totales</th>
                            <th class="border">Dinero De Tickets</th>
                            <th class="border">Numero Tickets Patrocinados</th>
                            <th class="border">Palcos Totales</th>
                            <th class="border">Palcos Vendidos</th>
                            <th class="border">Palcos Por Vender</th>
                            <th class="border">Dinero De Palcos</th>
                            <th class="border">Personas en Palcos</th>
                            <th class="border">Tickets Patrocinios</th>   
                                 
                        </tr>
                
                
                
                    </thead>
                    <tbody>
                        <tr *ngFor="let localidad of evento?.localidades"  >
                           
                            <td class="border"><strong>{{localidad?.nombreEtapa}}</strong></td>
                            <td class="border"> <strong>{{localidad?.nombre }}</strong></td> 
                            <td class="border"> <strong>{{localidad?.precio| currency:'COP'}}</strong></td> 
                            <td class="border"> <strong>{{numeroBoletasPorVender(localidad,true)}}</strong></td> 
                            <td class="border"> <strong>{{numeroBoletasPorVender(localidad,false)}}</strong></td> 
                            <td class="border"><strong>{{numeroBoletasUtilizadas(localidad)}}</strong></td>
                            <td class="border">{{localidad?.boletas?.length}}</td> 
                            <td class="border">{{dineroVendido(localidad)|currency:'COP'}}</td>
                            <td class="border">{{localidad?.boletasPatrocinio.length}}</td>
                            <td class="border">{{localidad?.palcos?.length}}</td>
                            <td class="border">{{palcosVendidos(localidad, true)}}</td>
                            <td class="border">{{palcosVendidos(localidad, false)}}</td>
                            <td class="border">{{dineroRecaudadoPalcos(localidad)|currency:'COP'}}</td>
                            <td class="border">{{personasEnPalco(localidad)}}</td>
                            <td class="border"><button class=" action_button" routerLink="patrocinio/{{localidad?.id}}">Tickets patrocinio</button></td>
                           
                        </tr>
                        
                
                
                    </tbody>
                
                </table>
            </div>    
        <div class="col-12" >
            <p class="border p-3" style="background-color: white;"><strong>Dinero Total Recaudado: {{dineroRecaudado |currency:'COP'}} </strong></p>
        </div>
    </div>    


</section>