<div id="prueba">
			
			
    <h1><strong>{{evento.nombre}}</strong></h1> 
    

    
    
</div>


<section class="container p-3">

    
</section>




<div id="desplazate">
    <p>
      <--- Desplázate para ver toda la información --->
    </p>
  </div>

<section class="container-fluid mt-5">
  
    

        <div class="row">
            <div class="col-12 esconder">
                <table class="tabla table mt-3 border rounded tabla"  style="text-align: center;">
                    <thead>
                        <tr class="border ">
                            
                            <th class="border">Etapa de Venta</th>
                            <th class="border ">Nombre</th>
                            <th class="border " *ngIf="evento.adicionales.length ==0">Precio General (Sin variaciones)</th>
                            <th
                             class="border ">Tickets vendidas</th>
                             <th class="border ">Tickets En proceso de compra</th>       
                             <th class="border ">Tickets reservados</th>               
                            <th class="border ">Tickets por vender</th>
                            <th class="border"> Personas que han entrado</th>
                            <th class="border ">Tickets totales</th>
                            <th class="border">Dinero De Tickets</th>
                            <th class="border">Numero Tickets Patrocinados</th>
                            <th class="border">Palcos Totales</th>

                            <th class="border">Palcos Vendidos</th>
                            <th class="border">Palcos Disponibles</th>
                            <th class="border">Palcos Reservados</th>
                            <th class="border">Palcos En Transacción</th>

                            <th class="border">Dinero De Palcos</th>
                            <th class="border">Dinero a recaudar</th>
                            <th class="border">Personas en Palcos</th>
                            <th class="border">Ver Ventas especificas</th>
                           <!-- <th class="border">Tickets Patrocinios</th>   -->
                                 
                        </tr>
                
                
                
                    </thead>
                    <tbody>
                        <tr *ngFor="let localidad of localidades"  >

                           
                            <td class="border"><strong>{{localidad?.nombreEtapa}}</strong></td>
                            <td class="border"> <strong>{{localidad?.nombre }}</strong></td> 
                            <td class="border" *ngIf="evento.adicionales.length ==0"> <strong>{{localidad?.precio| currency:'COP'}}</strong></td> 

                            <td class="border"> <strong>{{numeroBoletasVendidas(localidad)}}</strong></td> 
                            <td class="border"> <strong>{{numeroBoletasEnProceso(localidad)}}</strong></td> 
                            <td class="border"> <strong>{{numeroBoletasReservadas(localidad)}}</strong></td> 
                            <td class="border"> <strong>{{numeroBoletasPorVender(localidad)}}</strong></td> 

                            <td class="border"><strong>{{numeroBoletasUtilizadas(localidad)}}</strong></td>

                            <td class="border">{{numeroBoletasTotales(localidad)}}</td> 
                            <td class="border">{{dineroVendido(localidad)|currency:'COP'}}</td>
                            <td class="border">{{localidad?.boletasPatrocinio.length}}</td>
                            <td class="border">{{localidad?.palcos?.length}}</td>

                            <td class="border">{{palcosVendidos(localidad, true)}}</td>
                            <td class="border">{{palcosVendidos(localidad, false)}}</td>

                            <td class="border">{{palcosCortesias(localidad)}}</td>
                            <td class="border">{{palcosEnProceso(localidad)}}</td>


                            <td class="border">{{dineroRecaudadoPalcos(localidad)|currency:'COP'}}</td>
                            <td class="border">{{dineroARecaudarPalcos(localidad)|currency:'COP'}}</td>
                            <td class="border">{{personasEnPalco(localidad)}}</td>
                            <!-- <td class="border"><button class=" action_button" routerLink="patrocinio/{{localidad?.id}}">Tickets patrocinio</button></td>-->
                            <td class="border"><button class=" action_button" routerLink="localidad/{{localidad?.id}}">Ver Ventas Especificas</button></td>
                           
                        </tr>
                        
                
                
                    </tbody>
                
                </table>
            </div>    
        <div class="col-12" >
            <p class="border p-3" style="background-color: white;"><strong>Dinero Total Recaudado: {{dineroRecaudado |currency:'COP'}} </strong>
            <br>
            <strong>Dinero Entregado: {{evento?.dineroEntregado |currency:'COP'}} </strong>
        </p>
  
            <button class="ml-3 btn action_button" routerLink="promotores">Ver promotores</button>
            <button class="ml-3 btn action_button" routerLink="reservas">Ver reservas</button>
        </div>
    </div>    


</section>