<section >

    <div id="prueba">
        
        
        <h1 class="centrado4 rounded" ><strong>Reserva para el evento {{palco?.nombreEvento}}</strong></h1>
        
        
    </div>
</section>


<div class="pagar cetrarTexto container border mt-5 p-3">
    <p><strong>Nombre de la Reserva:</strong> {{usuario.nombre}}</p>
    <p><strong>Nombre del promotor:</strong> {{promotor.nombre}}</p>
    <p><strong>Palco Numero: </strong>{{palco?.numeroDentroDeEvento}}</p>
    <p><strong>Valor Total: </strong>{{palco?.precio + palco?.servicio + palco?.servicioIva | currency:'COP'}}</p>
    <div class="ml-4" >
        <h5><strong>Selecciona el valor para aportar. Recuerda que debes reservar mínimo con el 50%, y completar el 100% en las próximas 120 horas.</strong></h5> 
        <select class="float-center ml-4 mb-4" (change)="cambiarTotal()" type="text" class= "form-control "name ="tipo" required="required" style="width: 100px;" [(ngModel)]="porcentaje">
            <option value=""> </option>
   
            <option value=50>50%</option>
            <option value=60>60%</option>
            <option value=70>70%</option>
            <option value=80>80%</option>
            <option value=90>90%</option>
            <option value=100>100%</option>
        </select>
        <h5 class="mt-4"><strong>Dinero a Aportar: </strong>{{valorAPagar | currency:'COP'}} </h5>
    </div>

     <form ngNoForm method="post" [action]="url" >
        <input name="merchantId" type="hidden" value="{{merchantId}}">
        <input name="accountId" type="hidden" value="{{accountId}}">
        <input name="description" type="hidden" value="{{descripcion}}">
        <input name="referenceCode" type="hidden" value="{{referenceCode}}">
        <input name="amount" type="hidden" value="{{valorAPagar}}">
        <input name="tax" type="hidden" value="{{tax}}">
        <input name="taxReturnBase" type="hidden" value="0">
        <input name="currency" type="hidden" value="COP">
        <input name="lng" type="hidden" value="es">
        <input name="signature" type="hidden" value="{{signature}}">
        <input name="test" type="hidden" value="0">
        <input name="buyerEmail" type="hidden" value="{{usuario?.correo}}">
        <input name="buyerFullName" type="hidden" value="{{usuario?.nombre}}">
        <input name="responseUrl" type="hidden" value="{{respuesta}}/eventos/respuesta">
        <input name="confirmationUrl" type="hidden" value="{{confirmacion}}">
        
       <input name="paymentMethods" type="hidden" value="{{metodos}}"> 
        
        <button name="Submit" *ngIf="palco.id!=null" class="btn action_button" type="submit"   value="Enviar" style="font-size:16px ;">Pagar</button>
        
      </form>  

      <!-- <button class="btn action_button" *ngIf="palco.id!=null" (click)="epaycoPalcosUsuarios()">
          Pagar
      </button> -->


</div>


