
<section class="container-fluid">
  <div class="row">
    <div class="col-12 pl-4 pr-4">
      <div class="row ">
        <div class="divisionLocalidad col-12 ">
          <div class="tituloLocalidad shadow ">
            <mat-icon class="float-right rounded  mt-1 ml-2 mr-2  botonesCerrar" (click)="cerrar()"> cancel_presentation
            </mat-icon>
            <h3><strong> Carrito de compras </strong>
              <br>

            </h3>
            <h4 class="contador">
              <strong>Tiempo para realizar la compra: <countdown [config]="{leftTime:240}"></countdown> </strong>
            </h4>

          </div>
          <div class="">
           

            <div class="  eventoFondo carrito   fondoBlanco border " *ngFor="let boleta of boletas">
              <h5 class="pl-md-4 pt-4"><strong>Evento: </strong>{{boleta?.nombreEvento}}</h5>
              <h5 class="pl-md-4 "><strong>Localidad: </strong> {{boleta.localidadNombre}}</h5>

              <h5 class="pl-md-4"><strong *ngIf="boleta.seccionSilla">Silla: </strong>{{boleta.seccionSilla}}</h5>
              <h5 class="pl-md-4"><strong>Precio: </strong> {{boleta?.precio| currency:'COP'}} + <strong>Servicio:
                </strong> {{boleta?.servicio| currency:'COP'}} + <strong>IVA: </strong> {{boleta?.servicio |
                currency:'COP'}}</h5>
              <h5 class="pl-md-4  pb-4"><strong>Valor: </strong> {{boleta?.precio + boleta?.servicio + boleta?.servicio
                | currency:'COP'}}</h5>
            </div>



            <div class="col-12 border " *ngIf="palco.id!=null">
              <h5 class="pt-4 pl-md-4"><strong>Evento: </strong>{{palco?.nombreEvento}}</h5>
              <h5 class="pl-md-4"><strong>Localidad: </strong> {{palco.nombre}}</h5>
              <h5 class="pl-md-4 "><strong>Palco No:</strong> {{palco.numeroDentroDeEvento}}</h5>
              <h5 class="pl-md-4"><strong>Personas por palco:</strong> {{palco.personasMaximas}}</h5>
              <h5 class="pl-md-4 "><strong>Precio: </strong> {{palco?.precio| currency:'COP'}} + <strong>Servicio:
                </strong> {{palco?.servicio| currency:'COP'}} + <strong>IVA</strong> {{palco?.servicioIva|currency:'COP'}}</h5>
              <h5 class="pl-md-4 pb-4"><strong>Valor Total: </strong>{{palco?.precio + palco?.servicio + palco?.servicioIva|currency:'COP'}}</h5>
            </div>

            <div class="fondoBlanco shadow col-12">
              <h5 class="pt-5 pl-md-4 pr-5">
                <strong>Valor Total:</strong> {{valorTotal |currency:'COP'}}
                <br>

                <strong *ngIf="boletas?.length>0">Cantidad de Tickets:</strong> {{boletas?.length}}
                <strong *ngIf="palco.id!=null">Cantidad de Palcos: 1</strong>


              </h5>
              <div class="pl-md-4 pb-5 mt-3">
                <h5 class="frase">Pagar con tarjeta</h5>
                <img class="btn-epayco" *ngIf="usuarioEntidad && boletas" (click)="epaycoTicketsUsuarios()"
                  src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/epayco/boton_de_cobro_epayco.png"
                  alt="botón epayco">



                <img class="btn-epayco" *ngIf="palco.id!=null" (click)="epaycoPalcosUsuarios()"
                  src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/epayco/boton_de_cobro_epayco.png"
                  alt="botón epayco">

                  

                  <h5 class="frase" *ngIf="efectivo">Pagar con efectivo</h5>
                  <img class="btn-epayco" *ngIf="usuarioEntidad && boletas && efectivo" (click)="epaycoTicketsUsuarios2()"
                  src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/epayco/boton_de_cobro_epayco.png"
                  alt="botón epayco">



                <img class="btn-epayco" *ngIf="palco.id!=null && efectivo" (click)="epaycoPalcosUsuarios2()"
                  src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/epayco/boton_de_cobro_epayco.png"
                  alt="botón epayco">
              </div>
            </div>


          </div>
          <div class="row">

            <div class="col-12 pt-3">
              <input placeholder="¿Te ayudo algún promotor?" [(ngModel)]="codigoVenta" class="float-right form-control"
                type="text">

            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</section>