.tituloLocalidad{
    background: linear-gradient(rgba(236, 158, 40), rgba(255, 80, 28)); 
    color:#FFF;
    padding: 2%;
    width: 100%;
   
    
}
.w20{
    width: 100px;
}
.boton-grupo{
    font-weight: bold;
    
}
.botonesCerrar{
	
    color:white  ;
    cursor: pointer;
}
.cantidad{
font-size: 18px;
}
.frase{
    font-weight: bold;
    color:#ed701c
}
.btn-epayco{
    cursor: pointer;
    
    display: block;

}
.carrito{
    overflow: auto;
}

@media(max-width:465px){
    h3{
        font-size: 18px  !important; 
    }
    h4{
        font-size: 16.5px  !important; 
    }
    h5{
        font-size: 15px  !important; 
    }
    .btn-epayco{
        width: 90%;
    }
}