.tituloLocalidad{
    background: linear-gradient(rgba(236, 158, 40), rgba(255, 80, 28)); 
    color:#FFF;
    padding: 3%;
    width: 100%;
    
}
.botonesCerrar{
	background-color:white; 
    color:#ed701c  ;
    cursor: pointer;

}

.btn-epayco{
    cursor: pointer;
    margin: 20px auto;
    display: block;
}