<section class="container-fluid">
  <div class="row">
    <div class="col-12 pl-4 pr-4">
      <div class="row ">
        <div class="divisionLocalidad col-12 ">
          <div class="tituloLocalidad shadow ">
            <mat-icon class="float-right rounded  mt-1 ml-2 mr-2  botonesCerrar" (click)="cerrar()"> cancel_presentation
            </mat-icon>
            <h3><strong> Carrito de compras </strong>
              <br>
              
            </h3>
            
            <h4 class="contador">
              <strong>Tiempo para realizar la compra: <countdown [config]="{leftTime:240}"></countdown> </strong>
            </h4>

          </div>

          <div class="">
  
           
            <div class="  eventoFondo carrito   fondoBlanco border " *ngFor="let boleta of boletas">
              <h5 class="pl-md-4 pt-4"><strong>Evento: </strong>{{boleta?.nombreEvento}}</h5>
              <h5 class="pl-md-4 "><strong>Localidad: </strong> {{boleta.localidadNombre}}</h5>

              <h5 class="pl-md-4"><strong *ngIf="boleta.seccionSilla">Silla: </strong>{{boleta.seccionSilla}}</h5>
              <h5 class="pl-md-4"><strong>Precio: </strong> {{boleta?.precio| currency:'COP'}} + <strong>Servicio:
                </strong> {{boleta?.servicio| currency:'COP'}} + <strong>IVA: </strong> {{boleta?.servicioIva |
                currency:'COP'}}</h5>
              <h5 class="pl-md-4  pb-4"><strong>Valor: </strong> {{boleta?.precio + boleta?.servicio + boleta?.servicioIva
                | currency:'COP'}}</h5>
            </div>



            <div class="col-12 border " *ngIf="palco.id!=null">
              <h5 class="pt-4 pl-md-4"><strong>Evento: </strong>{{palco?.nombreEvento}}</h5>
              <h5 class="pl-md-4"><strong>Localidad: </strong> {{palco.nombre}}</h5>
              <h5 class="pl-md-4 "><strong>Palco No:</strong> {{palco.numeroDentroDeEvento}}</h5>
              <h5 class="pl-md-4"><strong>Personas por palco:</strong> {{palco.personasMaximas}}</h5>
              <h5 class="pl-md-4 "><strong>Precio: </strong> {{palco?.precio| currency:'COP'}} + <strong>Servicio:
                </strong> {{palco?.servicio| currency:'COP'}} + <strong>IVA</strong> {{palco?.servicioIva|currency:'COP'}}</h5>
              <h5 class="pl-md-4 pb-4"><strong>Valor Total: </strong>{{palco?.precio + palco?.servicio + palco?.servicioIva|currency:'COP'}}</h5>
            </div>



            <div class="fondoBlanco shadow col-12">
              <h5 class="pt-5 pl-md-4 pr-5">
                <strong>Valor Total:</strong> {{valorTotal |currency:'COP'}}
                <br>

                <strong *ngIf="boletas?.length>0">Cantidad de Tickets: {{boletas?.length}}</strong>
                <strong *ngIf="palco.id!=null">Cantidad de Palcos: 1</strong>


              </h5>
              <div class="pl-md-4 pb-5 mt-3">
              
                <button class="btn action_button" *ngIf="usuarioEntidad && boletas" (click)="epaycoTicketsUsuarios()">Pagar</button>



                <button class="btn action_button" *ngIf="palco.id!=null" (click)="epaycoPalcosUsuarios()">Pagar</button>

                  
<!-- 
                  <h5 class="frase" *ngIf="efectivo">Pagar con efectivo</h5>

                   <button class="btn action_button" *ngIf="usuarioEntidad && boletas && efectivo" (click)="epaycoTicketsUsuarios2()">Pagar</button>



                <button class="btn action_button" *ngIf="palco.id!=null && efectivo" (click)="epaycoPalcosUsuarios2()">Pagar</button> 

                   <!-- <form ngNoForm method="post" [action]="url" >
                    <input name="merchantId" type="hidden" value="{{merchantId}}">
                    <input name="accountId" type="hidden" value="{{accountId}}">
                    <input name="description" type="hidden" value="{{descripcion}}">
                    <input name="referenceCode" type="hidden" value="{{referenceCode}}">
                    <input name="amount" type="hidden" value="{{valorTotal}}">
                    <input name="tax" type="hidden" value="{{tax}}">
                    <input name="taxReturnBase" type="hidden" value="0">
                    <input name="currency" type="hidden" value="COP">
                    <input name="lng" type="hidden" value="es">
                    <input name="signature" type="hidden" value="{{signature}}">
                    <input name="test" type="hidden" value="0">
                    <input name="buyerEmail" type="hidden" value="{{usuarioEntidad?.correo}}">
                    <input name="buyerFullName" type="hidden" value="{{usuarioEntidad?.nombre}}">
                    <input name="responseUrl" type="hidden" value="{{respuesta}}/eventos/respuesta">
                    <input name="confirmationUrl" type="hidden" value="{{confirmacion}}">
                    
                   <input name="paymentMethods" type="hidden" value="{{metodos}}"> 
                    
                    <button name="Submit" class="btn action_button" type="submit"   value="Enviar" style="font-size:16px ;">Pagar</button>
                    
                  </form>    -->

              </div>
            </div>

            <div class="col-12 mt-2 mb-2"  *ngIf="boletas?.length>0">
              <form (ngSubmit)="!todoForm.invalid &&validarCupon()" #todoForm="ngForm">
        
 
                <fieldset class="form-group"> 
                    <input type="text" class= "form-control"name ="codigo" required="required" placeholder="¿Algún Cupon?"  [(ngModel)]="codigo">
                    <button class="btn action_button mt-2" type="submit">Aplicar</button>
                </fieldset>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>