.tituloLocalidad{
    background: linear-gradient(rgba(236, 158, 40), rgba(255, 80, 28)); 
    color:#FFF;
    padding: 3%;
    width: 100%;
    
}
.botonesCerrar{
	background-color:white; 
    color:#ed701c  ;
    cursor: pointer;



}

.btn-epayco{
    cursor: pointer;
    
    display: block;

}
.carrito{
    overflow: auto;
}

@media(max-width:465px){
    h3{
        font-size: 18px  !important; 
    }
    h4{
        font-size: 16.5px  !important; 
    }
    h5{
        font-size: 15px  !important; 
    }
    .btn-epayco{
        width: 90%;
    }
}