
main{
    height: calc(100vh - 56px);
    display: grid;
}
.row-1{
    height: 100%;
}
.row-2{
    height: 100%;
}
.row-2 img {
    height: 13em;
    width: auto;
    filter:grayscale(1)
}
#sidebarMenu{
    display:none !important;
}
.menu-mobile{
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #102438;
}
.menu-mobile li{
    padding: 5px;
}
.menu-mobile a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.75);
}
.menu-mobile a:hover,
.menu-mobile a:focus,
.menu-mobile a:active{
    color:rgba(255, 255, 255, 0.5)
}
h3{
    text-align: center;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 10px;
}

.table a {
    text-decoration: none;
    text-transform: uppercase;
}

.table td {
    cursor: pointer;
}

.table td:hover {
    background-color: #e6e6e6;
}

.menu-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-cards a {
    text-align: center;
    text-decoration: none;
    padding: 36px 10px;
    margin: 10px 10px 10px 0;
    width: 290px;
    background-color: rgb(16 36 56);
    color: white;
    text-transform: uppercase;
    font-size: 15pt;
    border-radius: 20px;
    box-shadow: 3px 6px 6px #cecece;
}

.menu-cards a:hover {
    background-color: #17324e;
}




#sidebarMenu {
    word-break: break-all;
}
#sidebarMenu a{
    color:rgba(255, 255, 255, 0.5);
    margin-left: 15px;
}
#sidebarMenu a:hover,
#sidebarMenu a:focus,
#sidebarMenu a:active{
    color:rgba(255, 255, 255, 0.75);
}

#sidebarMenu a:hover {
    background: #ed701c;
    border-radius: 50px 0px 0px 50px;
    box-shadow: #2c2933 -1px 8px 14px;
}
.dashb{
    color: #ed701c !important;
    font-weight: bold;
    font-size: 20px;
}
.dashb:hover{
    cursor: default;
    background: #102438 !important;
    border-radius: 50px 0px 0px 50px;
    box-shadow: none !important;
}
.infoDate {
    padding: 10px 20px;
    width: 100%;
    background: #9c67d9;
    font-size: 1.4em;
    color: white;
    border-radius: 20px;
    text-align: center;
}

.table-responsive{
    background-color:#102438 ;
}

.flex-column{
    background-color:#102438;
    text-decoration-color: white;
}

.table-responsive {
    height: calc(100% + 58px) !important;
    text-decoration: white;
}

.gmo{
    text-decoration-color: white;
}

@media(min-width: 1300px){
    .menu-mobile{
        display: none;
    }
    #sidebarMenu{
        display: block !important;
    }
}
@media(min-width: 1300px){
    main{
        height: calc(100vh - 113px);
    }
}

@media(max-width: 624px) {
    .flex-column{
        padding-left: 0 !important;
    }
    .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .row-1,.row-2{
        min-width: 320px !important;
    }
    .mobileres{
        height: auto;
    }
    .col-md-9{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .menu-cards a {
        padding: 10px;
        width: 100%;
        background: none;
        color: #e95511;
        box-shadow: none;
        font-weight: 500;
    }
    .menu-cards a:hover {
        background-color: #e6e6e6;
    }
    .dashb{
        color: #ed701c !important;
        font-weight: bold;
        font-size: 25px;
    }
    .dashb:hover{
        cursor: default;
        background: #102438 !important;
        border-radius: 50px 0px 0px 50px;
        box-shadow: none !important;
    }
}