
<section class="container mt-5">



<table class="table">

    <thead>
        <tr>
            <th>Lista</th>
        </tr>



    </thead>
    <tbody>
      
        <tr>
            <td>  <a  routerLink="/administradores"> Administradores</a></td>

        </tr>
        <tr>
            <td>  <a  routerLink="/administradores/coordinadores"> Coordinadores</a></td>

        </tr>
        <tr> 
            <td> <a  routerLink="/usuarios"> Usuarios</a></td>
        </tr>
        <tr>
            <td>  <a  routerLink="/organizadores"> Organizadores</a></td>
        </tr>
        <tr>
            <td>  <a  routerLink="/administradores/admin/eventos/lista"> Eventos</a></td>
        </tr>
        <tr>
            <td>  <a  routerLink="/administradores/admin/ciudades/lista"> Ciudades</a></td>
        </tr>
        <tr>
            <td><a routerLink="/administradores/puntosFisicos">Puntos Fisicos</a></td>
        </tr>

        <tr>
            <td>  <a  routerLink="mapas"> Mapas De Eventos</a></td>
        </tr>

        <tr>
            <td>  <a  routerLink="/administradores/ministerios">Ministerios</a></td>
        </tr>

        <tr>
            <td>  <a  routerLink="/administradores/promotores">Promotores</a></td>
        </tr>

    </tbody>

</table>


</section>