
<div id="prueba">
			
			
    <h1><strong>{{evento.nombre}}</strong></h1> 
    <small  style="font-size: 24px;"> <strong> {{localidad.nombre}} </strong></small>
    <small *ngIf="!vender">Palcos terminados en esta etapa de ventas espera que se libere uno</small>
    
    
</div>


<section class="container mt-5">

<div class="container">
<table class="table mt-3 border rounded tabla" >
    <thead>
        <tr class="border ">

            <th class="border ">Numero de palco</th>
            <th class="border ">Precio</th>
            <th class="border " >Reservar</th> 
                           
            
        </tr>
    </thead>
    <tbody>
        <tr class="border"*ngFor = "let palco of localidad.palcos" >
            
            <td *ngIf="palco.disponible&&!palco.vendido &&!palco.proceso  && (!palco.reserva|| palco.reserva.numeroPromotor == promotor.numeroDocumento )" class="border"> <strong>{{palco.numeroDentroDeEvento}}</strong></td> 
            <td *ngIf="palco.disponible&&!palco.vendido&&!palco.proceso && (!palco.reserva|| palco.reserva.numeroPromotor == promotor.numeroDocumento )">Precio: {{palco.precio +palco.servicio + palco.servicioIva| number: '1.0-0'}} COP
                <br>
               <span *ngIf="palco.precioAlterno"> Precio para promotores: {{palco.precioAlterno +palco.servicioAlterno + palco.servicioIvaAlterno| number: '1.0-0'}} COP</span>
            </td> 
            <td class="border" *ngIf="palco.disponible&&!palco.vendido&&!palco.proceso  && (!palco.reserva|| palco.reserva.numeroPromotor == promotor.numeroDocumento )"> <button [disabled]="palco.reserva || !vender"  class="btn action_button ml-2 mt-2" (click)="agregarPalcoIndividual(palco.numeroDentroDeEvento)">Reservar</button> <button *ngIf="palco.precioAlterno &&!uso" [disabled]="palco.reserva || !vender" class="btn action_button ml-2 mt-2" (click)="agregarPalcoIndividualPromotor(palco.numeroDentroDeEvento)">Reservar Precio Promotor</button> <button [disabled]="!palco.reserva" class="btn action_button ml-2 mt-2" (click)="elminarReserva(palco.reserva.id)">Eliminar Reserva</button></td> 
        </tr>
    </tbody>
</table>
</div>
</section>