
<div id="prueba">
			
			
    <h1><strong>{{evento.nombre}}</strong></h1> 
    <small  style="font-size: 24px;"> <strong> {{localidad.nombre}} </strong></small>
    <small *ngIf="!vender  && localidad.palcos.length>0">Palcos terminados en esta etapa de ventas espera que se libere uno</small>
    
    
</div>


<section class="container mt-5" *ngIf="localidad.palcos.length>0">

<div class="container">
<table class="table mt-3 border rounded tabla" >
    <thead>
        <tr class="border ">

            <th class="border ">Numero de palco</th>
            <th class="border ">Precio</th>
            <th class="border " >Reservar</th> 
                           
            
        </tr>
    </thead>
    <tbody>
        <tr class="border"*ngFor = "let palco of localidad.palcos" >
            
            <td *ngIf="palco.disponible&&!palco.vendido &&!palco.proceso  && (!palco.reserva|| palco.reserva.numeroPromotor == promotor.numeroDocumento )" class="border"> <strong>{{palco.numeroDentroDeEvento}}</strong></td> 
            <td *ngIf="palco.disponible&&!palco.vendido&&!palco.proceso && (!palco.reserva|| palco.reserva.numeroPromotor == promotor.numeroDocumento )">Precio: {{palco.precio +palco.servicio + palco.servicioIva| number: '1.0-0'}} COP
                <br>
               <span *ngIf="palco.precioAlterno"> Precio para promotores: {{palco.precioAlterno +palco.servicioAlterno + palco.servicioIvaAlterno| number: '1.0-0'}} COP</span>
            </td> 
            <td class="border" *ngIf="palco.disponible&&!palco.vendido&&!palco.proceso  && (!palco.reserva|| palco.reserva.numeroPromotor == promotor.numeroDocumento )"> <button [disabled]="palco.reserva || !vender"  class="btn action_button ml-2 mt-2" (click)="agregarPalcoIndividual(palco.id)">Reservar</button> <button *ngIf="palco.precioAlterno &&!uso" [disabled]="palco.reserva || !vender" class="btn action_button ml-2 mt-2" (click)="agregarPalcoIndividualPromotor(palco.numeroDentroDeEvento)">Reservar Precio Promotor</button> <button [disabled]="!palco.reserva" class="btn action_button ml-2 mt-2" (click)="elminarReserva(palco.reserva.id)">Eliminar Reserva</button>
                <p *ngIf="palco.reserva"><a  href="https://allticketscol.com/reservas/{{palco.reserva.id}}">https://allticketscol.com/reservas/{{palco.reserva.id}}</a></p>
            </td> 
            
        </tr>
    </tbody>
</table>
</div>
</section>

<section class="container mt-5" *ngIf="localidad.boletas!=undefined&&localidad.boletas.length>0">
    <div class="row">
        <div class="col-12 esconder">
       
            <table class="table mt-2 tabla border shadow-xs p-3" style="text-align: center;">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                 
                  <th>Precio + Servicio + IVA</th>
  
  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>{{localidad?.nombre }}</strong></td>
                  <td>
                    <button class="pr-2 pl-2 rounded-circle  " (click)="quitaBoletaLocalidad()">-</button>
                    {{cantidad}}
                    <button class=" rounded-circle  " (click)="reservarBoletasPorLocalidad()">+</button>
                  </td>
   
                  <td ><strong>{{localidad.precio | currency: 'COP'}}</strong> + <strong>{{localidad.servicio|
                      currency:'COP'}} </strong> + <strong>{{localidad.servicioPorcentaje|currency:'COP'}}</strong></td>
  
  
  
                </tr>
              </tbody>
            </table>
            <h5><strong>
                Valor Total: {{localidad.precio * cantidad + localidad.servicio * cantidad + localidad.servicioPorcentaje * cantidad | currency: 'COP'}}
            </strong></h5>
            <button class="btn action_button" (click)="reservarBoleta()">
                Crear Link de compra
            </button>
          </div>
    </div>
</section>