<div id="prueba">	
    <h1><strong>Ventas promotor {{promotor?.nombre}}</strong></h1> 
</div>



<div id="desplazate">
    <p>
      <--- Desplázate para ver toda la información --->
    </p>
</div>



<section class="container-fluid mt-5">
    <div class="row">
      <div class="col-12 esconder">
        <table
          class="tabla table mt-3 border rounded tabla"
          style="text-align: center"
        >
          <thead>
            <tr class="border">
              <th class="border">Localidad</th>
              <th class="border">Numero</th>
              <th class="border">Documento de la compra</th>
              <th class="border">Recaudado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let palco of palcos">
              <td class="border">
                <strong>{{ palco?.nombre }}</strong>
              </td>
              <td class="border">
                <strong>{{ palco?.numeroDentroDeEvento }}</strong>
              </td>
              <td class="border">
                <strong>{{ palco?.reserva?.documentoReserva }}</strong>
              </td>
              <td class="border">
                  <strong>{{ darPrecioPagar(palco)| currency:'COP'}}</strong>
         
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  