.tituloLocalidad{
    background: linear-gradient(#666, #333); 
    color:#FFF;
    padding: 3%;
    width: 100%;
    
}
.eventoFondo{
    background-color: white;
    
}
.aaaa{        
    border: 2px solid #ed701c;
    height: 0px;
    width: 70px;
}