<div id="prueba">
            
            
  <h1><strong>Contactanos </strong></h1>

  
</div>

<div class="container mt-5">
<div class="row">
  <div class="col-1"></div>
  <div class="col-10 border" style="background-color: white;">
    <form  class="p-4"   #contactForm="ngForm">
    
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input [(ngModel)]="nombre" name="nombre" type="text" id="nombre" class="form-control">
      </div>
  
  
  
      <div class="form-group">
        <label for="correo">Correo:</label>
        <input [(ngModel)]="correo" name="correo" type="text" id="correo" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="mensaje">Mensaje:</label>  
        <textarea [(ngModel)]="mensaje" name="mensaje" style="height: 100px;" id="mensaje" cols="30" rows="10"  class="form-control"></textarea>
      </div>
  
      <button class="btn action_button">Enviar</button>
  
    </form>
  </div>
  <div class="col-1"></div>
  </div>    
  
  </div>