
*{
	margin: 0;
	padding: 0;
    border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.contenedor-boleta{
    display: flex;
    width: 1584px;
    height: 576px;
    
    text-align: center;
}
.izq,.mid,.der{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.izq{
    width: 394.5px; 
    font-size: 29px;
}
.izq h3{
    height: 80px;
}
.mid{
    width: 789px;
    font-size: 34px;
    justify-content: space-between;
}
.mid p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.midbot,.derbot,.derbot2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
}
.midbot{
    width: 750px;
}
.derbot2{ 
    width: 570px;
}
.der{
    height: 570px; 
    width: 394.5px;
    justify-content: space-around;
    font-size: 52px;
}
.rotar{
    width: 570px; 
    height: 394.5px;
    transform: rotate(90deg);
    transform-origin: center center;
}
.midarriba{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    height: 570px;
    width: 789px;
}
.midizq{
    font-size: 7px;
    height: 570px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rotarmidizq{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 34px;
    transform: rotate(90deg);
    transform-origin: center center;
    position: absolute;
    font-size: 18px;
    margin-top: 80px;
}
.rotar h2{
    height: 188px;
}
.midder{
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
}
.logo{
    width: 750px;
}
.codigo{
    width: 355.05px;
}
.derbot{
    height: 130px;
}
.small{
    font-size: 18px !important;
}
.small2{
    font-size: 15px !important;
}
.small3{
    font-size: 16.5px !important;
    margin-right: 30px;
}
.estrella{
    width: 60px;
    margin-bottom: -12px;
}
.estrella1{
    width: 34px;
    margin-bottom: 0px;
    margin-left: 5px;
}
.margen{
    color: black;
    background-color: black;
    height: 3px;
    width: 713px;
}
.tamanioLetra{
    font-size: 90px;
}