

*{
	margin: 0;
	padding: 0;
    border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.contenedor-boleta{
    display: flex;
    width: 2112px;
    height: 768px;
    
    text-align: center;
}
.izq,.mid,.der{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.izq{
    width: 526px; 
    font-size: 46px;
    margin-bottom: -20px;
}
.izq h3{
    padding-top: 15px;
    height: 120px;
    font-size: 45px;
    z-index: 4;
}
.izq p{
 
    font-size: 38px;
    z-index: 2;
   
}
.mid{
    width: 1052px;
    font-size: 45px;
    justify-content: space-between;
}
.mid p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.midbot,.derbot,.derbot2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
}
.midbot{
    width: 1000px;
}
.derbot2{ 
    width: 760px;
}
.der{
    height: 760px; 
    width: 526px;
    justify-content: space-around;
    font-size: 69px;
}
.rotar{
    width: 760px; 
    height: 526px;
    transform: rotate(90deg);
    transform-origin: center center;
}
.midarriba{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    height: 760px;
    width: 1052px;
}
.midizq{
    font-size: 10px;
    height: 760px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rotarmidizq{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 760px;
    height: 45px;
    transform: rotate(90deg);
    transform-origin: center center;
    position: absolute;
    font-size: 26px;
    margin-top: 155px;
    margin-right: -40px;
}
.rotar h2{
    height: 251px;
}
.midder{
    height: 760px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
}
.logo{
    width: 1000px;
    margin-top: 30px;
}
.codigo{
    width: 420.4px;
    margin-bottom: -30px;
    
    z-index: 1;
}
.derbot{
    height: 174px;
}
.small{

    font-size: 32px !important;
}
.small4{
    margin-top: 10px;
    margin-right: -140px;
    font-size: 28px !important;
}
.derbot{
    font-size: 46px !important;
}
.small3{
    font-size: 34px !important;
    margin-right: 60px;
}
.estrella{
    width: 80px;
    margin-bottom: -16px;
}
.estrella1{
    width: 45px;
    margin-bottom: 0px;
    margin-left: 7px;
}
.margen{
    color: black;
    background-color: black;
    height: 4px;
    width: 951px;
}
.tamanioLetra{
    font-size: 100px;
}