
<div id="prueba">
			
			
    <h1><strong>{{evento.nombre}}</strong></h1> 
    <small *ngFor="let etapa of etapas" style="font-size: 24px;"> <strong> {{etapa.nombre}} </strong><br></small>

    
    
</div>


<section class="container mt-5">

<div class="container">
<table class="table mt-3 border rounded tabla" >
    <thead>
        <tr class="border ">

            <th class="border ">Nombre</th>
            <th class="border ">Precio</th>
            <th  class="border ">Ver </th>               
                              
        </tr>
    </thead>
    <tbody>
        <tr class="border"*ngFor = "let localidad of localidades" >
            
            <td class="border"> <strong>{{localidad?.nombre }}</strong></td> 
            <td>{{localidad.precio +localidad.servicio + localidad.servicioPorcentaje| number: '1.0-0'}} COP</td>
            
            
            <td *ngIf="localidad.palcos.length>0" class="border"> <button class="btn action_button" routerLink="{{localidad.id}}">Ver Palcos</button></td> 
            <td *ngIf="evento?.mapa &&localidad.boletas.length>0 && localidad.palcos.length==0"  class="border">
                <a href="https://allticketscol.com/eventos/evento/{{evento.id}}/pago/palco/mapa/{{promotor?.usuario}}">
                    https://allticketscol.com/eventos/evento/{{evento.id}}/pago/palco/mapa/{{promotor?.usuario}}
                </a>
            </td>
            <td *ngIf="!evento?.mapa &&localidad.boletas.length>0" class="border"> 
                <a href="https://allticketscol.com/eventos/evento/{{evento?.id}}/pago/{{localidad?.id}}/{{promotor?.usuario}}/promotor">
                    https://allticketscol.com/eventos/evento/{{evento?.id}}/pago/{{localidad?.id}}/{{promotor?.usuario}}/promotor
                </a>
            </td> 
        </tr>
    </tbody>
</table>
</div>
</section>