th{
    background:linear-gradient(#666, #333);
    color: white;
}
td{
    background-color: white;
}

@media(max-width:530px)
{
    .tabla{
        width: 530px;
        
    }
    .esconder{
        overflow-x: scroll;
    }
    
}