
.action_button {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    
    background: linear-gradient(#666, #333); 
    padding: 13px 26px;
    font-size: 12px; 
    text-transform: uppercase;
}

.action_button:hover {
    background: linear-gradient(#F9B84A, #ed701c); 
    color: #fff; 
}




.preloader {
    width: 200px;
    height: 200px;
    margin-left: 150px;
    margin-top: 150px;
    border: 10px solid #eee;
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  