.contenedor2:hover p{
    display:initial ;
}
.contenedor2 p {
    display: none;
    background-color: rgba(0,0,0,0);
    text-shadow: 0px 0px 2px black;
}
p.centrado2 {
    width: 80%;
}
.sold_out {
    top: 2em;
    left: -4em;
    display: block;
    position: absolute;
    z-index:10;
    margin-left: 43%;
    margin-top:-4%;
    overflow: hidden;
    width: 180px;
    height: 180px;
    transform: rotate(30deg);
}
.temperatura, .botonVer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.texto{
    width: 60%;
}

@media(max-width: 1516px){
    .texto{
        width: 80%;
    }
}

.fechas{
    margin-bottom: 0;
    font-size: 14px;
}
.contenedorBot{
    margin-right: 0;
    margin-left: 0;
}
.titulos{
    font-size: 20px;
}
#prueba{
 padding: 15px;
}
.ciudadTitulo{
 margin: 0;
}

.bg-darkblue-gradient{
    background: linear-gradient(#102438, #32587e);
}

.contenedor2 a{
    position: relative;
}

.contenedor2 p{
    top: 50%;
}
@media(max-width:400px){
    .titulos{
        font-size: 20px;
    }
    .fechas strong{
        font-size: 16px !important;
    }
    .contenedor8{
        padding: 0;
        margin-top: 25px !important;
    }
    #prueba{
        padding: 10px;
    }    
}

@media(max-width: 1064px){
    .fechas strong{
        font-size: 14pt;
    }
}



.oscurecer{
    opacity: 1;
    transition: all .3s;
    z-index: -1;
}

.oscurecer:hover{
    opacity: 0.4;
}

.contenedor2:hover .oscurecer{
    opacity: 0.4;
}