.contenedor2:hover p{
    display:initial ;
}
.contenedor2 p {
    display: none;
    background-color: rgba(0,0,0,0);
    text-shadow: 0px 0px 2px black;
}
p.centrado2 {
    width: 80%;
}
.sold_out {
    top: 2em;
    left: -4em;
    display: block;
    position: absolute;
    z-index:10;
    margin-left: 43%;
    margin-top:-4%;
    overflow: hidden;
    width: 180px;
    height: 180px;
    transform: rotate(30deg);
}
.temperatura, .botonVer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.texto{
    width: 100%;
}
.fechas{
    margin-bottom: 0;
}
.contenedorBot{
    margin-right: 0;
    margin-left: 0;
}
.titulos{
    font-size: 25px;
}
#prueba{
 padding: 15px;
}
.ciudadTitulo{
 margin: 0;
}

.bg-darkblue-gradient{
    background: linear-gradient(#102438, #32587e);
}

.contenedor2 a{
    position: relative;
}
.overlay{
    
    position:absolute;
    background: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
}
.hover-overlay:hover .overlay{
    opacity: 0.5;
}
.contenedor2 p{
    top: 50%;
}
@media(max-width:392px){
    .titulos{
        font-size: 25px;
    }
    .contenedor8{
        padding: 0;
        margin-top: 25px;
    }
    #prueba{
        padding: 10px;
    }    
}

@media(max-width: 1064px){
    .fechas strong{
        font-size: 14pt;
    }
}



