
<div class="container">
    <div class="row">
        <div class="col-12 border rounded p-4 fondoNegro" >
            <mat-icon class="float-right rounded pt-2 pb-2 pl-3 pr-3 botonesCerrar" mat-button mat-dialog-close> cancel_presentation</mat-icon>
            <div class="centrarTexto">
                <h3 class="colorLetras"><strong>Trabaja con nosotros como promotor</strong></h3>
                <h5><strong>Manda tu solicitud!</strong></h5>
                <h5><strong>Pronto te contactaremos</strong></h5>
            </div>
            <hr>

            <form (ngSubmit)="!todoForm.invalid  && onSubmit()" #todoForm="ngForm">
                <fieldset class="form-group">
              
                    <input [(ngModel)]="documento" placeholder="Numero Documento" type="text" class= "form-control "name ="id" required="required" >
                </fieldset>    
                
                <fieldset class="form-group">
             
                    <input [(ngModel)]="nombre" placeholder="Nombre" type="text" class= "form-control "name ="nombre" required="required"  >
                </fieldset>

                <fieldset class="form-group">
       
                    <select [(ngModel)]="tipoDocumento" type="text" class= "form-control "name ="tipo" required="required" >
                        <option value="Cedula">Cedula</option>
                        <option value="Pasaporte">Pasaporte</option>
                    </select>    
                </fieldset>

                <fieldset class="form-group">
               
                    <input [(ngModel)]="fecha" type="date"  class= "form-control" name="fecha" required="required" >
                </fieldset>
                <fieldset class="form-group">
            
                    <input [(ngModel)]="celular" placeholder="Celular" type="text"  class= "form-control "name ="celular" required="required" >
                </fieldset>

                <fieldset class="form-group">
           
                    <input [(ngModel)]="correo" placeholder="Correo" type="email" class= "form-control "name ="correo" required="required">
                </fieldset>
                <fieldset class="form-group">
            
                    <input [(ngModel)]="haces" placeholder="¿Que haces? ¿Estudias? ¿Trabajas?" type="text"  class= "form-control "name ="estudiante" required="required" >
                </fieldset>

             
      
                <fieldset class="form-group">
              
                    <input [(ngModel)]="porque" placeholder="¿Por qué quieres trabajar con nosotros?" type="text" class= "form-control "name ="porque" required="required">
                </fieldset>

                <fieldset class="form-group">
              
                    <input [(ngModel)]="gusta" placeholder="¿Qué te gusta hacer?" type="text" class= "form-control "name ="gustos" required="required">
                </fieldset>

    
                <div style="text-align: center;">
                    <button class="btn botonLogin mt-2" type="submit">Enviar</button>
                </div>    
                <small class="mt-5">Al hacer clic en "Enviar", Aceptas nuestro terminos, condiciones y nuestra politica de tratamiento de datos. </small> 
            </form>
        </div>    
    </div>
</div>