<div id="prueba">
  <h1><strong>{{etapa?.nombre}} </strong></h1>
  <h1><strong> {{evento?.nombre}}</strong></h1>
  <h1 style="font-size: 25px;"><strong>Hola {{usuarioEntidad?.nombre}}</strong></h1>

</div>



<section class="container-fluid mt-5 palconomapa">
  <div class="row ">

    <div class="col-12  pl-5 pr-5" *ngIf="!evento?.mapa">
      <div class="row border rounded shadow" style="background-color: white;">
        <div class="col-12">
          <h4 class="p-3"><strong>Selección de Palcos</strong></h4>
          <p class="pl-3 pr-3 pb-4">Por favor, indica el palco que deseas añadir a tu pedido. El numero de Palcos por
            compra se limita a 1 y puedes comprar máximo 2 por cada evento</p>
        </div>
        <div class="col-12 esconder">
          <div class="ver">
            <p>
              <--Desplázate en la tabla-->
            </p>
          </div>
          <table class="table mt-2 tabla border shadow-xs p-3" style="text-align: center;">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Agregar</th>

                <th>Precio + Servicio + IVA</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>{{localidadCargada?.nombre }}</strong></td>
                <td>

                  <button class="rounded-circle addPalco" (click)="agregarALaLista(localidadCargada)">+</button>

                </td>

                <td><strong>{{localidadCargada.precio | currency: 'COP'}}</strong> +
                  <strong>{{localidadCargada.servicio| currency:'COP'}}</strong> +
                  <strong>{{localidadCargada.servicioPorcentaje|currency:'COP'}}</strong>
                </td>


              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12  justify-content-end">
          <div>
            <h5> <strong>Total: </strong> {{valorLocalidadAgregada | currency:'COP'}} </h5>
            <h5><strong>Entradas: </strong> {{valorBoletas}} </h5>
          </div>
          <button style="font-size: 12px;" class="action_button float-right mr-1 mt-2 mb-3 p-3"
            (click)="agregarAlCarrito()"> Agregar al carrito</button>
        </div>
      </div>
    </div>




    <!-- <div class="col-12">
      <div class="grid">
        <img src="../../../../../assets/images/img/vaca.png" alt="vaca" routerLink="vaca">
        <a routerLink="vaca">Hacer Vaca</a>
      </div>
    </div>-->


  </div>

</section>


<div *ngIf="evento?.mapa" class="container-fluid">
  <div class="row">
    <div class="col-12 informacion">
      <h2><strong>Selecciona lo que deseas comprar</strong> </h2>
      <h5 *ngIf="localidadCargada.palcos.length>0"><strong>Agrega a tus amigos en tu perfil una vez realices la compra,
          o puedes utilizar el mismo código QR
          máximo {{localidadCargada.palcos[0].personasMaximas}} veces</strong></h5>
      <h5><strong>{{evento?.mensaje}}</strong></h5>
    </div>
  </div>
</div>
<img class="sold_out" *ngIf="evento.soldout && evento?.mapa" src="../../assets/images/img/SOLDOUT.png" alt="">
<div *ngIf="evento?.mapa" id="convensiones">







  <p *ngIf="evento?.mapa =='mapa20'"><span class="cuadros cuadros10">#</span> PALCOS VIP</p>
  <p *ngIf="evento?.mapa =='mapa20'"><span class="cuadros4 cuadros">#</span>PALCOS GENERAL</p>
  <p *ngIf="evento?.mapa =='mapa20'"><span class="cuadros cuadrosDF">#</span>General</p>

  <p *ngIf="evento?.mapa =='mapa21'"><span class="cuadros4 cuadros">#</span>VIP PAMBELE</p>
  <p *ngIf="evento?.mapa =='mapa21'"><span class="cuadros cuadrosDF">#</span>GENERAL LOS TESOS</p>
  

  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros">#</span>Palcos PATROCINADORES</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros10 cuadros">#</span>Palcos PAL' CENTRO Y PA' DENTRO</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros7 cuadros">#</span>Palcos AYAYAY</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros8 cuadros">#</span>Palcos PAPAAA</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros13 cuadros">#</span>Palcos SÍRVALO PUES</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros12 cuadros">#</span>Palco Ticket individual SALUD COMPADRE</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros4 cuadros">#</span>PREFERENCIAL</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros5 cuadros">#</span>NORTE</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros3 cuadros">#</span>ORIENTE</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros9 cuadros">#</span>OCCIDENTE</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros rojo">v</span>Vendido</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros amarillo">p</span>En Proceso de compra</p>

  <p *ngIf="evento?.mapa =='mapa1'"><span class="cuadros cuadros10">#</span> Palcos Adicta al dolor</p>
  <p *ngIf="evento?.mapa =='mapa1'"><span class="cuadros5 cuadros">#</span> Zona Collar de Perlas</p>
  <p *ngIf="evento?.mapa =='mapa1'"><span class="cuadros4 cuadros">#</span>Zona Días Nublados</p>
  <p *ngIf="evento?.mapa =='mapa1'"><span class="cuadros rojo">v</span>Vendido</p>
  <p *ngIf="evento?.mapa =='mapa1'"><span class="cuadros amarillo">p</span>En Proceso de compra</p>

  <p *ngIf="evento?.mapa =='mapa2'"><span class="cuadros cuadros10">#</span> PALCOS ALFOMBRA ROJA</p>
  <p *ngIf="evento?.mapa =='mapa2'"><span class="cuadros5 cuadros">#</span> Palcos DIAMANTE</p>
  <p *ngIf="evento?.mapa =='mapa2'"><span class="cuadros cuadros13">#</span> PLATINO CON SILLA</p>
  <p *ngIf="evento?.mapa =='mapa2'"><span class="cuadrosPalcos cuadros">#</span> GENERAL</p>
  <p *ngIf="evento?.mapa =='mapa2'"><span class="cuadros">#</span>PALCOS TICKES INDIVIDUALES</p>
  <p *ngIf="evento?.mapa =='mapa2'"><span class="cuadros rojo">v</span>Vendido</p>
  <p *ngIf="evento?.mapa =='mapa2'"><span class="cuadros amarillo">p</span>En Proceso de compra</p>

  <p *ngIf="evento?.mapa =='mapa7'"><span class="cuadros cuadros10">#</span> PALCOS</p>
  <p *ngIf="evento?.mapa =='mapa7'"><span class="cuadros13 cuadros">#</span> Boletas GENERAL</p>
  <p *ngIf="evento?.mapa =='mapa7'"><span class="cuadros rojo">v</span>Vendido</p>
  <p *ngIf="evento?.mapa =='mapa7'"><span class="cuadros amarillo">p</span>En Proceso de compra</p>

  <p *ngIf="evento?.mapa =='mapa8'"><span class="cuadros cuadros10">#</span> PALCOS</p>
  <p *ngIf="evento?.mapa =='mapa8'"><span class="cuadros cuadros13">#</span> Boletas VIP</p>
  <p *ngIf="evento?.mapa =='mapa8'"><span class="cuadrosPalcos cuadros">#</span> Boletas GENERAL</p>
  <p *ngIf="evento?.mapa =='mapa8'"><span class="cuadros rojo">v</span>Vendido</p>
  <p *ngIf="evento?.mapa =='mapa8'"><span class="cuadros amarillo">p</span>En Proceso de compra</p>

  <p *ngIf="evento?.mapa =='mapa9'"><span class="cuadros cuadros10">#</span> PALCOS</p>
  <p *ngIf="evento?.mapa =='mapa9'"><span class="cuadrosPalcos cuadros">#</span> Boletas GENERAL</p>
  <p *ngIf="evento?.mapa =='mapa9'"><span class="cuadros rojo">v</span>Vendido</p>
  <p *ngIf="evento?.mapa =='mapa9'"><span class="cuadros amarillo">p</span>En Proceso de compra</p>

  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadrosPalcos cuadros10">#</span> ZONA CHILL</p>
  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadros10 cuadros">#</span> PALCOS BACKSTAGE (Incluye Habitación para 3 personas máximo)</p>
  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadros5 cuadros">#</span> SOFAS SINCRODESTINO</p>
  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadros6 cuadros">#</span>MESAS VIP</p>
  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadros13 cuadros">#</span> SINCRODESTINO INDIVIDUAL</p>
  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadros rojo">v</span>Vendido</p>
  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadros amarillo">p</span>En Proceso de compra</p>



</div>





<div id="desplazate" *ngIf="evento?.mapa=='mapa11'">
  <p>
    <-- Desplázate en el mapa -->
  </p>
</div>





<div id="desplazate" *ngIf="evento?.mapa=='mapa2'">
  <p>
    <-- Desplázate en el mapa -->
  </p>
</div>
<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa2'">

  <div class="mapa" style="margin: 0px auto;">
    <div class="contenedormapa2">
      <div class="generalmap2" (click)="abrirTickets(localidadCargadaBoletas)">GENERAL</div>
      <div class="contenedormapa2mid">
        <div class="tarimamap2">TARIMA</div>
        <div *ngFor="let item of lista1">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
        <!-- <div *ngFor="let item of lista11">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div> -->
        <div *ngFor="let item of lista2">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
        <div class="cuadros"
        (click)="seleccionarLocalidadParaPalcoIndividual(11234)">
            9
      </div>

        <div class="clearFix"></div>
        <div *ngFor="let item of lista3">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
        <!-- <div *ngFor="let item of lista12">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div> -->
        <div *ngFor="let item of lista4">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>

        <div class="cuadros"
        (click)="seleccionarLocalidadParaPalcoIndividual(11232)">
            18
      </div>
        <div class="clearFix"></div>
        <div *ngFor="let item of lista5">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
        <!-- <div *ngFor="let item of lista13">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div> -->
        <div *ngFor="let item of lista6">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
        <div class="cuadros"
        (click)="seleccionarLocalidadParaPalcoIndividual(11233)">
            27
      </div>
        <div class="clearFix"></div>
        <div *ngFor="let item of lista7">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
        <div class="clearFix"></div>
        <div *ngFor="let item of lista11">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
        <div class="clearFix"></div>
        <div *ngFor="let item of lista12">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
        <div class="clearFix"></div>
        <div *ngFor="let item of lista8">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
        <div class="cuadros"
        (click)="seleccionarLocalidadParaPalcoIndividual(11235)">
            9
      </div>
        <div class="clearFix"></div>
        <div *ngFor="let item of lista9">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
        <div class="cuadros"
        (click)="seleccionarLocalidadParaPalcoIndividual(11236)">
            18
      </div>
        <div class="clearFix"></div>
        <div *ngFor="let item of lista10">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
        <div class="cuadros"
        (click)="seleccionarLocalidadParaPalcoIndividual(11237)">
            27
      </div>
        <div class="clearFix"></div>
        <div *ngFor="let item of lista13">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
        <div class="clearFix"></div>
        <div *ngFor="let item of lista14">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
        <div class="clearFix"></div>
        <div *ngFor="let item of lista15">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
        
        <div class="clearFix"></div>
        <div class="platmap2" (click)="abrirTickets(localidadCargada)">PLATINO CON SILLAS</div>
      </div>
      <div class="generalmap2" (click)="abrirTickets(localidadCargadaBoletas)">GENERAL</div>
    </div>
  </div>
</div>

<div id="desplazate" *ngIf="evento?.mapa=='mapa7'">
  <p>
    <-- Desplázate en el mapa -->
  </p>
</div>
<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa7'">

  <div class="mapa" style="margin: 0px auto;">
    <div class="contenedormapa7">
      <div class="tarimamap7">TARIMA</div>
      <div class="contenedormapa7mid">
        <div class="palcosmapa7">
          <div *ngFor="let item of lista1">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
        </div>
        <div class="palcosmapa7">
          <div class="genmap71" (click)="seleccionarLocalidad(localidadCargadaGeneral,localidadCargadaBoletasVIP)"></div>
          <div class="genmap72" (click)="seleccionarLocalidad(localidadCargadaGeneral,localidadCargadaBoletasVIP)">PÚBLICO GENERAL Y MEET & GREET</div>
        </div>
        <div class="palcosmapa7">
          <div *ngFor="let item of lista2">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="desplazate" *ngIf="evento?.mapa=='mapa8'">
  <p>
    <-- Desplázate en el mapa -->
  </p>
</div>
<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa8'">

  <div class="mapa" style="margin: 0px auto;">
    <div class="contenedormapa7">
      <div class="tarimamap8">TARIMA</div>
      <div class="mapa8vip">
        <div class="palcosmapa8a">
          <div *ngFor="let item of lista1">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
        </div>
        <div class="palcosmapa8b">
          <div *ngFor="let item of lista2">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
        </div>
        <div class="vipmapa8" (click)="abrirTickets(localidadCargadaBoletasVIP)">VIP</div>
        <div class="mapa8general">
          <div class="clearFix"></div>
          <div class="genmapa8" (click)="abrirTickets(localidadCargadaGeneral)">GENERAL</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="desplazate" *ngIf="evento?.mapa=='mapa9'">
  <p>
    <-- Desplázate en el mapa -->
  </p>
</div>
<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa9'">

  <div class="mapa" style="margin: 0px auto;">
    <div class="contenedormapa7">
      <div class="tarimamap9">TARIMA</div>
      <div class="mapa9general">
        <div class="mapa8general">
          <div class="genmapa9" (click)="abrirTickets(localidadCargadaGeneral)">GENERAL</div>
        </div>
        <div class="palcosmapa9">
          <div *ngFor="let item of lista1">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
        </div>
      </div>
      <div class="genmapa9bot" (click)="abrirTickets(localidadCargadaGeneral)"></div>
    </div>
  </div>
</div>

<div id="desplazate" *ngIf="evento?.mapa=='mapa23'">
  <p>
    <-- Desplázate en el mapa -->
  </p>
</div>
<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa23'">
  <div class="mapa" style="margin: 0px auto;">

    <div class="orientalmapa23" (click)="abrirTickets(localidadCargadaOriente)">Oriental</div>
    <div class="map22arriba">

      <div class="nortemapa23" (click)="abrirTickets(localidadCargadaNorte)">Norte</div>

      <div class="cajaPrueba23">
        <div class="preferencialmap23 cuadros14" (click)="abrirTickets(localidadCargadaBoletas)">Preferencial con Silla</div>
        <div class="atrasmapa23">
          <div class="top23list21"><div *ngFor="let item of lista33">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros12':item.localidad=='fumeteo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div></div>
          <div class="top23list32"><div *ngFor="let item of lista32">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros12':item.localidad=='fumeteo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div></div>
          <div class="mapa23topbot">
            <div class="top23list30"><div *ngFor="let item of lista30">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros12':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div class="bot23list30"><div *ngFor="let item of lista31">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros12':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
          </div>
          <div class="top23list21"><div *ngFor="let item of lista29">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros13':item.localidad=='fumeteo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div></div>
          <div class="top23list28"><div *ngFor="let item of lista28">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros13':item.localidad=='fumeteo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div></div>
          <div class="top23list21"><div *ngFor="let item of lista27">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros13':item.localidad=='fumeteo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div></div>
          <div class="top23list21"><div *ngFor="let item of lista26">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div></div>
          <div class="mapa23topbot">
            <div><div *ngFor="let item of lista24">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista25">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
          </div>
          <div class="top23list21"><div *ngFor="let item of lista23">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div></div>
        </div>
        <div class="frentemapa23">
          <div class="patrocinadormapa23 top23">
            <div class="top23list19"><div *ngFor="let item of lista21">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div class="top23list19"><div *ngFor="let item of lista19">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div class="top23list17"><div *ngFor="let item of lista17">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div class="top23list15"><div *ngFor="let item of lista15">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista13">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista11">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista9">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista7">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista5">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista3">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista1">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
          </div>
          <div class="hausemix23">HAUSE MIX</div>
          <div class="patrocinadormapa23 bottom23">
            <div class="bot23list19"><div *ngFor="let item of lista22">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div class="bot23list19"><div *ngFor="let item of lista20">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div class="bot23list17"><div *ngFor="let item of lista18">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div class="bot23list15"><div *ngFor="let item of lista16">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista14">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista12">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista10">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista8">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista6">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista4">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista2">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
          </div>
        </div>
        <div class="tarimamap23">TARIMA</div>
    </div><div class="clearFix"></div>
    <div class="occidentalmapa23" (click)="abrirTickets(localidadCargadaOccidente)">Occidental</div>
    

  </div>
</div>

</div>
