.letraGrande span {
  font-size: 18px;
}

.fondoBlanco {
  background-color: white;
}

.divisionLocalidad {
  text-align: right;
  width: 600px;
  text-align: center;
  transition: all 1s;
  position: relative;
  width: 100%;
}
img {
  width: 60px;
  cursor: pointer;
}
.tituloActual {
  font-weight: bold;
}
.tituloLocalidad {
  background: linear-gradient(rgba(236, 158, 40), rgba(255, 80, 28));
  color: #fff;
  padding: 3%;
  width: 100%;
}

.action_button:hover {
  background: linear-gradient(
    rgba(236, 158, 40, 0.87),
    rgba(255, 80, 28, 0.87)
  );
}
.map22arriba{
  height: 360px;
}
.vacaxiones{
  width: 80px;
  height: 330px;
  background-color: #bb0083;
  color: white;
  float: left;
  font-weight: bold;
  padding-top: 150px;
  font-size: 12px;
}
.chillmapa5{
  margin-left: 10px !important;
  margin-right: 10px !important;
  width: 175px !important;
}
.chillmapa51{
  height: 43px !important;
  margin-bottom: 0 !important;
}
.tarimamapa5dj{
  margin-left: 49px;
  margin-top: 6px;
  width: 283px;
  height: 75px;
  background-color: #333;
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pistamapa5{
  width: 400px;
  display: flex;
  position: relative;
  
}
.mesasmapa5{
  position: absolute;
  left: 163px;
  top: 42px;
}
.sincroindividualt{
  width: 284px;
  height: 240px;
  margin-left: 3px;
  margin-right: 3px;
  
  cursor: pointer;
}
.sincroindividualb{
  width: 376px;
  height: 85px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0px;
  cursor: pointer;
}
.nmtop{
  margin-top: 0 !important;
}
.filaspalcos{
  display: flex;
  flex-flow: column;
}
.vacaxiones:hover{
  background-color: rgb(121, 16, 60);
}
.tarimamap22{
  margin-left: 100px;
  width: 570px;
  height: 95px;
  background-color: #333;
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cajaPrueba22{
  width: 515px;
  height: 332px;
  margin-left: 110px;
}
.nortemapa23{
  width: 80px;
  height: 1054px;
  background-color: rgb(187, 0, 131);
  color: white;
  float: left;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-border-radius: 100px 0px 0px 100px;
  -webkit-border-radius: 100px 0px 0px 100px ;
  border-radius: 100px 0px 0px 100px;
}
.nortemapa23:hover{
  background-color: rgb(121, 16, 60);
}
.orientalmapa23, .occidentalmapa23{
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-left: 280px;
  width: 1100PX;
  height: 95px;
  margin-bottom: 20px;
  margin-top: 20px;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
  background: radial-gradient(110% 50% at bottom, transparent 50%, 50%);
}
.occidentalmapa23{
  background-color: rgb(148,148,51);
}
.occidentalmapa23:hover{
  background-color: rgb(88, 88, 41);
}
.orientalmapa23{
  background: lightblue;
}
.orientalmapa23:hover{
  background: rgb(86, 108, 116);
}
.occidentalmapa23{
  -moz-border-radius: 0 0 100px 100px ;
  -webkit-border-radius: 0 0 100px 100px;
  border-radius: 0 0 100px 100px ;
}
.cajaPrueba23{
  width: 1415px;
  height: 332px;
  margin-left: 110px;
  display: flex;
  
}
.tarimamap23{
  margin-left: 154px;
  width: 106px;
  height: 137px;
  background-color: #333;
  color: white;
  margin-top: 462px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preferencialmap23{
  width: 145px;
  height: 1054px;
  color: white;
  float: left;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oromapa23{
  width: 185px;
}
.platamapa23{
  width: 325px;
}
.top23list30{
  padding-top: 45px;
}
.bot23list30{
  padding-bottom: 45px;
}
.top23list32{
  padding-top: 10px;
}
.patrocinadormapa23{
  width: 400px;
  height: 505pX;
  display: flex;
  flex-flow: row;
}
.frentemapa23{
 display: flex;
 flex-flow: column;
 height: 1032px;
}
.atrasmapa23{
  display: flex;
 flex-flow: row;
 height: 1053px;
}
.top23{
  align-items: end;
}
.bottom23{
  align-items: flex-start;
}
.hausemix23{
  width: 56px;
  height: 171px;
  background-color: #333;
  color: white;
  margin: 3px;
  margin-top: -62px;
  margin-bottom: -59px;
  margin-left: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top23list17,.bot23list17,.top23list19,.bot23list19,.bot23list15,.top23list15,.top23list21{
  margin-left: 3px;
  margin-right: 3px;
}
.top23list17{
  padding-bottom: 65px;
}
.bot23list17{
  padding-top: 65px;
}
.top23list19{
  padding-bottom: 35px;
}
.bot23list19{
  padding-top: 35px;
}
.top23list15{
  padding-bottom: 45px;
}
.bot23list15{
  padding-top: 45px;
}
.top23list21{
  margin-top: 56px;
}
.top23list28{
  display: flex;
  flex-flow: row-reverse wrap;
  width: 230px;
  margin-top: 10px;
  height: 1010px;
}
.mapa23topbot{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
  padding-bottom: 31px;
}
.caja2mapa22{
  width: 375px;
  height: 50px;
  margin-left: 46px;
}
.caja3mapa22{
  width: 555px;
  height: 50px;
  margin-top: -90px;
}
.map22fila1{
  margin-left: 92px;
}
.map22fila2{
  margin-left: 46px;
  margin-top: -50px;
}
.frikimap22, .jordanmap22{
  width: 547px;
  height: 110px;
  color: white;
  margin-top: 10px;
  float: left;
  font-weight: bold;
  line-height: 95px;
  cursor: pointer;
  margin-left: 112px;
}
.frikimap22{
  background-color: rgb(0,93,121);
}
.frikimap22:hover{
  background-color: rgb(9, 41, 51);
}
.jordanmap22{
  background-color: rgb(1,167,84);
}
.jordanmap22:hover{
  background-color: rgb(10, 78, 44);
}
.tarimamap2{
  margin-left: 94px;
  width: 455px;
  height: 72px;
  background-color: #333;
  color: white;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.platmap2, .generalmap2{
  width: 638px;
  height: 110px;
  color: white;
  margin-top: 10px;
  float: left;
  font-weight: bold;
  line-height: 95px;
  cursor: pointer;
  margin-left: 3px;
}
.platmap2{
  background-color: rgb(0,93,121);
}
.platmap2:hover{
  background-color: rgb(9, 41, 51);
}
.generalmap2{
  background-color: rgb(1,167,84);
}
.generalmap2:hover{
  background-color: rgb(10, 78, 44);
}
.contmap1{
  width: 330px;
}
.tarimaMp1{
  margin-left: 68px;
  width: 193px;
  height: 70px;
  background-color: #333;
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zonaPerla, .zonaNublado{
  width: 324px;
  height: 140px;
  cursor: pointer;
  margin: 3px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zonaPerla{
  background-color: rgb(187, 0, 131);
  color: white;
}
.zonaPerla:hover{
  background-color: rgb(121, 16, 60);
}
.zonaNublado{
  background-color: green;
  color: white;
}
.zonaNublado:hover{
  background-color: rgb(4, 94, 4);
}

p {
  font-size: 20px;
}
.action_button {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  background: linear-gradient(#666, #333);
  font-size: 11px;
  text-transform: uppercase;
}

th {
  background: linear-gradient(#666, #333);
  color: white;
}
td {
  background-color: white;
}

.grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 120px;
  grid-template-rows: repeat(2, 80px);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.grid a {
  font-weight: bold;
  text-decoration: none;

  padding: 15px;
  border-radius: 10px;
  transition: all 300ms;
  background: linear-gradient(#ed701c, #f9b84f);
  color: white;
  transition: all 500ms;
}
.grid a:hover {
  color: #ed701c;
  background: white;
  border: 1px solid #ed701c;
}
.grid img {
  margin-left: 35px;
  font-size: 50px;
}

#convensiones,
#desplzate,
#desplazate {
  margin-top: 2%;
  margin-left: 11%;
  margin-bottom: 2%;
}

#convensiones p {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 50px 300px;
  align-items: center;
}

#desplzate p,
#desplazate p {
  color: #ed701c;
  font-weight: bolder;
  font-size: 20px;
}

#desplzate,
#desplazate {
  display: none;
}

@media (max-width: 1500px) {
  #desplzate {
    display: block;
  }
}

@media (max-width: 1882px) {
  #desplazate {
    display: block;
  }
}

.contenedor-mapa {
  overflow: auto;
  width: 90%;
  text-align: center;
  margin: 0px auto;
  margin-left: 10%;
}

@media (max-widht: 1500px) {
  .contenedor-mapa {
    overflow: scroll;
  }
}

.contenedor-mapa6 {
  width: 90%;
  text-align: center;
  margin: 0px auto;
  margin-left: 10%;
}

@media (max-widht: 600px) {
  .contenedor-mapa6 {
    width: 100%;
    overflow: scroll;
    margin-left: 0%;
  }
}

.mapa {
  margin: 0px auto;
  width: 1600px;
}

.mapa3 {
  margin: 0px auto;
  width: 1350px;
}

.centrar-mapa {
  margin: 0px auto;
  overflow: hidden;
}
.mapa5 {
  margin: 0px auto;
}
.mapa6 {
  margin: 0px auto;
  width: 550px;
}
.cuadros,
.cuadrosGrandes,
.cuadrosPalcos,
.cuadrosPalcos3,
.cuadrosPalcos4,
.cuadrosPalcos5,
.cuadrosSemiGrandes {
  background-color: #ccc;

  width: 40px;
  height: 40px;

  margin: 3px;
  float: left;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}

.cuadrosSinf {
  background-color: #ccc;

  width: 40px;
  height: 40px;

  margin: 3px;

  font-size: 100%;
  cursor: pointer;
  text-align: center;
}
.flotar {
  float: left;
}
.cuadrosGrandes {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-weight: bold;
  font-size: 20px;
}
.cuadrosSemiGrandes{
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  font-size: 20px;
}
.cuadros:hover {
  background-color: #aaa;
}

.cuadros2 {
  background-color: #ccc;

  width: 40px;
  height: 40px;

  margin: 3px;
  float: left;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
}

.cuadros3 {
  background-color: lightblue;
  color: white;
}

.cuadros4 {
  background-color: green;
  color: white;
}
.cuadros2:hover {
  background-color: #aaa;
}

.cuadros3:hover {
  background-color: rgb(90, 145, 163);
}
.cuadros5:hover {
  background-color: rgb(121, 16, 60);
}
.cuadros9{
  background-color: rgb(148,148,51);
  color: white;
}
.cuadros9:hover{
  background-color: rgb(88, 88, 41);
}
.cuadros13{
  background-color: rgb(0,93,121);
  color: white;
}
.cuadros13:hover{
  background-color: rgb(9, 41, 51);
}
.cuadros14{
  background-color: rgb(1,167,84);
  color: white;
}
.cuadros14:hover{
  background-color: rgb(10, 78, 44);
}
.cuadros4:hover {
  background-color: rgb(4, 94, 4);
  color: white;
}

.mesas {
  float: left;
}

.tarima {
  float: left;
  background-color: #333;
  height: 40px;
  color: white;

  margin: 3px 3px 0px 3px;

  width: 290px;
  text-align: center;
  font-weight: bold;
}

.tarimaFierro {
  float: left;
  background-color: #333;
  height: 90px;
  color: white;
  margin: 3px;
  float: left;
  line-height: 90px;
  width: 130px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tarimaAlexis,
.tarimaAlexis2 {
  float: left;
  background-color: #333;
  height: 35px;

  color: white;
  margin: 3px;
  margin-top: 45px;
  margin-right: -3px;
  float: left;

  width: 30px;
  text-align: center;
  font-weight: bold;
}
.tarimaAlexis {
  margin-left: 20px;
}
.tarimaAlexis2 {
  margin-left: -3px;
  margin-right: 3px;
}

.clearFix {
  clear: both;
  float: none;
}
.tarimaLarga,
.tarimaLarga2 {
  background-color: #333;

  float: left;
  margin-top: -3px;
  height: 46px;
  width: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.tarimaLarga2 {
  height: 50px;
}
.parte2 .cuadros {
  margin-right: 4px;
  margin-left: 3.2px;
}
.tarimaAncha {
  background-color: #333;
  width: 420px;
  height: 30px;
  line-height: 30px;
  margin-left: 470px;

  color: white;
  font-weight: bold;
  text-align: center;
}

.dance {
  width: 1000px;
  height: 95px;
  background-color: rgb(0, 106, 206);
  color: white;
  margin-top: 3px;
  margin-bottom: -20px;
  float: left;
  font-weight: bold;
  line-height: 95px;
  cursor: pointer;
}
.cuadrosDF {
  background-color: rgb(0, 106, 206);
  color: white;
}
.parte3 .cuadros {
  margin-right: 8px;
  margin-left: 8px;
}

.tarimaDos {
  float: left;
  background-color: #333;

  line-height: 60px;
  font-weight: bold;
  margin: 3px;
  height: 40px;
  margin-left: 4px;
  text-align: center;
  color: white;
  width: 223px;
}
.margen-top-5 {
  margin-top: 30px;
}
.tarimaTres {
  float: left;
  background-color: #333;

  line-height: 40px;
  font-weight: bold;
  margin: 3px;
  margin-top: -6px;
  height: 48px;
  margin-left: 4px;
  text-align: center;
  color: white;
  width: 223px;
}

.parte8 {
  margin-left: 276px;
}

.parte8 .cuadros {
  margin-right: 7.65px;
  margin-left: 7.65px;
}

.parte9 {
  margin-left: 220px;
}

.parte8 .espacioDerecho:nth-child(2) .cuadros {
  margin-right: 60px;
}

.parte8 .espacioDerecho:nth-child(10) .cuadros {
  margin-right: 60px;
}

.parte9 .cuadros {
  margin-right: 4.45px;
  margin-left: 4.45px;
}

.parte10 {
  margin-left: 230px;
}
.parte10 .cuadros {
  margin-right: 8px;
  margin-left: 8px;
}

.parte11 {
  margin-left: 230px;
}
.parte11 .cuadros {
  margin-right: 12.1px;
  margin-left: 12.1px;
}
.parte12 {
  margin-left: 42%;
}
.vendido {
  background-color: red;
}
.disponible {
  background-color: #ccc;
}
.disponible,
.vendido {
  padding: 5px;
  margin: 10px auto;
  height: 40px;
  width: 90px;
}
.addPalco{
  text-decoration: none;
  color: white;
  background: linear-gradient(#666, #333);
}
.sold_out {
  display: block;

  z-index: 10;

  margin-left: 35%;
  position: absolute;
  overflow: hidden;
  width: 500px;
  height: 500px;
  margin-top: 180px;
  transform: rotate(30deg);
}
@media (max-width: 1194px) {
  .sold_out {
    margin-left: 30%;
  }
}

@media (max-width: 940px) {
  .sold_out {
    margin-left: 25%;
  }
}
@media (max-width: 727px) {
  .sold_out {
    width: 400px;
    height: 400px;
    margin-top: 200px;
  }
  .palconomapa{
    margin-top: 2rem !important;
    padding: 0px !important;
  } 
  .palconomapa>div{
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .palconomapa>div>div{
    box-sizing: border-box;
    padding: 0px !important;
  }
  .palconomapa>div>div>div{
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .palconomapa>div>div>div>div{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .esconder{
    padding: 0px !important;
  }
  #prueba{
    padding: 1px !important;
  }
}

@media (max-width: 617px) {
  .sold_out {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 529px) {
  .sold_out {
    width: 330px;
    height: 330px;
  }
}

@media (max-width: 473px) {
  .sold_out {
    width: 280px;
    height: 280px;
  }
  #prueba h1{
    font-size: 16px !important;
  }
  .informacion{
    padding-left: 5% !important;
  }
  .informacion h2{
    font-size: 1.6rem !important;
  }
  .informacion h5{
    font-size: 1rem !important;
  }
  #convensiones{
    margin-left: 2% !important;
  }
  .contenedor-mapa{
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: auto;
  }
}

@media (max-width: 407px) {
  .sold_out {
    margin-left: 10%;
  }
}
.informacion {
  text-align: left;
  padding-left: 11%;
}

.margenIzquierdo {
  margin-left: 385px;
}

.tarimaMapa3 {
  float: left;
  background-color: #333;
  height: 40px;
  color: white;

  width: 330px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.patrocionador {
  background-color: #ed701c;

  width: 25px;
  height: 46px;

  margin: 3px;
  margin-top: -3px;
  float: left;
  font-size: 100%;

  text-align: center;
  color: white;
  font-weight: bold;
}
.patrocionador2 {
  background-color: #ed701c;

  width: 25px;
  height: 46px;

  margin: 3px;
  margin-bottom: -3px;

  float: left;
  font-size: 100%;

  text-align: center;
  color: white;
  font-weight: bold;
}

.localidadLibre {
  background-color: green;
  width: 549px;
  height: 300px;
  line-height: 300px;
  margin-bottom: -3px;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 35px;
}

.localidadLibreSOLDOUT {
  background-color: red;
  width: 549px;
  height: 300px;
  line-height: 300px;
  margin-bottom: -3px;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;

  font-size: 35px;
}

.localidadLibreCuadro {
  background-color: green;
  width: 225px;
  margin-left: 324px;
  height: 300px;
  line-height: 300px;
  margin-bottom: -3px;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 35px;
}
.localidadLibre2 {
  background-color: green;
  width: 100px;
  height: 22px;
  margin: 3px;
  margin-bottom: -3px;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 35px;
}
.localidadLibre3 {
  background-color: green;
  width: 100px;
  height: 22px;
  margin: 3px;
  margin-bottom: -3px;
  float: left;
  font-size: 35px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.localidadLibreLarga {
  background-color: green;
  width: 336px;
  height: 100px;
  margin: 3px;
  font-size: 30px;

  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  float: left;
}

.localidadLibreLargaPerreo {
  background-color: green;
  width: 550px;
  height: 40px;

  font-size: 50px;
  line-height: 300px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  float: left;
}
.localidadLibreLargaPerreo2 {
  background-color: green;
  width: 650px;
  height: 40px;

  font-size: 50px;
  line-height: 300px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  float: left;
}
.localidadLibreLargaPerreo3 {
  background-color: green;
  width: 1450px;
  height: 80px;

  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.marge213 {
  margin-left: 65px;
}
.marge214 {
  margin-left: 112.5px;
}
.localidadLibreLargaPerreo4,
.localidadLibreLargaPerreo5,
.localidadLibreLargaPerreo6,
.localidadLibreLargaPerreo7,
.localidadLibreLargaPerreo8,
.localidadLibreLargaPerreo9,
.localidadLibreLargaPerreo10,
.localidadLibreLargaPerreo11,
.localidadLibreLargaPerreo12 {
  background-color: blue;
  width: 100px;
  height: 40px;
  float: left;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.localidadLibreLargaPerreo5 {
  cursor: auto;
}
.localidadLibreLargaPerreo5 {
  line-height: 0px;
}
.localidadLibreLargaPerreo4,
.localidadLibreLargaPerreo6,
.localidadLibreLargaPerreo7,
.localidadLibreLargaPerreo10,
.localidadLibreLargaPerreo11,
.localidadLibreLargaPerreo12 {
  background-color: green;
}

.localidadLibreLargaPerreo6 {
  width: 1250px;
  height: 40px;
}
.localidadLibreLargaPerreo7 {
  width: 150px;
}
.localidadLibreLargaPerreo8 {
  background-color: rgb(199, 62, 199);
  cursor: auto;
  font-size: 15px;
  line-height: 40px;
}
.localidadLibreLargaPerreo9 {
  background-color: rgb(231, 139, 0);
  cursor: auto;
  width: 250px;
  font-size: 15px;
  line-height: 40px;
}
.localidadLibreLargaPerreo10 {
  width: 550px;
}
.localidadLibreLargaPerreo11 {
  width: 650px;
}
.localidadLibreLargaPerreo12 {
  width: 1450px;
}

.cuadros5 {
  background-color: rgb(187, 0, 131);
  color: white;
}
.cuadros6 {
  background-color: rgb(6, 202, 81);
  color: white;
}
.cuadros6 {
  background-color: rgb(255, 102, 0);
  color: white;
}

.cuadros10 {
  background-color: rgb(0, 162, 255);
  color: white;
}
.cuadros12 {
  background-color: rgb(255, 0, 242);
  color: white;
}
.cuadros12:hover {
  background-color: rgb(187, 85, 182);
}

.cuadros10:hover {
  background-color: rgb(0, 162, 255);
  color: white;
}


.mrml {
  margin-right: 15.4px;
}
.mrml2 {
  margin-right: 30.3px;
}
.mrml3 {
  margin-right: 30.3px;
}
.margencuadrito {
  margin-left: 45px;
}
.margencuadrito2 {
  margin-left: 100px;
}
.margencuadrito3 {
  margin-left: 42px;
}

.margencuadrito4 {
  margin-left: 92px;
}
.margencuadrito5 {
  margin-left: 87px;
}

.mra {
  margin-right: 10px;
}
.sinml .mrml:first-child {
  margin-left: 5px;
}
.cuadros7 {
  background-color: rgb(164,206,59);
  color: white;
}
.cuadros7:hover {
  background-color: rgb(111, 134, 50);
}
.cuadros8 {
  background-color: rgb(255, 102, 0);
  color: white;
}
.cuadros8:hover {
  background-color: rgb(196, 88, 17);
}
.ver {
  display: none;
}
.ver p,
.ver p {
  color: #ed701c;
  font-weight: bolder;
  font-size: 20px;
}
@media (max-width: 510px) {
  .tabla thead tr th {
    font-size: 14px;
  }
  .tabla button {
    width: 100%;
    border-radius: 0px;
  }
}
@media (max-width: 515px) {
  .esconder {
    overflow: scroll;
    z-index: 1;
  }
  .ver {
    display: block;
  }
}

.listaOr div:nth-child(2) {
  margin-left: 5px !important;
}

.mapa-largo {
  margin: 0px auto;
  width: 1850px;
}

.contenedor-mapa-largo {
  overflow: auto;
  width: 98%;
  text-align: center;
  margin: 0px auto;
  margin-left: 2%;
}

.cuadros10 {
  background-color: rgb(46, 194, 240);
  color: white;
}

.cuadros10:hover {
  background-color: rgb(37, 156, 192);
  color: white;
}

.rojo {
  background-color: red;
  cursor: auto;
  color: white;
}
.rojo:hover {
  background-color: red !important;
}
.amarillo {
  background-color: rgb(255, 153, 0);
  cursor: auto;
  color: white;
}

.amarillo:hover {
  background-color: rgb(255, 153, 0) !important ;
}
.colorVIP {
  background-color: rgb(255, 60, 93);
}

.opaco {
  opacity: 0.3;
  cursor: default;
  background-color: #ccc;
}

.opaco:hover {
  background-color: #ccc;
}

.seleccionado {
  background-color: rgb(125, 255, 93);
  color: white;
}

.seleccionado:hover {
  background-color: rgb(101, 201, 77);
}

.cuadrosPalcos {
  background-color: #049b75;
  color: #fff;
}

.cuadrosPalcos:hover {
  background-color: #014e3b;
  color: #fff;
}

 @media(max-width: 400px){
   #convensiones, .informacion{
    margin-left: 0% !important;
   }
   .contenedor-mapa{
     margin-left: 0% !important;
   }
   .contenido{
     overflow: scroll !important;
   }
   #convensiones p {
    grid-template-columns: 50px auto;
  }

}