<div id="prueba">
  <h1><strong>{{etapa?.nombre}} </strong></h1>
  <h1><strong> {{evento?.nombre}}</strong></h1>
  <h1 style="font-size: 25px;"><strong>Hola {{usuarioEntidad?.nombre}}</strong></h1>

</div>



<section class="container-fluid mt-5 palconomapa">
  <div class="row ">

    <div class="col-12  pl-5 pr-5" *ngIf="!evento?.mapa">
      <div class="row border rounded shadow" style="background-color: white;">
        <div class="col-12">
          <h4 class="p-3"><strong>Selección de Palcos</strong></h4>
          <p class="pl-3 pr-3 pb-4">Por favor, indica el palco que deseas añadir a tu pedido. El numero de Palcos por
            compra se limita a 1 y puedes comprar máximo 2 por cada evento</p>
        </div>
        <div class="col-12 esconder">
          <div class="ver">
            <p>
              <--Desplázate en la tabla-->
            </p>
          </div>
          <table class="table mt-2 tabla border shadow-xs p-3" style="text-align: center;">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Agregar</th>

                <th>Precio + Servicio + IVA</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>{{localidadCargada?.nombre }}</strong></td>
                <td>

                  <button class="rounded-circle addPalco" (click)="agregarALaLista(localidadCargada)">+</button>

                </td>

                <td><strong>{{localidadCargada.precio | currency: 'COP'}}</strong> +
                  <strong>{{localidadCargada.servicio| currency:'COP'}}</strong> +
                  <strong>{{localidadCargada.servicioPorcentaje|currency:'COP'}}</strong>
                </td>


              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12  justify-content-end">
          <div>
            <h5> <strong>Total: </strong> {{valorLocalidadAgregada | currency:'COP'}} </h5>
            <h5><strong>Entradas: </strong> {{valorBoletas}} </h5>
          </div>
          <button style="font-size: 12px;" class="action_button float-right mr-1 mt-2 mb-3 p-3"
            (click)="agregarAlCarrito()"> Agregar al carrito</button>
        </div>
      </div>
    </div>




    <!-- <div class="col-12">
      <div class="grid">
        <img src="../../../../../assets/images/img/vaca.png" alt="vaca" routerLink="vaca">
        <a routerLink="vaca">Hacer Vaca</a>
      </div>
    </div>-->


  </div>

</section>


<div *ngIf="evento?.mapa" class="container-fluid">
  <div class="row">
    <div class="col-12 informacion">
      <h2><strong>Selecciona lo que deseas comprar</strong> </h2>
      <h5 *ngIf="localidadCargada.palcos.length>0"><strong>Agrega a tus amigos en tu perfil una vez realices la compra,
          o puedes utilizar el mismo código QR
          máximo {{localidadCargada.palcos[0].personasMaximas}} veces</strong></h5>
      <h5><strong>{{evento?.mensaje}}</strong></h5>
    </div>
  </div>
</div>
<img class="sold_out" *ngIf="evento.soldout && evento?.mapa" src="../../assets/images/img/SOLDOUT.png" alt="">
<div *ngIf="evento?.mapa" id="convensiones">







  <p *ngIf="evento?.mapa =='mapa20'"><span class="cuadros cuadros10">#</span> PALCOS VIP</p>
  <p *ngIf="evento?.mapa =='mapa20'"><span class="cuadros4 cuadros">#</span>PALCOS GENERAL</p>
  <p *ngIf="evento?.mapa =='mapa20'"><span class="cuadros cuadrosDF">#</span>General</p>

  <p *ngIf="evento?.mapa =='mapa21'"><span class="cuadros4 cuadros">#</span>VIP PAMBELE</p>
  <p *ngIf="evento?.mapa =='mapa21'"><span class="cuadros cuadrosDF">#</span>GENERAL LOS TESOS</p>
  

  <p *ngIf="evento?.mapa =='mapa22'"><span class="cuadros7 cuadros">#</span>PATROCINADORES</p>
  <p *ngIf="evento?.mapa =='mapa22'"><span class="cuadros12 cuadros">#</span>MONASTERY</p>
  <p *ngIf="evento?.mapa =='mapa22'"><span class="cuadros10 cuadros">#</span>CHIMBITA</p>
  <p *ngIf="evento?.mapa =='mapa22'"><span class="cuadros8 cuadros">#</span>FUMETEO</p>
  <p *ngIf="evento?.mapa =='mapa22'"><span class="cuadros">#</span>Tickets Individuales para Palcos</p>
  <p *ngIf="evento?.mapa =='mapa22'"><span class="cuadros13 cuadros">#</span>ZONA FRIKI</p>
  <p *ngIf="evento?.mapa =='mapa22'"><span class="cuadros14 cuadros">#</span>ZONA JORDAN</p>
  <p *ngIf="evento?.mapa =='mapa22'"><span class="cuadros5 cuadros">#</span>VACACIONES ZONA DE MENORES</p>
  <p *ngIf="evento?.mapa =='mapa22'"><span class="cuadros rojo">v</span>Vendido</p>
  <p *ngIf="evento?.mapa =='mapa22'"><span class="cuadros amarillo">p</span>En Proceso de compra</p>

  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros">#</span>Palcos PATROCINADORES</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros10 cuadros">#</span>Palcos PAL' CENTRO Y PA' DENTRO</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros7 cuadros">#</span>Palcos AYAYAY</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros8 cuadros">#</span>Palcos PAPAAA</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros13 cuadros">#</span>Palcos SÍRVALO PUES</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros12 cuadros">#</span>Palco Ticket individual SALUD COMPADRE</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros4 cuadros">#</span>PREFERENCIAL</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros5 cuadros">#</span>NORTE</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros3 cuadros">#</span>ORIENTE</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros9 cuadros">#</span>OCCIDENTE</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros rojo">v</span>Vendido</p>
  <p *ngIf="evento?.mapa =='mapa23'"><span class="cuadros amarillo">p</span>En Proceso de compra</p>

  <p *ngIf="evento?.mapa =='mapa1'"><span class="cuadros cuadros10">#</span> Palcos Adicta al dolor</p>
  <p *ngIf="evento?.mapa =='mapa1'"><span class="cuadros5 cuadros">#</span> Zona Collar de Perlas</p>
  <p *ngIf="evento?.mapa =='mapa1'"><span class="cuadros4 cuadros">#</span>Zona Días Nublados</p>
  <p *ngIf="evento?.mapa =='mapa1'"><span class="cuadros rojo">v</span>Vendido</p>
  <p *ngIf="evento?.mapa =='mapa1'"><span class="cuadros amarillo">p</span>En Proceso de compra</p>

  <p *ngIf="evento?.mapa =='mapa2'"><span class="cuadros cuadros10">#</span> PALCOS ALFOMBRA ROJA</p>
  <p *ngIf="evento?.mapa =='mapa2'"><span class="cuadros5 cuadros">#</span> Palcos DIAMANTE</p>
  <p *ngIf="evento?.mapa =='mapa2'"><span class="cuadros cuadrosPalcos3">#</span> PLATINO</p>
  <p *ngIf="evento?.mapa =='mapa2'"><span class="cuadrosPalcos cuadros">#</span> GERENAL</p>
  <p *ngIf="evento?.mapa =='mapa2'"><span class="cuadros rojo">v</span>Vendido</p>
  <p *ngIf="evento?.mapa =='mapa2'"><span class="cuadros amarillo">p</span>En Proceso de compra</p>


  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadrosPalcos cuadros10">#</span> ZONA CHILL</p>
  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadros10 cuadros">#</span> PALCOS BACKSTAGE (Incluye Habitación para 3 personas máximo)</p>
  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadros5 cuadros">#</span> SOFAS SINCRODESTINO</p>
  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadros6 cuadros">#</span>MESAS VIP</p>
  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadros13 cuadros">#</span> SINCRODESTINO INDIVIDUAL</p>
  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadros rojo">v</span>Vendido</p>
  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadros amarillo">p</span>En Proceso de compra</p>



</div>





<div id="desplazate" *ngIf="evento?.mapa=='mapa11'">
  <p>
    <-- Desplázate en el mapa -->
  </p>
</div>





<div id="desplazate" *ngIf="evento?.mapa=='mapa2'">
  <p>
    <-- Desplázate en el mapa -->
  </p>
</div>
<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa2'">

  <div class="mapa" style="margin: 0px auto;">
    <div class="tarimamap2">TARIMA</div>
    <div *ngFor="let item of lista1">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>
    <div *ngFor="let item of lista11">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>
    <div *ngFor="let item of lista2">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>
    <div class="clearFix"></div>
    <div *ngFor="let item of lista3">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>
    <div *ngFor="let item of lista12">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>
    <div *ngFor="let item of lista4">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>
    <div class="clearFix"></div>
    <div *ngFor="let item of lista5">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>
    <div *ngFor="let item of lista13">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>
    <div *ngFor="let item of lista6">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>
    <div class="clearFix"></div>
    <div *ngFor="let item of lista7">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>
    <div class="clearFix"></div>
    <div *ngFor="let item of lista8">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>
    <div class="clearFix"></div>
    <div *ngFor="let item of lista9">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>
    <div class="clearFix"></div>
    <div *ngFor="let item of lista10">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>
    
    <div class="clearFix"></div>
    <div class="platmap2" (click)="abrirTickets(localidadCargada)">PLATINO</div>
    <div class="clearFix"></div>
    <div class="generalmap2" (click)="abrirTickets(localidadCargadaBoletas)">GENERAL</div>

  </div>
</div>






<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa3'">

  <div class="mapa" style="margin: 0px auto;">
    <div class="tarimaPerreo">ESCENARIO PRINCIPAL</div>
    <div class="clearFix"></div>
    <div *ngFor="let item of lista5" class="margen-90">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
        (click)="agregarPalcoIndividual(item.valor)">
        {{item.valor}}
      </div>
    </div>
    <div class="clearFix"></div>


    <div class="flotar">
      <div *ngFor="let item of lista3">
        <div class="cuadrosSinf"
          [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
          (click)="agregarPalcoIndividual(item.valor)">
          {{item.valor}}
        </div>
      </div>
    </div>
    <div class="flotar">
      <div *ngFor="let item of lista1">
        <div class="cuadrosSinf"
          [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
          (click)="agregarPalcoIndividual(item.valor)">
          {{item.valor}}
        </div>
      </div>
    </div>
    <div class="localidadLibreCuadroVIP" (click)="abrirTickets(localidadCargadaPreferecial)"></div>
    <div class="flotar">
      <div *ngFor="let item of lista2 ">
        <div class="cuadrosSinf"
          [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
          (click)="agregarPalcoIndividual(item.valor)">
          {{item.valor}}
        </div>
      </div>
    </div>


    <div class="flotar">
      <div *ngFor="let item of lista4">
        <div class="cuadrosSinf"
          [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
          (click)="agregarPalcoIndividual(item.valor)">
          {{item.valor}}
        </div>
      </div>
    </div>

    <div class="clearFix"></div>

    <div class="localidadLibreLargaVIP" (click)="abrirTickets(localidadCargadaPreferecial)">VIP</div>

    <div class="clearFix"></div>

    <div class="localidadLibre" (click)="abrirTickets(localidadCargadaBoletas)">General</div>
    <div class="clearFix"></div>

    <div class="localidadLibreCuadro" (click)="abrirTickets(localidadCargadaBoletas)"></div>
  </div>
</div>




<div id="desplazate" *ngIf="evento?.mapa=='mapa1'">
  <p>
    <-- Desplázate en el mapa -->
  </p>
</div>
<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa1'">
  
  <div class="mapa" style="margin: 0px auto;">

    <div class="tarimaMp1">ESCENARIO</div>
    <div class="clearFix"></div>

    <div class="contmap1">
      <div *ngFor="let item of lista1">
        <div class="cuadrosSemiGrandes"
          [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
          (click)="agregarPalcoIndividual(item.valor)">
          {{item.valor}}
        </div>
      </div>
    </div>
    <div class="clearFix"></div>
    <div class="zonaPerla" (click)="abrirTickets(localidadCargadaBoletasVIP)">Zona Collar de Perlas</div>
    <div class="clearFix"></div>
    <div class="zonaNublado" (click)="abrirTickets(localidadCargadaBoletas)">Zona Días Nublados</div>

  </div>
</div>






<div id="desplazate" *ngIf="evento?.mapa=='mapa5'">
  <p>
    <-- Desplázate en el mapa -->
  </p>
</div>
<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa5'">
  <div class="mapa" style="margin: 0px auto;">
    <div class="tarimamapa5dj">DJ STAGE</div>
    <div class="clearFix"></div>
    <div *ngFor="let item of lista1">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>

    <div class="cuadrosPalcos chillmapa5 chillmapa51" (click)="abrirTickets(localidadCargada)">ZONA CHILL</div>

    <div *ngFor="let item of lista2">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>

    <div class="clearFix"></div>

    <div *ngFor="let item of lista3">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>

    <div class="cuadrosPalcos chillmapa5 nmtop" (click)="abrirTickets(localidadCargada)"></div>

    <div *ngFor="let item of lista4">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
        (click)="agregarPalcoIndividualID(item.valor,item.id)">
        {{item.valor}}
      </div>
    </div>
    <div class="clearFix"></div>
 
    <div class="pistamapa5">
      <div class="filaspalcos"><div *ngFor="let item of lista5">
        <div class="cuadros"
          [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
          (click)="agregarPalcoIndividualID(item.valor,item.id)">
          {{item.valor}}
        </div>
      </div></div>
      <div class="mesasmapa5 filaspalcos">
        <div *ngFor="let item of lista7">
          <div class="cuadros"
            [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros6':item.localidad=='monastery'}"
            (click)="agregarPalcoIndividualID(item.valor,item.id)">
            {{item.valor}}
          </div>
        </div>
      </div>
      <div class="cuadros13 sincroindividualt"  (click)="seleccionarLocalidad(localidadCargadaBoletasGeneralPiso2,localidadCargadaBoletasVIP)"></div>
      <!-- <div class="cuadros13 sincroindividualt"   (click)="abrirTickets(localidadCargadaBoletasGeneralPiso2)"></div> -->
      <div class="filaspalcos"><div *ngFor="let item of lista6">
        <div class="cuadros"
          [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
          (click)="agregarPalcoIndividualID(item.valor,item.id)">
          {{item.valor}}
        </div>
      </div></div>
    </div>
    <div class="clearFix"></div>
    <div class="cuadros13 sincroindividualb" (click)="seleccionarLocalidad(localidadCargadaBoletasGeneralPiso2,localidadCargadaBoletasVIP)">SINCRODESTINO INDIVIDUAL</div>
    <!-- <div class="cuadros13 sincroindividualb" (click)="abrirTickets(localidadCargadaBoletasGeneralPiso2)">SINCRODESTINO INDIVIDUAL</div> -->
  </div>
</div>








<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa20'">

  <div class="mapa" style="margin: 0px auto;">


  <div class="cajaPrueba">
    <div *ngFor="let item of lista1">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
        (click)="agregarPalcoIndividual(item.valor)">
        {{item.valor}}
      </div>
    </div>
  </div> 
   
    <div class="clearFix"></div>
    <div *ngFor="let item of lista4">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
        (click)="agregarPalcoIndividual(item.valor)">
        {{item.valor}}
      </div>
    </div>
    <div class="clearFix"></div>

    <div class="dance " (click)="abrirTickets(localidadCargada)">VIP
    </div>

  </div>
</div>

<div id="desplazate" *ngIf="evento?.mapa=='mapa21'">
  <p>
    <-- Desplázate en el mapa -->
  </p>
</div>
<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa21'">

  <div class="mapa" style="margin: 0px auto;">

  <div class="flotar mapa21Vip2"> 
    <div *ngFor="let item of lista3" class="margenultimo">
      <div class="cuadros"
        [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
        (click)="agregarPalcoIndividual(item.valor)">
        {{item.valor}}
      </div>
    </div>
  </div>  
  <div class="flotar">
   <div class="tarimaMapa21">TARIMA</div>

    <div class="mapa21Vip" (click)="abrirTickets(localidadCargadaGeneral)">VIP PAMBELE</div>

    <div class="clearFix"></div>

    <div class="mapa21Vip mapa21Tesos" (click)="abrirTickets(localidadCargadaBoletas)">GENERAL LOS TESOS</div>

  </div>
  </div>
</div>


<div id="desplazate" *ngIf="evento?.mapa=='mapa22'">
  <p>
    <-- Desplázate en el mapa -->
  </p>
</div>
<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa22'">

  <div class="mapa" style="margin: 0px auto;">
    <div class="tarimamap22">ESCENARIO</div>
    <div class="map22arriba">

      
      <div class="vacaxiones" (click)="abrirTickets(localidadCargadaBoletasVIP)">VACACIONES ZONA DE MENORES</div>



      <div class="cajaPrueba22">
        <br><br>
        <div class="map22fila2">
          <div *ngFor="let item of lista2">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
          <br><br>
          <div *ngFor="let item of lista3">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros12':item.localidad=='monastery'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
          <div class="cuadros rojo">
          v
          </div>
          <div *ngFor="let item of lista6">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros12':item.localidad=='monastery'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
          <div class="cuadros"
          (click)="seleccionarLocalidadParaPalcoIndividual(7356)">
          9
          </div>
          <div *ngFor="let item of lista9">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros12':item.localidad=='monastery'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
          <div class="caja2mapa22">
            <div *ngFor="let item of lista11">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros12':item.localidad=='monastery'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div>
          </div>
          <br><br>
          <div *ngFor="let item of lista4">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
          <div *ngFor="let item of lista13">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
          <div *ngFor="let item of lista7">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
          <div class="cuadros"
          (click)="seleccionarLocalidadParaPalcoIndividual(7358)">
          9
          </div>
          <div *ngFor="let item of lista10">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
          <div class="caja2mapa22"><div *ngFor="let item of lista12">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div></div><div class="clearFix"></div>

        </div>

        <div class="caja3mapa22">
          <div class="cuadros rojo">
          v
          </div>
          <div *ngFor="let item of lista5">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros8':item.localidad=='fumeteo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
          <div class="cuadros"
          (click)="seleccionarLocalidadParaPalcoIndividual(7361)">
          12
          </div>
          <div *ngFor="let item of lista8">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros8':item.localidad=='fumeteo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div>
        </div>
      </div> 
      <div class="clearFix"></div>
      <div class="frikimap22" (click)="abrirTickets(localidadCargadaBoletas)">ZONA FRIKI</div>
      <div class="clearFix"></div>
      <div class="jordanmap22" (click)="abrirTickets(localidadCargada)">ZONA JORDAN</div>
    </div>
    

  </div>
</div>



<div id="desplazate" *ngIf="evento?.mapa=='mapa23'">
  <p>
    <-- Desplázate en el mapa -->
  </p>
</div>
<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa23'">
  <div class="mapa" style="margin: 0px auto;">

    <div class="orientalmapa23" (click)="abrirTickets(localidadCargadaOriente)">Oriental</div>
    <div class="map22arriba">

      <div class="nortemapa23" (click)="abrirTickets(localidadCargadaNorte)">Norte</div>

      <div class="cajaPrueba23">
        <div class="preferencialmap23 cuadros14" (click)="abrirTickets(localidadCargadaBoletas)">Preferencial con Silla</div>
        <div class="atrasmapa23">
          <div class="top23list21"><div *ngFor="let item of lista33">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros12':item.localidad=='fumeteo'}"
              (click)="seleccionarLocalidadParaPalcoIndividual(10288)">
              {{item.valor}}
            </div>
          </div></div>
          <div class="top23list32"><div *ngFor="let item of lista32">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros12':item.localidad=='fumeteo'}"
              (click)="seleccionarLocalidadParaPalcoIndividual(10288)">
              {{item.valor}}
            </div>
          </div></div>
          <div class="mapa23topbot">
            <div class="top23list30"><div *ngFor="let item of lista30">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros12':item.localidad=='fumeteo'}"
                (click)="seleccionarLocalidadParaPalcoIndividual(10288)">
                {{item.valor}}
              </div>
            </div></div>
            <div class="bot23list30"><div *ngFor="let item of lista31">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros12':item.localidad=='fumeteo'}"
                (click)="seleccionarLocalidadParaPalcoIndividual(10288)">
                {{item.valor}}
              </div>
            </div></div>
          </div>
          <div class="top23list21"><div *ngFor="let item of lista29">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros13':item.localidad=='fumeteo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div></div>
          <div class="top23list28"><div *ngFor="let item of lista28">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros13':item.localidad=='fumeteo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div></div>
          <div class="top23list21"><div *ngFor="let item of lista27">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros13':item.localidad=='fumeteo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div></div>
          <div class="top23list21"><div *ngFor="let item of lista26">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div></div>
          <div class="mapa23topbot">
            <div><div *ngFor="let item of lista24">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista25">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
          </div>
          <div class="top23list21"><div *ngFor="let item of lista23">
            <div class="cuadros"
              [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
              (click)="agregarPalcoIndividualID(item.valor,item.id)">
              {{item.valor}}
            </div>
          </div></div>
        </div>
        <div class="frentemapa23">
          <div class="patrocinadormapa23 top23">
            <div class="top23list19"><div *ngFor="let item of lista21">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div class="top23list19"><div *ngFor="let item of lista19">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div class="top23list17"><div *ngFor="let item of lista17">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div class="top23list15"><div *ngFor="let item of lista15">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista13">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista11">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista9">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista7">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista5">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista3">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista1">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
          </div>
          <div class="hausemix23">HAUSE MIX</div>
          <div class="patrocinadormapa23 bottom23">
            <div class="bot23list19"><div *ngFor="let item of lista22">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div class="bot23list19"><div *ngFor="let item of lista20">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div class="bot23list17"><div *ngFor="let item of lista18">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div class="bot23list15"><div *ngFor="let item of lista16">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista14">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista12">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista10">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista8">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista6">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista4">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
            <div><div *ngFor="let item of lista2">
              <div class="cuadros"
                [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros4':item.localidad=='vip', 'cuadros10':item.localidad=='oro', 'cuadros5':item.localidad=='prem', 'cuadros7':item.localidad=='promo', 'cuadros8':item.localidad=='fumeteo'}"
                (click)="agregarPalcoIndividualID(item.valor,item.id)">
                {{item.valor}}
              </div>
            </div></div>
          </div>
        </div>
        <div class="tarimamap23">TARIMA</div>
    </div><div class="clearFix"></div>
    <div class="occidentalmapa23" (click)="abrirTickets(localidadCargadaOccidente)">Occidental</div>
    

  </div>
</div>

</div>
