<div id="prueba">
  <h1 ><strong>{{etapa?.nombre}} </strong></h1>
  <h1 ><strong> {{evento?.nombre}}</strong></h1>
  <h1 style="font-size: 25px;"><strong>Hola {{usuarioEntidad?.nombre}}</strong></h1>
  
</div>



<section class="container-fluid mt-5">
  <div class="row ">

    <div class="col-12  pl-5 pr-5" *ngIf="!evento?.mapa">
      <div class="row border rounded shadow" style="background-color: white;">
        <div class="col-12">
          <h4 class="p-3"><strong>Selección de Palcos</strong></h4>
          <p class="pl-3 pr-3 pb-4">Por favor, indica el palco que deseas añadir a tu pedido. El numero de Palcos por
            compra se limita a 1 y puedes comprar máximo 2 por cada evento</p>
        </div>
        <div class="col-12">
          <table class="table mt-2 tabla border shadow-xs p-3" style="text-align: center;">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Agregar</th>
                <th>Disponibles</th>
                <th>Precio + Servicio + IVA</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>{{localidadCargada?.nombre }}</strong></td>
                <td>

                  <button class="rounded-circle" (click)="agregarALaLista(localidadCargada)">+</button>

                </td>
                <td>{{darCantidadDePalcos(localidadCargada)}}</td>
                <td><strong>{{localidadCargada.precio | currency: 'COP'}}</strong> +
                  <strong>{{localidadCargada.servicio| currency:'COP'}}</strong> +
                  <strong>{{localidadCargada.servicio*IVA|currency:'COP'}}</strong>
                </td>


              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12  justify-content-end">
          <div>
            <h5> <strong>Total: </strong> {{valorLocalidadAgregada | currency:'COP'}} </h5>
            <h5><strong>Entradas: </strong> {{valorBoletas}} </h5>
          </div>
          <button style="font-size: 12px;" class="action_button float-right mr-1 mt-2 mb-3 p-3"
            (click)="agregarAlCarrito()"> Agregar al carrito</button>
        </div>
      </div>
    </div>




    <!-- <div class="col-12">
      <div class="grid">
        <img src="../../../../../assets/images/img/vaca.png" alt="vaca" routerLink="vaca">
        <a routerLink="vaca">Hacer Vaca</a>
      </div>
    </div>-->


  </div>

</section>
<div *ngIf="evento?.mapa" class="container-fluid">
  <div class="row">
    <div class="col-12 informacion">
      <h2><strong>Selecciona el palco que deseas comprar</strong> </h2>
      <h5><strong>Agrega a tus amigos en tu perfil una vez realices la compra, o puedes utilizar el mismo código QR
          máximo {{localidadCargada.palcos[0].personasMaximas}} veces</strong></h5>
      <h5><strong>{{evento?.mensaje}}</strong></h5>
    </div>
  </div>
</div>
<img class="sold_out" *ngIf="evento.soldout && evento?.mapa" src="../../assets/images/img/SOLDOUT.png" alt="">
<div *ngIf="evento?.mapa" id="convensiones">
  <p *ngIf="evento?.mapa !='mapa3'"><span class="cuadros">#</span> Disponible</p>
  <p><span class="cuadros rojo">v</span>Vendido</p>
  <p><span class="cuadros amarillo">p</span>En Proceso de compra</p>
  <p *ngIf="evento?.mapa =='mapa5'"><span class="cuadros opaco">l</span>No hace parte de esta etapa de venta</p>
  <p *ngIf="evento?.mapa =='mapa3'"><span class="cuadros">#</span> PALCOS GENERAL</p>
  <p *ngIf="evento?.mapa =='mapa3'" ><span class="cuadros3 cuadros">#</span>PALCOS VIP</p>

  <p *ngIf="evento?.mapa =='mapa4'"><span class="cuadros">#</span> PALCOS VIP</p>
  <p *ngIf="evento?.mapa =='mapa4'" ><span class="cuadros3 cuadros">#</span>PALCOS PLATINO</p>
</div>

<div id="desplzate" *ngIf="evento?.mapa=='mapa1'">
  <p>
    <--- Desplázate en el mapa --->
  </p>
</div>

<div class="contenedor-mapa" *ngIf="evento?.mapa=='mapa1'">

  <div class="mapa" *ngIf="evento?.mapa=='mapa1'" style="margin: 0px auto;">

    <div class="centrar-mapa">


      <div class="clearFix"></div>
      <div *ngFor="let item of lista1">
        <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
          (click)="agregarPalcoIndividual(item)">
          {{item}}
        </div>
      </div>

      <div class="tarima">
        TARIMA
      </div>

      <div *ngFor="let item of lista2">
        <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
          (click)="agregarPalcoIndividual(item)">
          {{item}}
        </div>
      </div>
      <div class="clearFix"></div>
      <div class="parte2">
        <div *ngFor="let item of lista3">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
        <div class="tarimaLarga">T</div>
        <div *ngFor="let item of lista4">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
        <div class="clearFix"></div>
      </div>
      <div class="parte2">
        <div *ngFor="let item of lista5">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
        <div class="tarimaLarga">A</div>
        <div *ngFor="let item of lista6">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
        <div class="clearFix"></div>
      </div>

      <div class="tarimaDos">
        <strong>TARIMA</strong>
      </div>
      <div class="parte3">

        <div *ngFor="let item of lista7">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>


        <div class="tarimaLarga">R</div>
        <div *ngFor="let item of lista8">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
      </div>
      <div class="tarimaTres">
        <strong>TARIMA</strong>
      </div>
      <div class="clearFix"></div>


      <div class="parte8">

        <div class="espacioDerecho" *ngFor="let item of lista9">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>


        <div class="tarimaLarga">I</div>


        <div class="espacioDerecho" *ngFor="let item of lista10">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>

      </div>

      <div class="clearFix"></div>

      <div class="parte8">

        <div class="espacioDerecho" *ngFor="let item of lista11">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>

        <div class="tarimaLarga">M</div>


        <div class="espacioDerecho" *ngFor="let item of lista12">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>


      </div>


      <div class="clearFix"></div>


      <div class="parte9">
        <div *ngFor="let item of lista13">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
        <div class="tarimaLarga">A</div>
        <div *ngFor="let item of lista14">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
      </div>




      <div class="clearFix"></div>
      <div class="parte9">
        <div *ngFor="let item of lista15">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
        <div class="tarimaLarga2"></div>
        <div *ngFor="let item of lista16">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
      </div>


      <div class="clearFix"></div>
      <div class="tarimaAncha">TARIMA</div>

      <div class="parte10">
        <div *ngFor="let item of lista17">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
      </div>

      <div class="clearFix"></div>
      <div class="parte11">
        <div *ngFor="let item of lista18">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
      </div>

      <div class="clearFix"></div>
      <div class="parte12">
        <div *ngFor="let item of lista19">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
      </div>

      <div class="clearFix"></div>
    </div>
  </div>
</div>



<div id="desplzate" *ngIf="evento?.mapa=='mapa2'">
  <p>
    <--- Desplázate en el mapa --->
  </p>
</div>
<div class="contenedor-mapa" *ngIf="evento?.mapa=='mapa2'">

  <div class="mapa" *ngIf="evento?.mapa=='mapa2'" style="margin: 0px auto;">

    <div class="centrar-mapa">


      <div class="clearFix"></div>
      <div *ngFor="let item of lista1">
        <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
          (click)="agregarPalcoIndividual(item)">
          {{item}}
        </div>
      </div>

      <div class="tarima">
        TARIMA
      </div>

      <div *ngFor="let item of lista2">
        <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
          (click)="agregarPalcoIndividual(item)">
          {{item}}
        </div>
      </div>
      <div class="clearFix"></div>
      <div class="parte2">
        <div *ngFor="let item of lista3">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
        <div class="tarimaLarga">T</div>
        <div *ngFor="let item of lista4">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
        <div class="clearFix"></div>
      </div>
      <div class="parte2">
        <div *ngFor="let item of lista5">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
        <div class="tarimaLarga">A</div>
        <div *ngFor="let item of lista6">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
        <div class="clearFix"></div>
      </div>


      <div class="parte3">

        <div *ngFor="let item of lista7">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>


        <div class="tarimaLarga">R</div>
        <div *ngFor="let item of lista8">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
      </div>

      <div class="clearFix"></div>


      <div class="parte8">

        <div class="espacioDerecho" *ngFor="let item of lista9">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>


        <div class="tarimaLarga">I</div>


        <div class="espacioDerecho" *ngFor="let item of lista10">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>

      </div>

      <div class="clearFix"></div>

      <div class="parte8">

        <div class="espacioDerecho" *ngFor="let item of lista11">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>

        <div class="tarimaLarga">M</div>


        <div class="espacioDerecho" *ngFor="let item of lista12">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>


      </div>


      <div class="clearFix"></div>


      <div class="parte9">
        <div *ngFor="let item of lista13">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
        <div class="tarimaLarga">A</div>
        <div *ngFor="let item of lista14">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
      </div>




      <div class="clearFix"></div>
      <div class="parte9">
        <div *ngFor="let item of lista15">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
        <div class="tarimaLarga2"></div>
        <div *ngFor="let item of lista16">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
      </div>


      <div class="clearFix"></div>
      <div class="tarimaAncha">TARIMA</div>

      <div class="parte10">
        <div *ngFor="let item of lista17">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
      </div>

      <div class="clearFix"></div>
      <div class="parte11">
        <div *ngFor="let item of lista18">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
      </div>

      <div class="clearFix"></div>
      <div class="parte12">
        <div *ngFor="let item of lista19">
          <div class="cuadros" [ngClass]="{'rojo':item=='v', 'amarillo':item=='p'}"
            (click)="agregarPalcoIndividual(item)">
            {{item}}
          </div>
        </div>
      </div>

      <div class="clearFix"></div>
    </div>
  </div>
</div>


<div id="desplazate" *ngIf="evento?.mapa=='mapa3'">
  <p>
    <--- Desplázate en el mapa --->
  </p>
</div>
<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa3'">
  <div class="mapa3" style="margin: 0px auto;">

    <div class="centrar-mapa">
      <div class="tarimaMapa3 margenIzquierdo">
        LOVE STAGE
      </div>
      <div class="clearFix"></div>

      
      <div *ngFor="let item of lista1">
        <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
          (click)="agregarPalcoIndividual(item.valor)">
          {{item.valor}}
        </div>
      </div>


      <div class="patrocionador2 "></div>  
      <div class="tarimaLarga "></div>
      <div class="patrocionador2 "></div>  
      <div *ngFor="let item of lista2">
        <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
        (click)="agregarPalcoIndividual(item.valor)">
          {{item.valor}}
        </div>
      </div>
      <div class="clearFix"></div>

      <div *ngFor="let item of lista3">
        <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
        (click)="agregarPalcoIndividual(item.valor)">
          {{item.valor}}
        </div>
      </div>
      <div class="patrocionador"></div>  
      <div class="tarimaLarga"></div>
      <div class="patrocionador"></div>  
      <div *ngFor="let item of lista4">
        <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
        (click)="agregarPalcoIndividual(item.valor)">
          {{item.valor}}
        </div>
      </div>
      <div class="clearFix"></div>

        <div *ngFor="let item of lista5">
          <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
          (click)="agregarPalcoIndividual(item.valor)">
            {{item.valor}}
          </div>
        </div>  
        <div class="patrocionador"></div>  
        <div class="tarimaLarga"></div>
        <div class="patrocionador"></div>  
          <div *ngFor="let item of lista6">
            <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
            (click)="agregarPalcoIndividual(item.valor)">
              {{item.valor}}
            </div>
          </div>



          <div class="clearFix"></div>

          <div *ngFor="let item of lista7">
            <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
              (click)="agregarPalcoIndividual(item.valor)">
              {{item.valor}}
            </div>
          </div> 
          <div class="patrocionador"></div>   
          <div class="tarimaLarga">T</div>
          <div class="patrocionador"></div>  
            <div *ngFor="let item of lista8">
              <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
              (click)="agregarPalcoIndividual(item.valor)">
                {{item.valor}}
              </div>
            </div>


            <div class="clearFix"></div>

            <div *ngFor="let item of lista9">
              <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
              (click)="agregarPalcoIndividual(item.valor)">
                {{item.valor}}
              </div>
            </div> 
            <div class="patrocionador"></div>   
            <div class="tarimaLarga">A</div>
            <div class="patrocionador"></div>  
              <div *ngFor="let item of lista10">
                <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                (click)="agregarPalcoIndividual(item.valor)">
                  {{item.valor}}
                </div>
              </div>
              <div class="clearFix"></div>



              <div *ngFor="let item of lista11">
                <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                (click)="agregarPalcoIndividual(item.valor)">
                  {{item.valor}}
                </div>
              </div>
        
              <div class="patrocionador"></div>  
              <div class="tarimaLarga">R</div>
              <div class="patrocionador"></div>  
              <div *ngFor="let item of lista12">
                <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                (click)="agregarPalcoIndividual(item.valor)">
                  {{item.valor}}
                </div>
              </div>
              <div class="clearFix"></div>
        
              <div *ngFor="let item of lista13">
                <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                (click)="agregarPalcoIndividual(item.valor)">
                  {{item.valor}}
                </div>
              </div>
              <div class="patrocionador"></div>  
              <div class="tarimaLarga">I</div>
              <div class="patrocionador"></div>  
              <div *ngFor="let item of lista14">
                <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                (click)="agregarPalcoIndividual(item.valor)">
                  {{item.valor}}
                </div>
              </div>
              <div class="clearFix"></div>
        
                <div *ngFor="let item of lista15">
                  <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                  (click)="agregarPalcoIndividual(item.valor)">
                    {{item.valor}}
                  </div>
                </div> 
                <div class="patrocionador"></div>  
                <div class="tarimaLarga">M</div> 
                <div class="patrocionador"></div>  
                  <div *ngFor="let item of lista16">
                    <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                    (click)="agregarPalcoIndividual(item.valor)">
                      {{item.valor}}
                    </div>
                  </div>
        
        
        
                  <div class="clearFix"></div>
        
                  <div *ngFor="let item of lista17">
                    <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                    (click)="agregarPalcoIndividual(item.valor)">
                      {{item.valor}}
                    </div>
                  </div>  
                  <div class="patrocionador"></div>  
                  <div class="tarimaLarga">A</div> 
                  <div class="patrocionador"></div>  
                    <div *ngFor="let item of lista18">
                      <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                      (click)="agregarPalcoIndividual(item.valor)">
                        {{item.valor}}
                      </div>
                    </div>
        
        
                    <div class="clearFix"></div>
        
                    <div *ngFor="let item of lista19">
                      <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                      (click)="agregarPalcoIndividual(item.valor)">
                        {{item.valor}}
                      </div>
                    </div> 
                    <div class="patrocionador"></div>  
                    <div class="tarimaLarga"></div>  
                    <div class="patrocionador"></div>  
                      <div *ngFor="let item of lista20">
                        <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                        (click)="agregarPalcoIndividual(item.valor)">
                          {{item.valor}}
                        </div>
                      </div>

                      <div class="clearFix"></div>
                      
              <div *ngFor="let item of lista21">
                <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                (click)="agregarPalcoIndividual(item.valor)">
                  {{item.valor}}
                </div>
              </div>
              
              <div class="patrocionador"></div>  
              <div class="tarimaLarga"></div>  
              <div class="patrocionador"></div>  
              <div *ngFor="let item of lista22">
                <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                (click)="agregarPalcoIndividual(item.valor)">
                  {{item.valor}}
                </div>
              </div>
              <div class="clearFix"></div>
        
              <div *ngFor="let item of lista23">
                <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                (click)="agregarPalcoIndividual(item.valor)">
                  {{item.valor}}
                </div>
              </div>
              <div class="patrocionador"></div>  
              <div class="tarimaLarga"></div>  
              <div class="patrocionador"></div>  
              <div *ngFor="let item of lista24">
                <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                (click)="agregarPalcoIndividual(item.valor)">
                  {{item.valor}}
                </div>
              </div>
              <div class="clearFix"></div>
        
                <div *ngFor="let item of lista25">
                  <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                  (click)="agregarPalcoIndividual(item.valor)">
                    {{item.valor}}
                  </div>
                </div>  
                <div class="patrocionador"></div>  
                <div class="tarimaLarga"></div>  
                <div class="patrocionador"></div>  
                  <div *ngFor="let item of lista26">
                    <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                    (click)="agregarPalcoIndividual(item.valor)">
                      {{item.valor}}
                    </div>
                  </div>
                  <div class="clearFix"></div>

                
                  <div class="tarimaAncha2 margen2izquierda"><span>T</span> <span>A</span> <span>R</span><span>I</span>
                    <span>M</span><span>A</span>
                  </div>
        
                  <div class="clearFix"></div>
        
                  <div *ngFor="let item of lista27">
                    <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                    (click)="agregarPalcoIndividual(item.valor)">
                      {{item.valor}}
                    </div>
                  </div>  
                  <div class="patrocionador2 "></div>  
                  <div class="vacio"></div>  
                  <div class="patrocionador2 "></div>  
                    <div *ngFor="let item of lista28">
                      <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                      (click)="agregarPalcoIndividual(item.valor)">
                        {{item.valor}}
                      </div>
                    </div>
        
        
                    <div class="clearFix"></div>
        
                    <div *ngFor="let item of lista29">
                      <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                      (click)="agregarPalcoIndividual(item.valor)">
                        {{item.valor}}
                      </div>
                    </div>  
                    <div class="patrocionador"></div>  
                    <div class="vacio"></div>  
                    <div class="patrocionador"></div>  
                      <div *ngFor="let item of lista30">
                        <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                        (click)="agregarPalcoIndividual(item.valor)">
                          {{item.valor}}
                        </div>
                      </div>

                      <div class="clearFix"></div>
        
                    <div *ngFor="let item of lista31">
                      <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                      (click)="agregarPalcoIndividual(item.valor)">
                        {{item.valor}}
                      </div>
                    </div>  
                    <div class="patrocionador"></div>  
                    <div class="vacio"></div>  
                    <div class="patrocionador"></div>  
                      <div *ngFor="let item of lista32">
                        <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                        (click)="agregarPalcoIndividual(item.valor)">
                          {{item.valor}}
                        </div>
                      </div>

                      <div class="clearFix"></div>
        
                    <div *ngFor="let item of lista33">
                      <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                      (click)="agregarPalcoIndividual(item.valor)">
                        {{item.valor}}
                      </div>
                    </div> 
                    <div class="patrocionador"></div>   
                    <div class="vacio"></div>  
                    <div class="patrocionador"></div>  
                      <div *ngFor="let item of lista34">
                        <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                        (click)="agregarPalcoIndividual(item.valor)">
                          {{item.valor}}
                        </div>
                      </div>

                      <div class="clearFix"></div>
        
                    <div *ngFor="let item of lista35">
                      <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                      (click)="agregarPalcoIndividual(item.valor)">
                        {{item.valor}}
                      </div>
                    
                    </div>  
                    <div class="patrocionador"></div>  
                    <div class="vacio"></div>  
                    <div class="patrocionador"></div> 
                      <div *ngFor="let item of lista36">
                        <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                        (click)="agregarPalcoIndividual(item.valor)">
                          {{item.valor}}
                        </div>
                      </div>

    </div>
  </div>
</div>

















<div id="desplazate" *ngIf="evento?.mapa=='mapa4'">
  <p>
    <--- Desplázate en el mapa --->
  </p>
</div>
<div class="contenedor-mapa mt-5 pb-5" *ngIf="evento?.mapa=='mapa4'">
  <div class="mapa" style="margin: 0px auto;">

    <div class="centrar-mapa">
      <div class="tarimaMapa3 margenIzquierdo">
        Tarima
      </div>
      <div class="clearFix"></div>

      
      <div *ngFor="let item of lista1">
        <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
          (click)="agregarPalcoIndividual(item.valor)">
          {{item.valor}}
        </div>
      </div>

      <div class="clearFix"></div>
   
      <div *ngFor="let item of lista2">
        <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
        (click)="agregarPalcoIndividual(item.valor)">
          {{item.valor}}
        </div>
      </div>
      
      <div class="clearFix"></div>
      <div *ngFor="let item of lista3">
        <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
        (click)="agregarPalcoIndividual(item.valor)">
          {{item.valor}}
        </div>
      </div>
      <div class="clearFix"></div>
      <div *ngFor="let item of lista4">
        <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
        (click)="agregarPalcoIndividual(item.valor)">
          {{item.valor}}
        </div>
      </div>
      
      <div class="clearFix"></div>
        <div *ngFor="let item of lista5">
          <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
          (click)="agregarPalcoIndividual(item.valor)">
            {{item.valor}}
          </div>
        </div>  
        <div class="clearFix"></div>
          <div *ngFor="let item of lista6">
            <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
            (click)="agregarPalcoIndividual(item.valor)">
              {{item.valor}}
            </div>
          </div>



          <div class="clearFix"></div>

          <div *ngFor="let item of lista7">
            <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
              (click)="agregarPalcoIndividual(item.valor)">
              {{item.valor}}
            </div>
          </div> 
          <div class="clearFix"></div>
            <div *ngFor="let item of lista8">
              <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
              (click)="agregarPalcoIndividual(item.valor)">
                {{item.valor}}
              </div>
            </div>


            <div class="clearFix"></div>

            <div *ngFor="let item of lista9">
              <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
              (click)="agregarPalcoIndividual(item.valor)">
                {{item.valor}}
              </div>
            </div> 
            <div class="clearFix"></div>
              <div *ngFor="let item of lista10">
                <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                (click)="agregarPalcoIndividual(item.valor)">
                  {{item.valor}}
                </div>
              </div>
              <div class="clearFix"></div>


              <div class="clearFix"></div>
              <div *ngFor="let item of lista11">
                <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                (click)="agregarPalcoIndividual(item.valor)">
                  {{item.valor}}
                </div>
              </div>
              <div class="clearFix"></div>
              
              <div *ngFor="let item of lista12">
                <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                (click)="agregarPalcoIndividual(item.valor)">
                  {{item.valor}}
                </div>
              </div>
              <div class="clearFix"></div>
        
              <div *ngFor="let item of lista13">
                <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                (click)="agregarPalcoIndividual(item.valor)">
                  {{item.valor}}
                </div>
              </div>
              <div class="clearFix"></div>
              <div *ngFor="let item of lista14">
                <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                (click)="agregarPalcoIndividual(item.valor)">
                  {{item.valor}}
                </div>
              </div>
              <div class="clearFix"></div>
        
                <div *ngFor="let item of lista15">
                  <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                  (click)="agregarPalcoIndividual(item.valor)">
                    {{item.valor}}
                  </div>
                </div> 
                <div class="clearFix"></div>
                  <div *ngFor="let item of lista16">
                    <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                    (click)="agregarPalcoIndividual(item.valor)">
                      {{item.valor}}
                    </div>
                  </div>
        
        
        
                  <div class="clearFix"></div>
        
                  <div *ngFor="let item of lista17">
                    <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                    (click)="agregarPalcoIndividual(item.valor)">
                      {{item.valor}}
                    </div>
                  </div>  
                  <div class="clearFix"></div>
                    <div *ngFor="let item of lista18">
                      <div class="cuadros2" [ngClass]="{'rojo':item.valor=='v', 'amarillo':item.valor=='p','opaco':item.valor=='l', 'cuadros3':item.localidad=='vip'}"
                      (click)="agregarPalcoIndividual(item.valor)">
                        {{item.valor}}
                      </div>
                    </div>
        
        </div>
  </div>
</div>














