.letraGrande span{
  font-size: 18px;
}

.fondoBlanco {
  background-color: white;
}

.divisionLocalidad {
  text-align: right;
  width: 600px;
  text-align: center;
  transition: all 1s;
  position: relative;
  width: 100%;
}
img {
  width: 60px;
  cursor: pointer;
}
.tituloActual{
  font-weight: bold;
}
.tituloLocalidad {
  background: linear-gradient(rgba(236, 158, 40), rgba(255, 80, 28));
  color: #fff;
  padding: 3%;
  width: 100%;
}

.action_button:hover {
  background: linear-gradient(
    rgba(236, 158, 40, 0.87),
    rgba(255, 80, 28, 0.87)
  );
}

p {
  font-size: 20px;
}
.action_button {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  background: linear-gradient(#666, #333);
  font-size: 11px;
  text-transform: uppercase;
}

th {
  background: linear-gradient(#666, #333);
  color: white;
}
td {
  background-color: white;
}

.grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 120px;
  grid-template-rows: repeat(2, 80px);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.grid a {
  font-weight: bold;
  text-decoration: none;

  padding: 15px;
  border-radius: 10px;
  transition: all 300ms;
  background: linear-gradient(#ed701c, #f9b84f);
  color: white;
  transition: all 500ms;
}
.grid a:hover {
  color: #ed701c;
  background: white;
  border: 1px solid #ed701c;
}
.grid img {
  margin-left: 35px;
  font-size: 50px;
}



#convensiones,
#desplzate,
#desplazate{
  margin-top:2%;
  margin-left: 11%;
  margin-bottom: 2%;
}

#convensiones p{
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 50px 300px;
  align-items: center;
}

#desplzate p,
#desplazate p{
  color:#ed701c;
  font-weight: bolder;
  font-size: 20px;

}

#desplzate,
#desplazate{
  display:none;
}

@media(max-width:1500px){
    #desplzate{
      display: block;
    }
}


@media(max-width:1500px){
  #desplazate{
    display: block;
  }
}



.contenedor-mapa {
  overflow: auto;
  width: 90%;
  text-align: center;
  margin: 0px auto;
  margin-left: 10%;


}

@media(max-widht:1500px){
  .contenedor-mapa {
    overflow: scroll;

  
  }
}
.mapa {
  margin: 0px auto;
  width: 1500px;

}

.mapa3 {
  margin: 0px auto;
  width: 1350px;

}


.centrar-mapa{
  margin: 0px auto;
}

.cuadros {
  background-color: #ccc;

  width: 40px;
  height: 40px;
  
  margin: 3px;
  float: left;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
}
.cuadros:hover {
  background-color: #aaa;
}

.cuadros2 {
  background-color: #ccc;

  width: 40px;
  height: 40px;
  
  margin: 3px;
  float: left;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
}

.cuadros3 {
  background-color: rgb(61, 92, 122);
  color:white;
}

.cuadros2:hover {
  background-color: #aaa;
}

.cuadros3:hover {
  background-color: rgb(53, 60, 73);
  
}

.rojo {
  background-color: red;
  cursor: auto;
}
.rojo:hover {
  background-color: red;
}
.amarillo{
  background-color:rgb(255, 153, 0) ;
  cursor: auto;
}

.amarillo:hover{
  background-color:rgb(255, 153, 0) ;
}
.tarima {
  float: left;
  background-color: #333;
  height: 40px;
  color: white;
  margin:3px 3px 0px 3px;
  width: 250px;
  text-align: center;
  font-weight: bold;
}

.clearFix {
  clear: both;
  float: none;
}
.tarimaLarga,
.tarimaLarga2 {
  background-color: #333;

  float: left;
  margin-top: -3px;
  height: 46px;
  width: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.tarimaLarga2{
  height: 50px;
}
.parte2 .cuadros
{
  margin-right: 4px;
  margin-left: 3.2px;
}
.tarimaAncha {
 
  background-color: #333;
 width: 420px;
  height: 30px;
  line-height: 30px;
  margin-left: 470px;

  color: white;
  font-weight: bold;
  text-align: center;
}

.parte3{
 
  
  margin-left: 268px;
}
.parte3 .cuadros{
  
  margin-right: 8px;
  margin-left: 8px;
}

.tarimaDos {
  background-color: #333;
  width: 90px;
  line-height: 90px;
  margin-bottom: -90px;
  height: 90px;
  margin-left: 4px;
  text-align: center;
  color: white;
 
}

.tarimaTres {
  background-color: #333;
  width: 90px;
  margin-left: 1268px;
  line-height: 90px;
  margin-bottom: -90px;
  height: 90px;
  text-align: center;
  color: white;
 
}

.parte8 {
  margin-left: 276px;
}

.parte8 .cuadros{
  margin-right: 7.65px;
  margin-left: 7.65px;
}

.parte9{
  margin-left: 220px;
}



.parte8 .espacioDerecho:nth-child(2) .cuadros{
  margin-right: 60px;
}

.parte8 .espacioDerecho:nth-child(10) .cuadros{
  margin-right: 60px;
}

.parte9 .cuadros {
  margin-right: 4.45px;
  margin-left: 4.45px;
}

.parte10 {
margin-left: 230px;
}
.parte10 .cuadros{
  margin-right: 8px;
  margin-left:8px ;
}

.parte11 {
 margin-left: 230px;
}
.parte11 .cuadros{
  margin-right: 12.1px;
  margin-left:12.1px ;
}
.parte12 {
  margin-left: 42%;
}

.vendido {
  background-color: red;
}
.disponible {
  background-color: #ccc;
}
.disponible,
.vendido {
  padding: 5px;
  margin: 10px auto;
  height: 40px;
  width: 90px;
}

.sold_out {

  display: block;
 
  z-index:10;

  margin-left:35%;
  position: absolute;
  overflow: hidden;
  width: 500px;
  height: 500px;
  margin-top: 180px;
transform: rotate(30deg);

   }
  @media(max-width:1194px){
    .sold_out{
    margin-left: 30%;
  }
  }

  @media(max-width:940px){
    .sold_out{
    margin-left: 25%;
  }
  }
  @media(max-width:727px){

    .sold_out{
      
      width: 400px;
      height: 400px;
      margin-top: 200px;
    }

  }

  @media(max-width:617px){

    .sold_out{

      width: 350px;
      height: 350px;
    }

    
  }

  @media(max-width:529px){

    .sold_out{

      width: 330px;
      height: 330px;
    }
  }

  
  @media(max-width:473px){

    .sold_out{

      width: 280px;
      height: 280px;
    }
  }

    
  @media(max-width:407px){

    .sold_out{
      margin-left: 10%;
    }
  }
  .informacion{
    text-align: left;
    margin-left: 11%;
  }

 .margenIzquierdo{
   margin-left: 415px;
 } 

 .tarimaMapa3 {
  float: left;
  background-color: #333;
  height: 40px;
  color: white;
  
  width: 330px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.margen2izquierda{
  margin-left: 278px;
}
.tarimaAncha2 {
 
  background-color: #333;
  width: 695px;
  height: 25px;
  line-height: 20px;
  margin-top: -3px;  

  color: white;
  font-weight: bold;
  text-align: center;
}
.tarimaAncha2 span{
  margin-left: 15px;
  margin-right: 15px;
}




.vacio {



  float: left;
  margin-top: -3px;
  height: 46px;
  width: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.patrocionador {
  background-color: #ed701c;

  width: 25px;
  height: 46px;
  
  margin: 3px;
  margin-top: -3px;
  float: left;
  font-size: 100%;
  
  text-align: center;
  color: white;font-weight: bold;
}
.patrocionador2{
  
  background-color: #ed701c;

  width: 25px;
  height: 46px;
  
  margin: 3px;
  margin-bottom: -3px;
  
  float: left;
  font-size: 100%;
  
  text-align: center;
  color: white;font-weight: bold;
}

.opaco{
  opacity: 0.3;
  cursor:default;
  background-color: #ccc;
}
.opaco:hover{
  background-color: #ccc;
 
}