

<!--BANNER-->
<section class="Banner" content="width=device-width" >
	<div class="row" >
		<div class="col-12">
			<section id="banner" class="carousel slide"  data-ride="carousel">
			<!--Indicadores-->
				<ul class = "carousel-indicators">
					<li data-target="banner" data-slide-to="0" class="active"> </li>
					<li data-target="banner" data-slide-to="1" class="active"> </li>
					<li data-target="banner" data-slide-to="2" class="active"> </li>
				</ul>		


			<!--Imagenes-->	
				<div class="carousel-inner outerLink">

					<div class="carousel-item active h-25" id="prueba6" style="background-image: url(../assets/images/img/banner2.jpg);">
						
						<div class="carousel-caption">
							<h1> ALL TICKETS</h1>
							<p class="">Innovando en tiqueteria</p>
						</div>
					</div>

					<div class="carousel-item" id="prueba6" style="background-image: url(../assets/images/img/banner1.jpg);">
						
						<div class="carousel-caption">
							<h1> EVENTOS PARA TI</h1>
							<p class="banner">Eres nuestro invitado premium</p>
						</div>
					</div>

					<div class="carousel-item" id="prueba6" style="background-image: url(../assets/images/img/banner3.jpg);">
						
						<div class="carousel-caption">
							<h1>FACIL</h1>
							<p class="banner">Tu entrada en tu celular</p>
						</div>
					</div>


				</div>


			<!--Controles-->	

				<a href="#banner" class="carousel-control-prev" data-slide= "prev"> <span class="carousel-control-prev-icon"></span></a>
				<a href="#banner" class="carousel-control-next" data-slide= "next"><span class="carousel-control-next-icon"></span></a>


			</section>
		</div>
	</div>
</section>




<app-eventos></app-eventos>

<hr>


<app-ciudades ></app-ciudades>
