

.contenedor2:hover p{
    display:initial ;
}
.contenedor2 p {
    display: none;
    background-color: rgba(0,0,0,0);
    text-shadow: 0px 0px 2px black;
}
#prueba{
    padding: 15px;
}
.eventosTitulo{
    margin: 0;
}
.contenedorBot{
    margin-right: 0;
    margin-left: 0;
}
.tituloEvento{
    width: 100%;
}
.fechaCiudad, .botonVer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.fechaCiudad>p{
    padding: 0px 10px;
    margin-bottom: 5px !important;
    font-size: 15px;
}
.titulos{
    font-size: 17px;
}
.sold_out {
    top: 2em;
    left: -4em;
    display: block;
    position: absolute;
    z-index:10;
    margin-left: 43%;
    margin-top:-4%;
    overflow: hidden;
    width: 180px;
    height: 180px;
    transform: rotate(30deg);
}
.contenedorBot>div{
    padding: 0;
}
.bg-darkblue-gradient{
    background: linear-gradient(#102438, #32587e);
}
.texto{
    width: 60%;
}
.oscurecer{
    opacity: 1;
    transition: all .3s;
    z-index: -1;
}

.oscurecer:hover{
    opacity: 0.4;
}

.contenedor2:hover .oscurecer{
    opacity: 0.4;
}
@media(max-width:392px){
    .titulos{
        font-size: 20px;
    }
    .contenedor8{
        padding: 0;
        margin-top: 25px;
    }
    #prueba{
        padding: 10px;
    }
    .fechaCiudad>p{
        font-size: 15px;
    }
}

@media(max-width: 1516px){
    .texto{
        width: 80%;
    }
}
