<div class="contenedorAA display-n">
    <div class="principal">
        <div class="principalInfo displayF">
            <div class="principalInfoTitulo"><h3>{{eventos[0]?.nombre}}</h3></div>
            <div class=""><h3>{{eventos[0]?.descripcion}}</h3></div>
            <div class="principalInfoCompra displayF"><a class="displayF" routerLink="/eventos/evento/{{eventos[0].id}}">Compra tus entradas</a></div>
        </div>
        <img src="{{eventos[0]?.imagenes[0].url}}" alt="" class="logoPrincipal">
    </div>

</div>

<section class="container-fluid fondo-rosado" style="margin-top: 0%; margin-bottom: 5%; text-align: center;">
    <div class="row">
        <div class="col-12">
            <div class="proxEventsTiutlo ">
                <h1>PRÓXIMOS EVENTOS</h1>
            </div>
        </div>
    </div>
    <div class="row ">

        <div class="mt-md-3 col-6 col-sm-6  col-md-6  pl-sm-5 pr-sm-5 pl-md-2 pr-md-2 col-lg-4 col-xl-3 contenedor8"
            *ngFor="let evento of eventos">
            <div class="hover-overlay border rounded imgagenperfil" style="background-color: black; width: 100%;">

                <div class="contenedor contenedor2">
                    <img *ngIf="evento.soldout" class="sold_out"src="../../assets/images/img/SOLDOUT.png" alt=""> 
                    <a routerLink="/eventos/evento/{{evento.id}}" class="outerLink">
                        <div class="oscurecer">
                            <img src="{{evento?.imagen.url}}" *ngIf="evento.imagen" class=" rounded  darkableImage "
                          />
                            
                           
                        </div>
                    <p class="centrado2"><strong> Compra ya tus Tickets para el evento {{evento.nombre}}</strong>
                        
                    </p>
                    </a>
                </div>
            </div>

            <div class="border rounded container-fluid px-0 gris contenedorabajo" style="background-color: white; height: 50%">

                <div class="row contenedor contenedorBot">
                    <div class="col-12 tituloEvento">
                        <h2 class=" rounded titulos pt-3 pr-3 pl-3"><strong> <a class="titulos"
                                    routerLink="/eventos/evento/{{evento.id}}">{{evento?.nombre |resumir2}}</a></strong>
                        </h2>
                        <hr class="aaa">
                    </div>
                    <div class="col-12 col-sm-6 border-right fechaCiudad">
                        <p  class="fechas "><strong>{{darFecha(evento)}} </strong></p>
                        
                        <p class="fechas fechalugar"><strong>Ciudad: {{evento?.ciudadNombre }}</strong></p>
                    </div>
                    <div class="col-12 col-sm-6 botonVer">
                        <button *ngIf="!evento.soldout"
                            class="action_button rounded-pill shadow texto bg-darkblue-gradient"
                            routerLink="/eventos/evento/{{evento.id}}">Comprar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>




<div class="img__wrapper">



</div>