.contenedor2:hover p{
    display:initial ;
}
.contenedor2 p {
    display: none;
}
#prueba{
    padding: 15px;
}
.eventosTitulo{
    margin: 0;
}
.contenedorBot{
    margin-right: 0;
    margin-left: 0;
}
.tituloEvento{
    width: 100%;
}
.fechaCiudad, .botonVer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.fechaCiudad>p{
    padding: 0px 10px;
    margin-bottom: 5px !important;
    font-size: 18px;
}
.titulos{
    font-size: 19px;
}
.sold_out {
    top: 2em;
    left: -4em;
    display: block;
    position: absolute;
    z-index:10;
    margin-left: 43%;
    margin-top:-4%;
    overflow: hidden;
    width: 180px;
    height: 180px;
    transform: rotate(30deg);
}
.contenedorBot>div{
    padding: 0;
}
@media(max-width:392px){
    .titulos{
        font-size: 22px;
    }
    .contenedor8{
        padding: 0;
        margin-top: 25px;
    }
    #prueba{
        padding: 10px;
    }
    .fechaCiudad>p{
        font-size: 18px;
    }
}

