<div id="prueba">	
    <h1><strong>Ventas promotor {{promotor?.nombre}}</strong></h1> 
</div>



<div id="desplazate">
    <p>
      <--- Desplázate para ver toda la información --->
    </p>
</div>



<section class="container-fluid mt-5">
    <div class="row">
      <div class="col-12 esconder">
        <table
          class="tabla table mt-3 border rounded tabla"
          style="text-align: center"
        >
          <thead>
            <tr class="border">
              <th class="border">Numero Reserva</th>
              <th class="border">Documento de la compra</th>
          
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reserva of reservas">
              <td class="border">
                <strong>{{ reserva?.id }}</strong>
              </td>
              <td class="border">
                <strong>{{ reserva?.documentoReserva }}</strong>
              </td>
        
            
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  